servers:
- tenant_id: {{ .tenant_id }}
  id: cdr
  name: CDR
  profile: cdr_australia_fapi_rw
  issuer_id: 1234-1234-1234-1234
  access_token_strategy: "jwt"
  enforce_pkce: false
  enable_trust_anchor: true
  grant_types:
    - authorization_code
    - implicit
    - refresh_token
    - client_credentials
  trust_anchor_configuration:
    jwks:
      keys:
      - 'alg': PS256
        'e': AQAB
        'key_ops':
        - sign
        - verify
        'kid': 542A9B91600488088CD4D816916A9F4488DD2651
        'kty': RSA
        'n': 0qE0TxxopsXaRNZ7qr9w0Sy0-kBGabAjB5BDn0ekvevomMFCvxdxw2d95aLc09k59cFH_dNsP0DCCE9ALp5Ob8gXNHcKEnKzFeLnZGo0xDSw6Xu-JuBw5-Z9bDfSWG_iSoPitG4Bk9j1S2brsKkOOa8iIE0JqkFMu___0ifoaA0C62c5QJIH8qvEr7x-zG9H9Bt1aFOznMy-TvI2s91otg4N_E1RKfRHnwPRjuw7fO1UCxn2LRLR0J_vz_uEHBs9CjH7KcPknPw43nmL-JDWQjUgM2FioTXDwhBEb5o_FQkLJlZmVrxg27iyAePYnoWDenGQsSS_2AhBAfZjqTIXBQ
  dynamic_client_registration:
    enabled: true
    initial_access_token:
      required: false
    payload:
      format: "jws"
      jws_payload:
        jwks:
          keys:
        jwks_uri: ""
  initialize: true
  {{ if .read_client_certificate_from_header }}
  read_client_certificate_from_header: {{ .read_client_certificate_from_header }}
  client_certificate_header: {{ .client_certificate_header }}
  {{ end }}
  root_cas: |
{{ readFile .ca_pem_file | indent 4 }}
{{ readFile .conf_ca_pem_file | indent 4 }}

idps:
- tenant_id: {{ .tenant_id }}
  authorization_server_id: cdr
  id: bugkgai3g9kregtu04u0
  name: Sandbox IDP
  method: static
  credentials:
    static:
      users:
      - username: user
        password: p@ssw0rd!
        authentication_context:
          name: user
          mobile_verified: "+48123456789"
      - username: user2
        password: p@ssw0rd!
        authentication_context:
          name: user2
      - username: user3
        password: p@ssw0rd!
        authentication_context:
          name: user3
server_consents:
- tenant_id: {{ .tenant_id }}
  client_id: bv0ocudfotn6edhsiu7gcdrconsentpage
  custom:
    server_consent_url: {{ .cdr_consent_page_url }}
  server_id: cdr
  type: custom
clients:
# consent page
- tenant_id: {{ .tenant_id }}
  authorization_server_id: system
  client_id: bv0ocudfotn6edhsiu7gcdrconsentpage
  client_secret: {{ default "pMPBmv62z3Jt1S4sWl2qRhOhEGPVZ9EcujGL7Xy0-E0" .consent_page_client_secret }}
  client_name: CDR custom server consent
  grant_types:
  - client_credentials
  scopes:
  - manage_openbanking_consents
  token_endpoint_auth_method: client_secret_basic
policies:
- id: block_cdr_dcr
  language: cloudentity
  policy_name: Unlock DCR
  server_id: cdr
  tenant_id: {{ .tenant_id }}
  type: dcr
  validators:
    - name: 'true'
      conf: {}
claims:
- authorization_server_id: cdr
  id: cdr_arrangement_id
  mapping: cdr_arrangement_id
  name: cdr_arrangement_id
  source_path: openbanking_intent_id
  source_type: authnCtx
  tenant_id: {{ .tenant_id }}
  type: access_token
- authorization_server_id: cdr
  id: cdr_software_product
  mapping: software_id
  name: software_id
  source_path: software_id
  source_type: client
  tenant_id: {{ .tenant_id }}
  type: access_token