# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.idea
.DS_Store

data/seed.yaml.generated
/tests/node_modules/*
/*.iml
/tests/debug.log
/tests/cypress/videos/*
tests/package-lock.json
my.db
mount/conformance/
.env

mount/cdr/holder.json
mount/cdr/recipient.json
mount/cdr/mock-data-holder/resource-api-appsettings.json
