:root {
  --mdc-theme-secondary: #1c5d47;
  --background-color: rgba(238, 232, 232, 0.36);
  --alert-color: #1c5d47;
}

.header {
  background-color: #1c5d47;
}

.content {
  color: black;
}

.header > img {
  height: 60px;
  content: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4VsmrwWvmoN9EJoyhhi7u-O2zokXG1JptBiGBb0sZis9pt8YJbXSPoXKKMgh5zVRjbFc&usqp=CAU);
}
