swagger: '2.0'
info:
  version: '1.15.0'
  title: CDR Banking API
  description: Consumer Data Standards APIs created by the Data Standards Body (DSB), with the Data Standards Chair as the decision maker to meet the needs of the Consumer Data Right
  contact:
    email: contact@consumerdatastandards.gov.au
    name: Consumer Data Standards
    url: https://consumerdatastandards.gov.au
host: data.holder.com.au
basePath: /cds-au/v1
securityDefinitions: {}
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /banking/accounts:
    get:
      description: Obtain a list of accounts
      summary: listAccounts
      tags:
      - Banking
      - Accounts
      operationId: listAccounts
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: product-category
        in: query
        required: false
        enum:
        - BUSINESS_LOANS
        - CRED_AND_CHRG_CARDS
        - LEASES
        - MARGIN_LOANS
        - OVERDRAFTS
        - PERS_LOANS
        - REGULATED_TRUST_ACCOUNTS
        - RESIDENTIAL_MORTGAGES
        - TERM_DEPOSITS
        - TRADE_FINANCE
        - TRANS_AND_SAVINGS_ACCOUNTS
        - TRAVEL_CARDS
        type: string
        description: Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.
      - name: open-status
        in: query
        required: false
        enum:
        - ALL
        - CLOSED
        - OPEN
        default: ALL
        type: string
        description: Used to filter results according to open/closed status. Values can be OPEN, CLOSED or ALL. If absent then ALL is assumed
      - name: is-owned
        in: query
        required: false
        type: boolean
        description: Filters accounts based on whether they are owned by the authorised customer.  True for owned accounts, false for unowned accounts and absent for all accounts
      - name: page
        in: query
        required: false
        default: 1
        type: integer
        format: int32
        description: Page of results to request (standard pagination)
      - name: page-size
        in: query
        required: false
        default: 25
        type: integer
        format: int32
        description: Page size to request. Default is 25 (standard pagination)
      - name: x-v
        in: header
        required: true
        type: string
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
      - name: x-min-v
        in: header
        required: false
        type: string
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
      - name: x-fapi-interaction-id
        in: header
        required: false
        type: string
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
      - name: x-fapi-auth-date
        in: header
        required: false
        type: string
        description: The time when the customer last logged in to the Data Recipient Software Product. Required for all resource calls (customer present and unattended) if the customer has logged in. Not to be included for unauthenticated calls.
      - name: x-fapi-customer-ip-address
        in: header
        required: false
        type: string
        description: The customer's original IP address if the customer is currently logged in to the Data Recipient Software Product. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
      - name: x-cds-client-headers
        in: header
        required: false
        type: string
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the Data Recipient Software Product. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResponseBankingAccountList'
          headers:
            x-v:
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
              type: string
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
        '400':
          description: The following error codes MUST be supported:<br/><ul class="error-code-list"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Invalid Page Size](#error-400-field-invalid-page-size)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li><li>[422 - Invalid Page](#error-422-field-invalid-page)</li></ul>
          schema:
            $ref: '#/definitions/ResponseErrorListV2'
          headers:
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
      security:
        - defaultcc:
          - bank:accounts.basic:read
  /banking/accounts/balances:
    get:
      description: Obtain balances for multiple, filtered accounts
      summary: listBalancesBulk
      tags:
      - Banking
      - Accounts
      operationId: listBalancesBulk
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: product-category
        in: query
        required: false
        enum:
        - BUSINESS_LOANS
        - CRED_AND_CHRG_CARDS
        - LEASES
        - MARGIN_LOANS
        - OVERDRAFTS
        - PERS_LOANS
        - REGULATED_TRUST_ACCOUNTS
        - RESIDENTIAL_MORTGAGES
        - TERM_DEPOSITS
        - TRADE_FINANCE
        - TRANS_AND_SAVINGS_ACCOUNTS
        - TRAVEL_CARDS
        type: string
        description: Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.
      - name: open-status
        in: query
        required: false
        enum:
        - ALL
        - CLOSED
        - OPEN
        default: ALL
        type: string
        description: Used to filter results according to open/closed status. Values can be OPEN, CLOSED or ALL. If absent then ALL is assumed
      - name: is-owned
        in: query
        required: false
        type: boolean
        description: Filters accounts based on whether they are owned by the authorised customer.  True for owned accounts, false for unowned accounts and absent for all accounts
      - name: page
        in: query
        required: false
        default: 1
        type: integer
        format: int32
        description: Page of results to request (standard pagination)
      - name: page-size
        in: query
        required: false
        default: 25
        type: integer
        format: int32
        description: Page size to request. Default is 25 (standard pagination)
      - name: x-v
        in: header
        required: true
        type: string
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
      - name: x-min-v
        in: header
        required: false
        type: string
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
      - name: x-fapi-interaction-id
        in: header
        required: false
        type: string
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
      - name: x-fapi-auth-date
        in: header
        required: false
        type: string
        description: The time when the customer last logged in to the Data Recipient Software Product. Required for all resource calls (customer present and unattended) if the customer has logged in. Not to be included for unauthenticated calls.
      - name: x-fapi-customer-ip-address
        in: header
        required: false
        type: string
        description: The customer's original IP address if the customer is currently logged in to the Data Recipient Software Product. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
      - name: x-cds-client-headers
        in: header
        required: false
        type: string
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the Data Recipient Software Product. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResponseBankingAccountsBalanceList'
          headers:
            x-v:
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
              type: string
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
        '400':
          description: The following error codes MUST be supported:<br/><ul class="error-code-list"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Invalid Page Size](#error-400-field-invalid-page-size)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li><li>[422 - Invalid Page](#error-422-field-invalid-page)</li></ul>
          schema:
            $ref: '#/definitions/ResponseErrorListV2'
          headers:
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
      security:
        - defaultcc:
          - bank:accounts.basic:read
    post:
      description: Obtain balances for a specified list of accounts
      summary: listBalancesSpecificAccounts
      tags:
      - Banking
      - Accounts
      operationId: listBalancesSpecificAccounts
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: accountIds
        in: body
        required: true
        description: The list of account IDs to obtain balances for
        schema:
          $ref: '#/definitions/RequestAccountIds'
      - name: page
        in: query
        required: false
        default: 1
        type: integer
        format: int32
        description: Page of results to request (standard pagination)
      - name: page-size
        in: query
        required: false
        default: 25
        type: integer
        format: int32
        description: Page size to request. Default is 25 (standard pagination)
      - name: x-v
        in: header
        required: true
        type: string
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
      - name: x-min-v
        in: header
        required: false
        type: string
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
      - name: x-fapi-interaction-id
        in: header
        required: false
        type: string
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
      - name: x-fapi-auth-date
        in: header
        required: false
        type: string
        description: The time when the customer last logged in to the Data Recipient Software Product. Required for all resource calls (customer present and unattended) if the customer has logged in. Not to be included for unauthenticated calls.
      - name: x-fapi-customer-ip-address
        in: header
        required: false
        type: string
        description: The customer's original IP address if the customer is currently logged in to the Data Recipient Software Product. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
      - name: x-cds-client-headers
        in: header
        required: false
        type: string
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the Data Recipient Software Product. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResponseBankingAccountsBalanceList'
          headers:
            x-v:
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
              type: string
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
        '400':
          description: The following error codes MUST be supported:<br/><ul class="error-code-list"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Invalid Page Size](#error-400-field-invalid-page-size)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li><li>[422 - Invalid Page](#error-422-field-invalid-page)</li><li>[422 - Unavailable Banking Account](#error-422-authorisation-unavailable-banking-account)</li><li>[422 - Invalid Banking Account](#error-422-authorisation-invalid-banking-account)</li></ul>
          schema:
            $ref: '#/definitions/ResponseErrorListV2'
          headers:
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
  /banking/accounts/{accountId}/balance:
    get:
      description: Obtain the balance for a single specified account
      summary: getBalance
      tags:
      - Banking
      - Accounts
      operationId: getBalance
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        required: true
        type: string
        description: ID of the specific account requested
      - name: x-v
        in: header
        required: true
        type: string
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
      - name: x-min-v
        in: header
        required: false
        type: string
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
      - name: x-fapi-interaction-id
        in: header
        required: false
        type: string
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
      - name: x-fapi-auth-date
        in: header
        required: false
        type: string
        description: The time when the customer last logged in to the Data Recipient Software Product. Required for all resource calls (customer present and unattended) if the customer has logged in. Not to be included for unauthenticated calls.
      - name: x-fapi-customer-ip-address
        in: header
        required: false
        type: string
        description: The customer's original IP address if the customer is currently logged in to the Data Recipient Software Product. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
      - name: x-cds-client-headers
        in: header
        required: false
        type: string
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the Data Recipient Software Product. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResponseBankingAccountsBalanceById'
          headers:
            x-v:
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
              type: string
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
        '400':
          description: The following error codes MUST be supported:<br/><ul class="error-code-list"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li><li>[404 - Unavailable Banking Account](#error-404-authorisation-unavailable-banking-account)</li><li>[404 - Invalid Banking Account](#error-404-authorisation-invalid-banking-account)</li><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li></ul>
          schema:
            $ref: '#/definitions/ResponseErrorListV2'
          headers:
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
  /banking/accounts/{accountId}:
    get:
      description: >-
        Obtain detailed information on a single account.


        Obsolete versions: [v1](includes/obsolete/get-account-detail-v1.html)
      summary: getAccountDetail
      tags:
      - Banking
      - Accounts
      operationId: getAccountDetail
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        required: true
        type: string
        description: A tokenised identifier for the account which is unique but not shareable
      - name: x-v
        in: header
        required: true
        type: string
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
      - name: x-min-v
        in: header
        required: false
        type: string
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
      - name: x-fapi-interaction-id
        in: header
        required: false
        type: string
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
      - name: x-fapi-auth-date
        in: header
        required: false
        type: string
        description: The time when the customer last logged in to the Data Recipient Software Product. Required for all resource calls (customer present and unattended) if the customer has logged in. Not to be included for unauthenticated calls.
      - name: x-fapi-customer-ip-address
        in: header
        required: false
        type: string
        description: The customer's original IP address if the customer is currently logged in to the Data Recipient Software Product. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
      - name: x-cds-client-headers
        in: header
        required: false
        type: string
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the Data Recipient Software Product. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResponseBankingAccountByIdV2'
          headers:
            x-v:
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
              type: string
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
        '400':
          description: The following error codes MUST be supported:<br/><ul class="error-code-list"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li><li>[404 - Unavailable Banking Account](#error-404-authorisation-unavailable-banking-account)</li><li>[404 - Invalid Banking Account](#error-404-authorisation-invalid-banking-account)</li><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li></ul>
          schema:
            $ref: '#/definitions/ResponseErrorListV2'
          headers:
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
  /banking/accounts/{accountId}/transactions:
    get:
      description: >-
        Obtain transactions for a specific account.


        Some general notes that apply to all end points that retrieve transactions:


        - Where multiple transactions are returned, transactions should be ordered according to effective date in descending order

        - As the date and time for a transaction can alter depending on status and transaction type two separate date/times are included in the payload. There are still some scenarios where neither of these time stamps is available. For the purpose of filtering and ordering it is expected that the data holder will use the "effective" date/time which will be defined as:
          - Posted date/time if available, then
          - Execution date/time if available, then
          - A reasonable date/time nominated by the data holder using internal data structures
        - For transaction amounts it should be assumed that a negative value indicates a reduction of the available balance on the account while a positive value indicates an increase in the available balance on the account

        - For aggregated transactions (ie. groups of sub transactions reported as a single entry for the account) only the aggregated information, with as much consistent information accross the subsidiary transactions as possible, is required to be shared
      summary: getTransactions
      tags:
      - Banking
      - Accounts
      operationId: getTransactions
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        required: true
        type: string
        description: ID of the account to get transactions for.  Must have previously been returned by one of the account list end points.
      - name: oldest-time
        in: query
        required: false
        type: string
        description: Constrain the transaction history request to transactions with effective time at or after this date/time. If absent defaults to newest-time minus 90 days.  Format is aligned to DateTimeString common type
      - name: newest-time
        in: query
        required: false
        type: string
        description: Constrain the transaction history request to transactions with effective time at or before this date/time.  If absent defaults to today.  Format is aligned to DateTimeString common type
      - name: min-amount
        in: query
        required: false
        type: string
        description: Filter transactions to only transactions with amounts higher or equal to than this amount
      - name: max-amount
        in: query
        required: false
        type: string
        description: Filter transactions to only transactions with amounts less than or equal to than this amount
      - name: text
        in: query
        required: false
        type: string
        description: Filter transactions to only transactions where this string value is found as a substring of either the reference or description fields. Format is arbitrary ASCII string. This parameter is optionally implemented by data holders. If it is not implemented then a response should be provided as normal without text filtering applied and an additional boolean field named isQueryParamUnsupported should be included in the meta object and set to true (whether the text parameter is supplied or not)
      - name: page
        in: query
        required: false
        default: 1
        type: integer
        format: int32
        description: Page of results to request (standard pagination)
      - name: page-size
        in: query
        required: false
        default: 25
        type: integer
        format: int32
        description: Page size to request. Default is 25 (standard pagination)
      - name: x-v
        in: header
        required: true
        type: string
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
      - name: x-min-v
        in: header
        required: false
        type: string
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
      - name: x-fapi-interaction-id
        in: header
        required: false
        type: string
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
      - name: x-fapi-auth-date
        in: header
        required: false
        type: string
        description: The time when the customer last logged in to the Data Recipient Software Product. Required for all resource calls (customer present and unattended) if the customer has logged in. Not to be included for unauthenticated calls.
      - name: x-fapi-customer-ip-address
        in: header
        required: false
        type: string
        description: The customer's original IP address if the customer is currently logged in to the Data Recipient Software Product. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
      - name: x-cds-client-headers
        in: header
        required: false
        type: string
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the Data Recipient Software Product. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResponseBankingTransactionList'
          headers:
            x-v:
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
              type: string
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
        '400':
          description: The following error codes MUST be supported:<br/><ul class="error-code-list"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Invalid Page Size](#error-400-field-invalid-page-size)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li><li>[400 - Invalid Date](#error-400-field-invalid-date-time)</li><li>[404 - Unavailable Banking Account](#error-404-authorisation-unavailable-banking-account)</li><li>[404 - Invalid Banking Account](#error-404-authorisation-invalid-banking-account)</li><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li><li>[422 - Invalid Page](#error-422-field-invalid-page)</li></ul>
          schema:
            $ref: '#/definitions/ResponseErrorListV2'
          headers:
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
      security:
        - defaultcc:
          - bank:transactions:read
  /banking/accounts/{accountId}/transactions/{transactionId}:
    get:
      description: Obtain detailed information on a transaction for a specific account
      summary: getTransactionDetail
      tags:
      - Banking
      - Accounts
      operationId: getTransactionDetail
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        required: true
        type: string
        description: ID of the account to get transactions for.  Must have previously been returned by one of the account list end points
      - name: transactionId
        in: path
        required: true
        type: string
        description: ID of the transaction obtained from a previous call to one of the other transaction end points
      - name: x-v
        in: header
        required: true
        type: string
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
      - name: x-min-v
        in: header
        required: false
        type: string
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
      - name: x-fapi-interaction-id
        in: header
        required: false
        type: string
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
      - name: x-fapi-auth-date
        in: header
        required: false
        type: string
        description: The time when the customer last logged in to the Data Recipient Software Product. Required for all resource calls (customer present and unattended) if the customer has logged in. Not to be included for unauthenticated calls.
      - name: x-fapi-customer-ip-address
        in: header
        required: false
        type: string
        description: The customer's original IP address if the customer is currently logged in to the Data Recipient Software Product. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
      - name: x-cds-client-headers
        in: header
        required: false
        type: string
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the Data Recipient Software Product. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResponseBankingTransactionById'
          headers:
            x-v:
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
              type: string
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
        '400':
          description: The following error codes MUST be supported:<br/><ul class="error-code-list"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li><li>[400 - Invalid Date](#error-400-field-invalid-date-time)</li><li>[404 - Unavailable Banking Account](#error-404-authorisation-unavailable-banking-account)</li><li>[404 - Invalid Banking Account](#error-404-authorisation-invalid-banking-account)</li><li>[Unavailable Resource](#error-404-resource-unavailable)</li><li>[Invalid Resource](#error-404-resource-invalid)</li><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li></ul>
          schema:
            $ref: '#/definitions/ResponseErrorListV2'
          headers:
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
  /banking/accounts/{accountId}/direct-debits:
    get:
      description: Obtain direct debit authorisations for a specific account
      summary: listDirectDebits
      tags:
      - Banking
      - Direct Debits
      operationId: listDirectDebits
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        required: true
        type: string
        description: ID of the account to get direct debit authorisations for.  Must have previously been returned by one of the account list end points.
      - name: page
        in: query
        required: false
        default: 1
        type: integer
        format: int32
        description: Page of results to request (standard pagination)
      - name: page-size
        in: query
        required: false
        default: 25
        type: integer
        format: int32
        description: Page size to request. Default is 25 (standard pagination)
      - name: x-v
        in: header
        required: true
        type: string
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
      - name: x-min-v
        in: header
        required: false
        type: string
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
      - name: x-fapi-interaction-id
        in: header
        required: false
        type: string
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
      - name: x-fapi-auth-date
        in: header
        required: false
        type: string
        description: The time when the customer last logged in to the Data Recipient Software Product. Required for all resource calls (customer present and unattended) if the customer has logged in. Not to be included for unauthenticated calls.
      - name: x-fapi-customer-ip-address
        in: header
        required: false
        type: string
        description: The customer's original IP address if the customer is currently logged in to the Data Recipient Software Product. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
      - name: x-cds-client-headers
        in: header
        required: false
        type: string
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the Data Recipient Software Product. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResponseBankingDirectDebitAuthorisationList'
          headers:
            x-v:
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
              type: string
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
        '400':
          description: The following error codes MUST be supported:<br/><ul class="error-code-list"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Invalid Page Size](#error-400-field-invalid-page-size)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li><li>[404 - Unavailable Banking Account](#error-404-authorisation-unavailable-banking-account)</li><li>[404 - Invalid Banking Account](#error-404-authorisation-invalid-banking-account)</li><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li><li>[422 - Invalid Page](#error-422-field-invalid-page)</li></ul>
          schema:
            $ref: '#/definitions/ResponseErrorListV2'
          headers:
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
  /banking/accounts/direct-debits:
    get:
      description: Obtain direct debit authorisations for multiple, filtered accounts
      summary: listDirectDebitsBulk
      tags:
      - Banking
      - Direct Debits
      operationId: listDirectDebitsBulk
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: product-category
        in: query
        required: false
        enum:
        - BUSINESS_LOANS
        - CRED_AND_CHRG_CARDS
        - LEASES
        - MARGIN_LOANS
        - OVERDRAFTS
        - PERS_LOANS
        - REGULATED_TRUST_ACCOUNTS
        - RESIDENTIAL_MORTGAGES
        - TERM_DEPOSITS
        - TRADE_FINANCE
        - TRANS_AND_SAVINGS_ACCOUNTS
        - TRAVEL_CARDS
        type: string
        description: Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.
      - name: open-status
        in: query
        required: false
        enum:
        - ALL
        - CLOSED
        - OPEN
        default: ALL
        type: string
        description: Used to filter results according to open/closed status. Values can be OPEN, CLOSED or ALL. If absent then ALL is assumed
      - name: is-owned
        in: query
        required: false
        type: boolean
        description: Filters accounts based on whether they are owned by the authorised customer.  True for owned accounts, false for unowned accounts and absent for all accounts
      - name: page
        in: query
        required: false
        default: 1
        type: integer
        format: int32
        description: Page of results to request (standard pagination)
      - name: page-size
        in: query
        required: false
        default: 25
        type: integer
        format: int32
        description: Page size to request. Default is 25 (standard pagination)
      - name: x-v
        in: header
        required: true
        type: string
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
      - name: x-min-v
        in: header
        required: false
        type: string
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
      - name: x-fapi-interaction-id
        in: header
        required: false
        type: string
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
      - name: x-fapi-auth-date
        in: header
        required: false
        type: string
        description: The time when the customer last logged in to the Data Recipient Software Product. Required for all resource calls (customer present and unattended) if the customer has logged in. Not to be included for unauthenticated calls.
      - name: x-fapi-customer-ip-address
        in: header
        required: false
        type: string
        description: The customer's original IP address if the customer is currently logged in to the Data Recipient Software Product. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
      - name: x-cds-client-headers
        in: header
        required: false
        type: string
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the Data Recipient Software Product. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResponseBankingDirectDebitAuthorisationList'
          headers:
            x-v:
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
              type: string
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
        '400':
          description: The following error codes MUST be supported:<br/><ul class="error-code-list"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Invalid Page Size](#error-400-field-invalid-page-size)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li><li>[422 - Invalid Page](#error-422-field-invalid-page)</li></ul>
          schema:
            $ref: '#/definitions/ResponseErrorListV2'
          headers:
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
    post:
      description: Obtain direct debit authorisations for a specified list of accounts
      summary: listDirectDebitsSpecificAccounts
      tags:
      - Banking
      - Direct Debits
      operationId: listDirectDebitsSpecificAccounts
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: accountIds
        in: body
        required: true
        description: Array of specific accountIds to obtain authorisations for
        schema:
          $ref: '#/definitions/RequestAccountIds'
      - name: page
        in: query
        required: false
        default: 1
        type: integer
        format: int32
        description: Page of results to request (standard pagination)
      - name: page-size
        in: query
        required: false
        default: 25
        type: integer
        format: int32
        description: Page size to request. Default is 25 (standard pagination)
      - name: x-v
        in: header
        required: true
        type: string
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
      - name: x-min-v
        in: header
        required: false
        type: string
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
      - name: x-fapi-interaction-id
        in: header
        required: false
        type: string
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
      - name: x-fapi-auth-date
        in: header
        required: false
        type: string
        description: The time when the customer last logged in to the Data Recipient Software Product. Required for all resource calls (customer present and unattended) if the customer has logged in. Not to be included for unauthenticated calls.
      - name: x-fapi-customer-ip-address
        in: header
        required: false
        type: string
        description: The customer's original IP address if the customer is currently logged in to the Data Recipient Software Product. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
      - name: x-cds-client-headers
        in: header
        required: false
        type: string
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the Data Recipient Software Product. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResponseBankingDirectDebitAuthorisationList'
          headers:
            x-v:
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
              type: string
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
        '400':
          description: The following error codes MUST be supported:<br/><ul class="error-code-list"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Invalid Page Size](#error-400-field-invalid-page-size)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li><li>[422 - Invalid Page](#error-422-field-invalid-page)</li><li>[422 - Unavailable Banking Account](#error-422-authorisation-unavailable-banking-account)</li><li>[422 - Invalid Banking Account](#error-422-authorisation-invalid-banking-account)</li></ul>
          schema:
            $ref: '#/definitions/ResponseErrorListV2'
          headers:
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
  /banking/accounts/{accountId}/payments/scheduled:
    get:
      description: Obtain scheduled, outgoing payments for a specific account
      summary: listScheduledPayments
      tags:
      - Banking
      - Scheduled Payments
      operationId: listScheduledPayments
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        required: true
        type: string
        description: ID of the account to get scheduled payments for. Must have previously been returned by one of the account list end points. The account specified is the source account for the payment
      - name: page
        in: query
        required: false
        default: 1
        type: integer
        format: int32
        description: Page of results to request (standard pagination)
      - name: page-size
        in: query
        required: false
        default: 25
        type: integer
        format: int32
        description: Page size to request. Default is 25 (standard pagination)
      - name: x-v
        in: header
        required: true
        type: string
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
      - name: x-min-v
        in: header
        required: false
        type: string
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
      - name: x-fapi-interaction-id
        in: header
        required: false
        type: string
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
      - name: x-fapi-auth-date
        in: header
        required: false
        type: string
        description: The time when the customer last logged in to the Data Recipient Software Product. Required for all resource calls (customer present and unattended) if the customer has logged in. Not to be included for unauthenticated calls.
      - name: x-fapi-customer-ip-address
        in: header
        required: false
        type: string
        description: The customer's original IP address if the customer is currently logged in to the Data Recipient Software Product. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
      - name: x-cds-client-headers
        in: header
        required: false
        type: string
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the Data Recipient Software Product. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResponseBankingScheduledPaymentsList'
          headers:
            x-v:
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
              type: string
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
        '400':
          description: The following error codes MUST be supported:<br/><ul class="error-code-list"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Invalid Page Size](#error-400-field-invalid-page-size)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li><li>[404 - Unavailable Banking Account](#error-404-authorisation-unavailable-banking-account)</li><li>[404 - Invalid Banking Account](#error-404-authorisation-invalid-banking-account)</li><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li><li>[422 - Invalid Page](#error-422-field-invalid-page)</li></ul>
          schema:
            $ref: '#/definitions/ResponseErrorListV2'
          headers:
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
  /banking/payments/scheduled:
    get:
      description: Obtain scheduled payments for multiple, filtered accounts that are the source of funds for the payments
      summary: listScheduledPaymentsBulk
      tags:
      - Banking
      - Scheduled Payments
      operationId: listScheduledPaymentsBulk
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: product-category
        in: query
        required: false
        enum:
        - BUSINESS_LOANS
        - CRED_AND_CHRG_CARDS
        - LEASES
        - MARGIN_LOANS
        - OVERDRAFTS
        - PERS_LOANS
        - REGULATED_TRUST_ACCOUNTS
        - RESIDENTIAL_MORTGAGES
        - TERM_DEPOSITS
        - TRADE_FINANCE
        - TRANS_AND_SAVINGS_ACCOUNTS
        - TRAVEL_CARDS
        type: string
        description: Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.
      - name: open-status
        in: query
        required: false
        enum:
        - ALL
        - CLOSED
        - OPEN
        default: ALL
        type: string
        description: Used to filter results according to open/closed status. Values can be OPEN, CLOSED or ALL. If absent then ALL is assumed
      - name: is-owned
        in: query
        required: false
        type: boolean
        description: Filters accounts based on whether they are owned by the authorised customer.  True for owned accounts, false for unowned accounts and absent for all accounts
      - name: page
        in: query
        required: false
        default: 1
        type: integer
        format: int32
        description: Page of results to request (standard pagination)
      - name: page-size
        in: query
        required: false
        default: 25
        type: integer
        format: int32
        description: Page size to request. Default is 25 (standard pagination)
      - name: x-v
        in: header
        required: true
        type: string
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
      - name: x-min-v
        in: header
        required: false
        type: string
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
      - name: x-fapi-interaction-id
        in: header
        required: false
        type: string
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
      - name: x-fapi-auth-date
        in: header
        required: false
        type: string
        description: The time when the customer last logged in to the Data Recipient Software Product. Required for all resource calls (customer present and unattended) if the customer has logged in. Not to be included for unauthenticated calls.
      - name: x-fapi-customer-ip-address
        in: header
        required: false
        type: string
        description: The customer's original IP address if the customer is currently logged in to the Data Recipient Software Product. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
      - name: x-cds-client-headers
        in: header
        required: false
        type: string
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the Data Recipient Software Product. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResponseBankingScheduledPaymentsList'
          headers:
            x-v:
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
              type: string
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
        '400':
          description: The following error codes MUST be supported:<br/><ul class="error-code-list"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Invalid Page Size](#error-400-field-invalid-page-size)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li><li>[422 - Invalid Page](#error-422-field-invalid-page)</li></ul>
          schema:
            $ref: '#/definitions/ResponseErrorListV2'
          headers:
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
    post:
      description: Obtain scheduled payments for a specified list of accounts
      summary: listScheduledPaymentsSpecificAccounts
      tags:
      - Banking
      - Scheduled Payments
      operationId: listScheduledPaymentsSpecificAccounts
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: accountIds
        in: body
        required: true
        description: Array of specific accountIds to obtain scheduled payments for.  The accounts specified are the source of funds for the payments returned
        schema:
          $ref: '#/definitions/RequestAccountIds'
      - name: page
        in: query
        required: false
        default: 1
        type: integer
        format: int32
        description: Page of results to request (standard pagination)
      - name: page-size
        in: query
        required: false
        default: 25
        type: integer
        format: int32
        description: Page size to request. Default is 25 (standard pagination)
      - name: x-v
        in: header
        required: true
        type: string
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
      - name: x-min-v
        in: header
        required: false
        type: string
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
      - name: x-fapi-interaction-id
        in: header
        required: false
        type: string
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
      - name: x-fapi-auth-date
        in: header
        required: false
        type: string
        description: The time when the customer last logged in to the Data Recipient Software Product. Required for all resource calls (customer present and unattended) if the customer has logged in. Not to be included for unauthenticated calls.
      - name: x-fapi-customer-ip-address
        in: header
        required: false
        type: string
        description: The customer's original IP address if the customer is currently logged in to the Data Recipient Software Product. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
      - name: x-cds-client-headers
        in: header
        required: false
        type: string
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the Data Recipient Software Product. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResponseBankingScheduledPaymentsList'
          headers:
            x-v:
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
              type: string
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
        '400':
          description: The following error codes MUST be supported:<br/><ul class="error-code-list"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Invalid Page Size](#error-400-field-invalid-page-size)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li><li>[422 - Invalid Page](#error-422-field-invalid-page)</li><li>[422 - Unavailable Banking Account](#error-422-authorisation-unavailable-banking-account)</li><li>[422 - Invalid Banking Account](#error-422-authorisation-invalid-banking-account)</li></ul>
          schema:
            $ref: '#/definitions/ResponseErrorListV2'
          headers:
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
  /banking/payees:
    get:
      description: >-
        Obtain a list of pre-registered payees.


        Obsolete versions: [v1](includes/obsolete/get-payees-v1.html)
      summary: listPayees
      tags:
      - Banking
      - Payees
      operationId: listPayees
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: type
        in: query
        required: false
        enum:
        - ALL
        - BILLER
        - DIGITAL_WALLET
        - DOMESTIC
        - INTERNATIONAL
        default: ALL
        type: string
        description: Filter on the payee type field.  In addition to normal type field values, ALL can be specified to retrieve all payees.  If absent the assumed value is ALL
      - name: page
        in: query
        required: false
        default: 1
        type: integer
        format: int32
        description: Page of results to request (standard pagination)
      - name: page-size
        in: query
        required: false
        default: 25
        type: integer
        format: int32
        description: Page size to request. Default is 25 (standard pagination)
      - name: x-v
        in: header
        required: true
        type: string
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
      - name: x-min-v
        in: header
        required: false
        type: string
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
      - name: x-fapi-interaction-id
        in: header
        required: false
        type: string
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
      - name: x-fapi-auth-date
        in: header
        required: false
        type: string
        description: The time when the customer last logged in to the Data Recipient Software Product. Required for all resource calls (customer present and unattended) if the customer has logged in. Not to be included for unauthenticated calls.
      - name: x-fapi-customer-ip-address
        in: header
        required: false
        type: string
        description: The customer's original IP address if the customer is currently logged in to the Data Recipient Software Product. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
      - name: x-cds-client-headers
        in: header
        required: false
        type: string
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the Data Recipient Software Product. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResponseBankingPayeeListV2'
          headers:
            x-v:
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
              type: string
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
        '400':
          description: The following error codes MUST be supported:<br/><ul class="error-code-list"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Invalid Page Size](#error-400-field-invalid-page-size)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li><li>[422 - Invalid Page](#error-422-field-invalid-page)</li></ul>
          schema:
            $ref: '#/definitions/ResponseErrorListV2'
          headers:
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
  /banking/payees/{payeeId}:
    get:
      description: >-
        Obtain detailed information on a single payee.


        Note that the payee sub-structure should be selected to represent the payment destination only rather than any known characteristics of the payment recipient.


        Obsolete versions: [v1](includes/obsolete/get-payee-detail-v1.html)
      summary: getPayeeDetail
      tags:
      - Banking
      - Payees
      operationId: getPayeeDetail
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: payeeId
        in: path
        required: true
        type: string
        description: The ID used to locate the details of a particular payee
      - name: x-v
        in: header
        required: true
        type: string
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
      - name: x-min-v
        in: header
        required: false
        type: string
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
      - name: x-fapi-interaction-id
        in: header
        required: false
        type: string
        description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
      - name: x-fapi-auth-date
        in: header
        required: false
        type: string
        description: The time when the customer last logged in to the Data Recipient Software Product. Required for all resource calls (customer present and unattended) if the customer has logged in. Not to be included for unauthenticated calls.
      - name: x-fapi-customer-ip-address
        in: header
        required: false
        type: string
        description: The customer's original IP address if the customer is currently logged in to the Data Recipient Software Product. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
      - name: x-cds-client-headers
        in: header
        required: false
        type: string
        description: The customer's original standard http headers [Base64](#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the Data Recipient Software Product. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResponseBankingPayeeByIdV2'
          headers:
            x-v:
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
              type: string
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
        '400':
          description: The following error codes MUST be supported:<br/><ul class="error-code-list"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Invalid Page Size](#error-400-field-invalid-page-size)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li><li>[404 - Unavailable Resource](#error-404-resource-unavailable)</li><li>[404 - Invalid Resource](#error-404-resource-invalid)</li><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li><li>[422 - Invalid Page](#error-422-field-invalid-page)</li></ul>
          schema:
            $ref: '#/definitions/ResponseErrorListV2'
          headers:
            x-fapi-interaction-id:
              description: An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.
              type: string
  /banking/products:
    get:
      description: >-
        Obtain a list of products that are currently openly offered to the market


        Note that the results returned by this end point are expected to be ordered in descending order according to ``lastUpdated``.


        ### Conventions

        In the product reference payloads there are a number of recurring conventions that are explained here, in one place.


        #### Arrays Of Features


        In the product detail payload there are a number of arrays articulating generic features, constraints, prices, etc. The intent of these arrays is as follows:


        - Each element in an array has the same structure so that clients can reliably interpret the payloads

        - Each element as a type element that is an enumeration of the specific aspect of a product being described, such as types of fees.

        - Each element has a field name [additionalValue](#productfeaturetypedoc).  This is a generic field with contents that will vary based on the type of object being described. The contents of this field for the ADDITIONAL_CARDS feature is the number of cards allowed while the contents of this field for the MAX_LIMIT constraint would be the maximum credit limit allowed for the product.

        - An element in these arrays of the same type may appear more than once. For instance, a product may offer two separate loyalty programs that the customer can select from. A fixed term mortgage may have different rates for different term lengths.

        - An element in these arrays may contain an additionalInfo and additionalInfoUri field. The additionalInfo field is used to provide displayable text clarifying the purpose of the element in some way when the product is presented to a customer. The additionalInfoUri provides a link to externally hosted information specifically relevant to that feature of the product.

        - Depending on the type of data being represented there may be additional specific fields.


        #### URIs To More Information


        As the complexities and nuances of a financial product can not easily be fully expressed in a data structure without a high degree of complexity it is necessary to provide additional reference information that a potential customer can access so that they are fully informed of the features and implications of the product. The payloads for product reference therefore contain numerous fields that are provided to allow the product holder to describe the product more fully using a web page hosted on their online channels.


        These URIs do not need to all link to different pages. If desired, they can all link to a single hosted page and use difference HTML anchors to focus on a specific topic such as eligibility or fees.


        #### Linkage To Accounts

        From the moment that a customer applies for a product and an account is created the account and the product that spawned it will diverge.  Rates and features of the product may change and a discount may be negotiated for the account.


        For this reason, while productCategory is a common field between accounts and products, there is no specific ID that can be used to link an account to a product within the regime.


        Similarly, many of the fields and objects in the product payload will appear in the account detail payload but the structures and semantics are not identical as one refers to a product that can potentially be originated and one refers to an account that actual has been instantiated and created along with the associated decisions inherent in that process.


        #### Dates

        It is expected that data consumers needing this data will call relatively frequently to ensure the data they have is representative of the current offering from a bank.  To minimise the volume and frequency of these calls the ability to set a lastUpdated field with the date and time of the last update to this product is included.  A call for a list of products can then be filtered to only return products that have been updated since the last time that data was obtained using the updated-since query parameter.


        In addition, the concept of effective date and time has also been included.  This allows for a product to be marked for obsolescence, or introduction, from a certain time without the need for an update to show that a product has been changed.  The inclusion of these dates also removes the need to represent deleted products in the payload.  Products that are no long offered can be marked not effective for a few weeks before they are then removed from the product set as an option entirely.


        Obsolete versions: [v1](includes/obsolete/get-products-v1.html) [v2](includes/obsolete/get-products-v2.html)
      summary: listProducts
      tags:
      - Banking
      - Products
      operationId: listProducts
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: effective
        in: query
        required: false
        enum:
        - ALL
        - CURRENT
        - FUTURE
        default: CURRENT
        type: string
        description: Allows for the filtering of products based on whether the current time is within the period of time defined as effective by the effectiveFrom and effectiveTo fields. Valid values are ‘CURRENT’, ‘FUTURE’ and ‘ALL’. If absent defaults to 'CURRENT'
      - name: updated-since
        in: query
        required: false
        type: string
        description: Only include products that have been updated after the specified date and time. If absent defaults to include all products
      - name: brand
        in: query
        required: false
        type: string
        description: Filter results based on a specific brand
      - name: product-category
        in: query
        required: false
        enum:
        - BUSINESS_LOANS
        - CRED_AND_CHRG_CARDS
        - LEASES
        - MARGIN_LOANS
        - OVERDRAFTS
        - PERS_LOANS
        - REGULATED_TRUST_ACCOUNTS
        - RESIDENTIAL_MORTGAGES
        - TERM_DEPOSITS
        - TRADE_FINANCE
        - TRANS_AND_SAVINGS_ACCOUNTS
        - TRAVEL_CARDS
        type: string
        description: Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.
      - name: page
        in: query
        required: false
        default: 1
        type: integer
        format: int32
        description: Page of results to request (standard pagination)
      - name: page-size
        in: query
        required: false
        default: 25
        type: integer
        format: int32
        description: Page size to request. Default is 25 (standard pagination)
      - name: x-v
        in: header
        required: true
        type: string
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
      - name: x-min-v
        in: header
        required: false
        type: string
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResponseBankingProductListV2'
          headers:
            x-v:
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
              type: string
        '400':
          description: The following error codes MUST be supported:<br/><ul class="error-code-list"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Invalid Date](#error-400-field-invalid-date-time)</li><li>[400 - Invalid Page Size](#error-400-field-invalid-page-size)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li><li>[422 - Invalid Page](#error-422-field-invalid-page)</li></ul>
          schema:
            $ref: '#/definitions/ResponseErrorListV2'
          headers: {}
  /banking/products/{productId}:
    get:
      description: >-
        Obtain detailed information on a single product offered openly to the market.


        Obsolete versions: [v1](includes/obsolete/get-product-detail-v1.html) [v2](includes/obsolete/get-product-detail-v2.html) [v3](includes/obsolete/get-product-detail-v3.html)
      summary: getProductDetail
      tags:
      - Banking
      - Products
      operationId: getProductDetail
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: productId
        in: path
        required: true
        type: string
        description: ID of the specific product requested
      - name: x-v
        in: header
        required: true
        type: string
        description: Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If the value of [x-min-v](#request-headers) is equal to or higher than the value of [x-v](#request-headers) then the [x-min-v](#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](#request-headers)
      - name: x-min-v
        in: header
        required: false
        type: string
        description: Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](#request-headers) and [x-v](#request-headers). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResponseBankingProductByIdV4'
          headers:
            x-v:
              description: The [version](#response-headers) of the API end point that the data holder has responded with.
              type: string
        '400':
          description: The following error codes MUST be supported:<br/><ul class="error-code-list"><li>[400 - Invalid Field](#error-400-field-invalid)</li><li>[400 - Invalid Version](#error-400-header-invalid-version)</li><li>[404 - Unavailable Resource](#error-404-resource-unavailable)</li><li>[404 - Invalid Resource](#error-404-resource-invalid)</li><li>[406 - Unsupported Version](#error-406-header-unsupported-version)</li></ul>
          schema:
            $ref: '#/definitions/ResponseErrorListV2'
          headers: {}
definitions:
  RequestAccountIds:
    title: RequestAccountIds
    type: object
    properties:
      data:
        $ref: '#/definitions/Data'
      meta:
        type: object
    required:
    - data
  ResponseBankingProductListV2:
    title: ResponseBankingProductListV2
    type: object
    properties:
      data:
        $ref: '#/definitions/Data1'
      links:
        $ref: '#/definitions/LinksPaginated'
      meta:
        $ref: '#/definitions/MetaPaginated'
    required:
    - data
    - links
    - meta
  BankingProductV4:
    title: BankingProductV4
    type: object
    properties:
      productId:
        description: A data holder specific unique identifier for this product. This identifier must be unique to a product but does not otherwise need to adhere to ID permanence guidelines.
        type: string
      effectiveFrom:
        description: The date and time from which this product is effective (ie. is available for origination).  Used to enable the articulation of products to the regime before they are available for customers to originate
        type: string
      effectiveTo:
        description: The date and time at which this product will be retired and will no longer be offered.  Used to enable the managed deprecation of products
        type: string
      lastUpdated:
[...]
