idps:
- tenant_id: default
  authorization_server_id: admin
  id: default
  name: Default
  method: static
  credentials:
    static:
      users:
      - username: admin
        password: p@ssw0rd!
        authentication_context:
          name: admin
