servers:
- tenant_id: {{ .tenant_id }}
  id: {{ .bank_customers_server_id }}
  name: Bank customers
  initialize: true
  subject_format: legacy
idps:
- tenant_id: {{ .tenant_id }}
  id: sandbox
  authorization_server_id: {{ .bank_customers_server_id }}
  name: Sandbox IDP
  method: static
  settings: 
    static: 
      hint: true
  credentials:
    static:
      users:
      - username: user
        password: p@ssw0rd!
        authentication_context:
          name: user
      - username: user2
        password: p@ssw0rd!
        authentication_context:
          name: user2
      - username: user3
        password: p@ssw0rd!
        authentication_context:
          name: user3
clients:
- tenant_id: {{ .tenant_id }}
  authorization_server_id: {{ .bank_customers_server_id }}
  client_id: {{ .consent_self_service_client_id }}
  client_name: Consent self service
  client_secret: {{ .consent_self_service_client_secret }}
  grant_types:
  - authorization_code
  token_endpoint_auth_method: none
  redirect_uris:
  - {{ .consent_self_service_portal_url }}/callback
  trusted: true
- tenant_id: {{ .tenant_id }}
  authorization_server_id: {{ .bank_customers_server_id }}
  client_id: {{ .consent_self_service_backend_client_id }}
  client_name: Consent self service backend
  client_secret: {{ .consent_self_service_backend_client_secret }}
  grant_types:
  - client_credentials
  scopes:
  - introspect_tokens
  - revoke_tokens
  token_endpoint_auth_method: client_secret_post
