servers:
- tenant_id: {{ .tenant_id }}
  id: cdr
  name: CDR
  profile: cdr_australia_fapi_rw
  issuer_id: 1234-1234-1234-1234
  access_token_strategy: "jwt"
  enforce_pkce: false
  enable_trust_anchor: true
  grant_types:
    - authorization_code
    - implicit
    - refresh_token
    - client_credentials
  trust_anchor_configuration:
    jwks:
      keys:
      - 'alg': PS256
        'e': AQAB
        'key_ops':
        - sign
        - verify
        'kid': 542A9B91600488088CD4D816916A9F4488DD2651
        'kty': RSA
        'n': 0qE0TxxopsXaRNZ7qr9w0Sy0-kBGabAjB5BDn0ekvevomMFCvxdxw2d95aLc09k59cFH_dNsP0DCCE9ALp5Ob8gXNHcKEnKzFeLnZGo0xDSw6Xu-JuBw5-Z9bDfSWG_iSoPitG4Bk9j1S2brsKkOOa8iIE0JqkFMu___0ifoaA0C62c5QJIH8qvEr7x-zG9H9Bt1aFOznMy-TvI2s91otg4N_E1RKfRHnwPRjuw7fO1UCxn2LRLR0J_vz_uEHBs9CjH7KcPknPw43nmL-JDWQjUgM2FioTXDwhBEb5o_FQkLJlZmVrxg27iyAePYnoWDenGQsSS_2AhBAfZjqTIXBQ
  dynamic_client_registration:
    enabled: true
    initial_access_token:
      required: false
    payload:
      format: "jws"
      jws_payload:
        jwks:
          keys:
          - 'use': sig
            'kty': RSA
            'kid': B548C914A02787A3B5F15583C8EB030D94BC2424
            'alg': PS256
            'n': 0Iv8ocA0NvV7dd9hHI-n21OuRD-9bnLw213Y3q7VFwg2tufu0Z8TPOoHDjWVkbxaq1K8nPDtBAdR5HXnbjXFxPGwRV8UgGMDSI6Z_M0j1bUGV9D9rukcvJ8Z7QpDbKuZzeIg6LrXfIpvyNisEXjMJI14zz9dX1EtWUYQTRq5r2UF8C8pHE1yUtaVnsOZBLmLqMPOPNG1JsK2WhL1uOa0ef-UTQSjN1fw5D2d9K8azUPQL2ecsJA_ZTDZovVzS0fP0MdRXZ_uNRmaww2zg0tIJLQH1Z7AmwAP4LrPIGma6nWo6-57ZJ263k84o9fdR5-hVIcQDEGlKpZDoeNLOBg09w
            'e': AQAB
          - 'use': enc
            'kty': RSA
            'kid': B548C914A02787A3B5F15583C8EB030D94BC2425
            'alg': RSA-OAEP
            'n': 0Iv8ocA0NvV7dd9hHI-n21OuRD-9bnLw213Y3q7VFwg2tufu0Z8TPOoHDjWVkbxaq1K8nPDtBAdR5HXnbjXFxPGwRV8UgGMDSI6Z_M0j1bUGV9D9rukcvJ8Z7QpDbKuZzeIg6LrXfIpvyNisEXjMJI14zz9dX1EtWUYQTRq5r2UF8C8pHE1yUtaVnsOZBLmLqMPOPNG1JsK2WhL1uOa0ef-UTQSjN1fw5D2d9K8azUPQL2ecsJA_ZTDZovVzS0fP0MdRXZ_uNRmaww2zg0tIJLQH1Z7AmwAP4LrPIGma6nWo6-57ZJ263k84o9fdR5-hVIcQDEGlKpZDoeNLOBg09w
            'e': AQAB
        jwks_uri: ""
  initialize: true
  {{ if .read_client_certificate_from_header }}
  read_client_certificate_from_header: {{ .read_client_certificate_from_header }}
  client_certificate_header: {{ .client_certificate_header }}
  {{ end }}
  root_cas: |
{{ readFile .ca_pem_file | indent 4 }}
{{ readFile .conf_ca_pem_file | indent 4 }}

idps:
- tenant_id: {{ .tenant_id }}
  authorization_server_id: cdr
  id: bugkgai3g9kregtu04u0
  name: Sandbox IDP
  method: static
  attributes:
  - name: name
    description: Name
    type: string
    labels:
  - name: given_name
    description: Given name
    type: string
    labels:
  - name: family_name
    description: Family name
    type: string
    labels:
  - name: email
    description: Email
    type: string
    labels:
  - name: email_verified
    description: Email verified
    type: bool
    labels:
  - name: phone_number
    description: Phone number
    type: string
    labels:
  - name: phone_number_verified
    description: Phone number verified
    type: bool
    labels:
  - name: cpf
    description: cpf
    type: string
    labels:
  - name: cnpj
    description: cnpj
    type: string
    labels:
  mappings:
  - source: name
    target: name
    type: string
    allow_weak_decoding: false
  - source: given_name
    target: given_name
    type: string
    allow_weak_decoding: false
  - source: family_name
    target: family_name
    type: string
    allow_weak_decoding: false
  - source: email
    target: email
    type: string
    allow_weak_decoding: false
  - source: email_verified
    target: email_verified
    type: bool
    allow_weak_decoding: false
  - source: phone_number
    target: phone_number
    type: string
    allow_weak_decoding: false
  - source: phone_number_verified
    target: phone_number_verified
    type: bool
    allow_weak_decoding: false
  - source: cpf
    target: cpf
    type: string
    allow_weak_decoding: false
  - source: cnpj
    target: cnpj
    type: string
    allow_weak_decoding: false
  credentials:
    static:
      users:
      - username: user
        password: p@ssw0rd!
        authentication_context:
          name: user
          mobile_verified: "+48123456789"
        additional_attributes:
          cpf: "11111111111"
      - username: user2
        password: p@ssw0rd!
        authentication_context:
          name: user2
          cpf: "11111111222"
      - username: user3
        password: p@ssw0rd!
        authentication_context:
          name: user3
          cnpj: "22233344455566"
server_consents:
- tenant_id: {{ .tenant_id }}
  client_id: cdr-consent-page
  custom:
    server_consent_url: {{ .consent_page_url }}
  server_id: cdr
  type: custom
clients:
# consent page
- tenant_id: {{ .tenant_id }}
  authorization_server_id: system
  client_id: cdr-consent-page
  client_secret: {{ default "pMPBmv62z3Jt1S4sWl2qRhOhEGPVZ9EcujGL7Xy0-E0" .consent_page_client_secret }}
  client_name: CDR custom server consent
  grant_types:
  - client_credentials
  scopes:
  - manage_openbanking_consents
  token_endpoint_auth_method: client_secret_basic
policies:
- id: block_cdr_dcr
  language: cloudentity
  policy_name: Unlock DCR
  server_id: cdr
  tenant_id: {{ .tenant_id }}
  type: dcr
  validators:
    - name: "true"
