servers:
- tenant_id: {{ .tenant_id }}
  id: {{ .server_id }}
  name: CDR
  profile: cdr_australia_fapi_rw
  color: "#fabc3e"
  subject_format: legacy
  issuer_id: 1234-1234-1234-1234
  access_token_strategy: "jwt"
  enforce_pkce: false
  enable_trust_anchor: true
  authentication_context_settings:
    attributes:
    - name: sub
      description: Subject
      type: string
      labels:
      - advanced
    - name: scp
      description: List of scopes
      type: string_array
      labels:
      - advanced
    - name: groups
      description: List of groups that user belongs to
      type: string_array
      labels: []
    - name: email
      description: Email
      type: string
      labels:
      - simple
    - name: email_verified
      description: Email verified
      type: bool
      labels:
      - advanced
    - name: phone_number
      description: Phone
      type: string
      labels:
      - simple
    - name: phone_number_verified
      description: Phone verified
      type: bool
      labels:
      - advanced
    - name: address.formatted
      description: Full mailing address
      type: string
      labels: []
    - name: address.street_address
      description: Full street address
      type: string
      labels: []
    - name: address.locality
      description: City or locality
      type: string
      labels: []
    - name: address.region
      description: Stage, province, prefecture or region
      type: string
      labels: []
    - name: address.country
      description: Country
      type: string
      labels: []
    - name: address.postal_code
      description: Postal code
      type: string
      labels: []
    - name: name
      description: Name
      type: string
      labels: []
    - name: given_name
      description: Given name
      type: string
      labels:
      - simple
    - name: middle_name
      description: Middle name
      type: string
      labels: []
    - name: family_name
      description: Family name
      type: string
      labels:
      - simple
    - name: nickname
      description: Nickname
      type: string
      labels: []
    - name: preferred_username
      description: The primary username that represents the user
      type: string
      labels:
      - simple
    - name: profile
      description: URL of the profile page
      type: string
      labels: []
    - name: picture
      description: URL of the profile picture
      type: string
      labels: []
    - name: website
      description: URL of the web page
      type: string
      labels: []
    - name: gender
      description: Gender
      type: string
      labels: []
    - name: birthdate
      description: Birthdate
      type: string
      labels: []
    - name: zoneinfo
      description: Zoneinfo
      type: string
      labels: []
    - name: locale
      description: Locale
      type: string
      labels: []
    - name: updated_at
      description: Last update
      type: number
      labels: []
    - name: customer_id
      description: customer_id
      type: string 
      labels: []
  grant_types:
    - authorization_code
    - implicit
    - refresh_token
    - client_credentials
  token_endpoint_auth_methods: 
    - private_key_jwt
    - client_secret_post
    - tls_client_auth
  token_endpoint_auth_signing_alg_value:
    # temporary solution, RS key should not be used
    - RS256
    - ES256
    - PS256
  initialize: true
  cdr:
    brand_id:
    adr_validation_enabled: {{ .cdr_adr_validation_enabled }}
    register_url: https://mock-register:7000
    industry: banking
  {{ if .read_client_certificate_from_header }}
  read_client_certificate_from_header: {{ .read_client_certificate_from_header }}
  client_certificate_header: {{ .client_certificate_header }}
  {{ end }}
  root_cas: |
{{ readFile .ca_pem_file | indent 4 }}

idps:
- tenant_id: {{ .tenant_id }}
  authorization_server_id: {{ .server_id }}
  id: bugkgai3g9kregtu04u0
  name: Sandbox IDP
  method: static
  attributes:
  - name: name
    description: Name
    type: string
    labels:
  - name: given_name
    description: Given name
    type: string
    labels:
  - name: family_name
    description: Family name
    type: string
    labels:
  - name: email
    description: Email
    type: string
    labels:
  - name: email_verified
    description: Email verified
    type: bool
    labels:
  - name: phone_number
    description: Phone number
    type: string
    labels:
  - name: phone_number_verified
    description: Phone number verified
    type: bool
    labels:
  - name: customer_id
    description: customer_id
    type: string
    labels:
  mappings:
  - source: name
    target: name
    type: string
    allow_weak_decoding: false
  - source: given_name
    target: given_name
    type: string
    allow_weak_decoding: false
  - source: family_name
    target: family_name
    type: string
    allow_weak_decoding: false
  - source: email
    target: email
    type: string
    allow_weak_decoding: false
  - source: email_verified
    target: email_verified
    type: bool
    allow_weak_decoding: false
  - source: phone_number
    target: phone_number
    type: string
    allow_weak_decoding: false
  - source: phone_number_verified
    target: phone_number_verified
    type: bool
    allow_weak_decoding: false
  - source: customer_id
    target: customer_id
    type: string
    allow_weak_decoding: false
  settings: 
    static: 
      hint: true
  credentials:
    static:
      users:
      - username: user
        password: p@ssw0rd!
        authentication_context:
          name: user
          mobile_verified: "+48123456789"
          customer_id: "bfb689fb-7745-45b9-bbaa-b21e00072447"
      - username: user2
        password: p@ssw0rd!
        authentication_context:
          name: user2
      - username: user3
        password: p@ssw0rd!
        authentication_context:
          name: user3
server_consents:
- tenant_id: {{ .tenant_id }}
  client_id: {{ .consent_page_client_id }}
  custom:
    server_consent_url: {{ .consent_page_url }}
  server_id: {{ .server_id }}
  type: custom
clients:
# consent page
- tenant_id: {{ .tenant_id }}
  authorization_server_id: system
  client_id: {{ .consent_page_client_id }}
  client_secret: {{ .consent_page_client_secret }}
  client_name: CDR custom server consent
  grant_types:
  - client_credentials
  scopes:
  - manage_openbanking_consents
  token_endpoint_auth_method: client_secret_basic

- tenant_id: {{ .tenant_id }}
  authorization_server_id: {{ .server_id }}
  client_id: {{ .bank_client_id }}
  client_name: bank
  description: bank resource server app used to introspect tokens
  client_secret: {{ .bank_client_secret }}
  grant_types:
  - client_credentials
  scopes:
  - introspect_openbanking_tokens
  - introspect_tokens
  - revoke_tokens
  subject_type: pairwise
  system: true
  tls_client_auth_subject_dn: {{ .bank_tls_client_auth_subject_dn }}
  tls_client_certificate_bound_access_tokens: true
  token_endpoint_auth_method: tls_client_auth

# financroo
- tenant_id: {{ .tenant_id }}
  authorization_server_id: {{ .server_id }}
  client_id: {{ .financroo_tpp_client_id }}
  client_name: Financroo
  client_uri: https://localhost:8090
  client_secret: {{ .financroo_tpp_client_secret }}
  tls_client_auth_subject_dn: {{ .financroo_tls_client_auth_subject_dn }}
  tls_client_certificate_bound_access_tokens: true
  token_endpoint_auth_method: private_key_jwt
  redirect_uris:
  - {{ .financroo_tpp_url }}/api/callback
  - {{ .financroo_tpp_url }}/api/domestic/callback
  subject_type: pairwise
  request_object_signing_alg: RS256
  response_types:
  - token
  - code
  - code id_token
  scopes:
  - bank:accounts.basic:read
  - bank:accounts.detail:read
  - introspect_tokens
  - offline_access
  - openid
  - revoke_tokens
  - bank:transactions:read
  - common:customer.basic:read
  grant_types:
  - authorization_code
  - refresh_token
  jwks:
{{ readFile .financroo_pem_file | pemToPublicJwks | indent 4 }}

- tenant_id: {{ .tenant_id }}
  authorization_server_id: {{ .server_id }}
  client_id: {{ .internal_bank_client_id }}
  client_secret: {{ .internal_bank_client_secret }}
  client_name: Consent Page Bank Client
  grant_types:
  - client_credentials
  scopes:
  - bank:accounts.basic:read
  - bank:accounts.detail:read
  token_endpoint_auth_method: client_secret_post

claims:
- authorization_server_id: {{ .server_id }}
  id: {{ .server_id }}_arrangement_id
  mapping: cdr_arrangement_id
  name: cdr_arrangement_id
  source_path: openbanking_intent_id
  source_type: authnCtx
  tenant_id: {{ .tenant_id }}
  type: access_token
- authorization_server_id: {{ .server_id }}
  id: {{ .server_id }}_software_product
  mapping: software_id
  name: software_id
  source_path: software_id
  source_type: client
  tenant_id: {{ .tenant_id }}
  type: access_token
- authorization_server_id: {{ .server_id }}
  id: {{ .server_id }}_customer_id
  mapping: customer_id
  name: customer_id
  source_path: customer_id
  source_type: authnCtx
  tenant_id: {{ .tenant_id }}
  type: access_token

services:
- id: {{ .server_id }}-cdr-australia
  tenant_id: {{ .tenant_id }}
  authorization_server_id: {{ .server_id }}
  name: CDR Australia
  custom_audience: cds-au
