servers:
- tenant_id: {{ .tenant_id }}
  id: {{ .server_id }}
  name: FDX
  profile: {{ .server_profile }}
  color: "#009687"
  access_token_strategy: "jwt"
  enforce_pkce: false
  grant_types:
    - authorization_code
    - refresh_token
    - client_credentials
  initialize: true
  token_endpoint_auth_methods: 
    - private_key_jwt
    - client_secret_post
    - tls_client_auth
    - self_signed_tls_client_auth
  fdx:
    legal_entity:
      party:
        name: "Midwest Primary Bank, NA"
        home_uri: "https://www.midwest.com"
        logo_uri: "https://www.midwest.com/81d88112572c.jpg"
        registry_name: "GLEIF"
        registered_entity_name: "Midwest Primary Bank, NA"
        registered_entity_identifier: "549300ATG070THRDJ595"
  {{ if .read_client_certificate_from_header }}
  read_client_certificate_from_header: {{ .read_client_certificate_from_header }}
  client_certificate_header: {{ .client_certificate_header }}
  {{ end }}
  root_cas: |
{{ readFile .ca_pem_file | indent 4 }}

idps:
- tenant_id: {{ .tenant_id }}
  authorization_server_id: {{ .server_id }}
  id: bugkgai3g9kregtu04u0
  name: Sandbox IDP
  method: static
  settings:
    static:
      hint: true
  credentials:
    static:
      users:
      - username: user
        password: p@ssw0rd!
        authentication_context:
          name: user
          mobile_verified: "+48123456789"

server_consents:
- tenant_id: {{ .tenant_id }}
  client_id: {{ .consent_page_client_id }}
  custom:
    server_consent_url: {{ .consent_page_url }}
  server_id: {{ .server_id }}
  type: custom

clients:
# consent page
- tenant_id: {{ .tenant_id }}
  authorization_server_id: system
  client_id: {{ .consent_page_client_id }}
  client_secret: {{ .consent_page_client_secret }}
  client_name: custom server consent
  grant_types:
  - client_credentials
  scopes:
  - manage_openbanking_consents
  token_endpoint_auth_method: client_secret_basic

# financroo
- tenant_id: {{ .tenant_id }}
  authorization_server_id: {{ .server_id }}
  client_id: {{ .financroo_tpp_client_id }}
  client_name: Financroo
  client_uri: https://localhost:8090
  client_secret: {{ .financroo_tpp_client_secret }}
  tls_client_auth_subject_dn: {{ .financroo_tls_client_auth_subject_dn }}
  tls_client_certificate_bound_access_tokens: true
  token_endpoint_auth_method: tls_client_auth
  redirect_uris:
  - {{ .financroo_tpp_url }}/api/callback
  subject_type: pairwise
  response_types:
  - code
  scopes:
  - openid
  - offline_access
  - READ_CONSENTS
  - UPDATE_CONSENTS
  - fdx:accountdetailed:read
  - fdx:accountbasic:read
  - fdx:transactions:read
  grant_types:
  - client_credentials
  - authorization_code
  - refresh_token

#  developer tpp
- tenant_id: {{ .tenant_id }}
  authorization_server_id: {{ .server_id }}
  client_id: {{ .developer_tpp_client_id }}
  client_name: Developer TPP
  client_uri: https://localhost:8090
  client_secret: {{ .developer_tpp_client_secret }}
  tls_client_auth_subject_dn: {{ .financroo_tls_client_auth_subject_dn }}
  tls_client_certificate_bound_access_tokens: true
  token_endpoint_auth_method: tls_client_auth
  redirect_uris:
  - {{ .developer_tpp_url }}/callback
  subject_type: pairwise
  response_types:
  - code
  scopes:
  - openid
  - offline_access
  - READ_CONSENTS
  - UPDATE_CONSENTS
  - fdx:accountdetailed:read
  - fdx:accountbasic:read
  - fdx:transactions:read
  grant_types:
  - client_credentials
  - authorization_code
  - refresh_token

- tenant_id: {{ .tenant_id }}
  authorization_server_id: {{ .server_id }}
  client_id: {{ .bank_client_id }}
  client_name: bank
  description: bank resource server app used to introspect tokens
  client_secret: {{ .bank_client_secret }}
  grant_types:
  - client_credentials
  scopes:
  - introspect_tokens
  - revoke_tokens
  - introspect_openbanking_tokens
  subject_type: pairwise
  system: true
  tls_client_auth_subject_dn: {{ .bank_tls_client_auth_subject_dn }}
  tls_client_certificate_bound_access_tokens: true
  token_endpoint_auth_method: tls_client_auth

- tenant_id: {{ .tenant_id }}
  authorization_server_id: {{ .server_id }}
  client_id: {{ .internal_bank_client_id }}
  client_secret: {{ .internal_bank_client_secret }}
  client_name: FDX Internal Bank Client
  grant_types:
  - client_credentials
  scopes:
  - fdx:accountdetailed:read
  - fdx:accountbasic:read
  - fdx:transactions:read
  - introspect_openbanking_tokens
  - introspect_tokens
  - revoke_tokens
  tls_client_auth_subject_dn: {{ .bank_tls_client_auth_subject_dn }}
  tls_client_certificate_bound_access_tokens: true
  token_endpoint_auth_method: tls_client_auth
