idps:
- tenant_id: default
  authorization_server_id: financroo
  name: Sandbox IDP
  method: static
  credentials:
    static:
      users:
      - username: test
        password: p@ssw0rd!
        authentication_context:
          name: test
