clients:
- tenant_id: default
  authorization_server_id: system
  client_id: bv0ocudfotn6edhsiu7g
  client_name: custom server consent
  client_secret: pMPBmv62z3Jt1S4sWl2qRhOhEGPVZ9EcujGL7Xy0-E0
  grant_types:
  - client_credentials
  scopes:
  - manage_openbanking_consents
  token_endpoint_auth_method: client_secret_basic
