servers:
- tenant_id: {{ .tenant_id }}
  id: {{ .server_id }}
  name: Openbanking UK
  profile: openbanking_uk
  color: "#0083FF"
  subject_format: legacy
  initialize: true
  {{ if .read_client_certificate_from_header }}
  read_client_certificate_from_header: {{ .read_client_certificate_from_header }}
  client_certificate_header: {{ .client_certificate_header }}
  {{ end }}
  root_cas: |
{{ readFile .ca_pem_file | indent 4 }}

idps:
- tenant_id: {{ .tenant_id }}
  authorization_server_id: {{ .server_id }}
  id: bugkgai3g9kregtu04u0
  name: Sandbox IDP
  method: static
  settings: 
    static: 
      hint: true
  credentials:
    static:
      users:
      - username: user
        password: p@ssw0rd!
        authentication_context:
          name: user
          mobile_verified: "+48123456789"
      - username: user2
        password: p@ssw0rd!
        authentication_context:
          name: user2
      - username: user3
        password: p@ssw0rd!
        authentication_context:
          name: user3
server_consents:
- tenant_id: {{ .tenant_id }}
  client_id: {{ default "bv0ocudfotn6edhsiu7g" .consent_page_client_id }}
  custom:
    server_consent_url: {{ .consent_page_url }}
  server_id: {{ .server_id }}
  type: custom
clients:
# consent page
- tenant_id: {{ .tenant_id }}
  authorization_server_id: system
  client_id: {{ default "bv0ocudfotn6edhsiu7g" .consent_page_client_id }}
  client_secret: {{ default "pMPBmv62z3Jt1S4sWl2qRhOhEGPVZ9EcujGL7Xy0-E0" .consent_page_client_secret }}
  client_name: custom server consent
  grant_types:
  - client_credentials
  scopes:
  - manage_openbanking_consents
  token_endpoint_auth_method: client_secret_basic
- tenant_id: {{ .tenant_id }}
  authorization_server_id: {{ .server_id }}
  client_id: bukj5p6k7qdmm5ppbi4g
  client_name: bank
  description: bank resource server app used to introspect tokens
  client_secret: 8DPOMd3ZOvsjuUnU9goRMHTIUUXtSkgwQeo8v_S74aE
  grant_types:
  - client_credentials
  scopes:
  - introspect_openbanking_tokens
  - introspect_tokens
  - revoke_tokens
  subject_type: pairwise
  system: true
  tls_client_auth_subject_dn: {{ .bank_tls_client_auth_subject_dn }}
  tls_client_certificate_bound_access_tokens: true
  token_endpoint_auth_method: tls_client_auth
# financroo / developer tpp
- tenant_id: {{ .tenant_id }}
  authorization_server_id: {{ .server_id }}
  client_id: bugkgm23g9kregtu051g
  client_name: Financroo
  client_uri: https://localhost:8090
  client_secret: -TlfoycUiE0qNi-XUBFDfTxMlhHTCjVxOF6pLrWZbQA
  tls_client_auth_subject_dn: {{ .financroo_tls_client_auth_subject_dn }}
  tls_client_certificate_bound_access_tokens: true
  token_endpoint_auth_method: tls_client_auth
  redirect_uris:
  - {{ .developer_tpp_url }}/callback
  - {{ .financroo_tpp_url }}/api/callback
  - {{ .financroo_tpp_url }}/api/domestic/callback
  subject_type: pairwise
  request_object_signing_alg: RS256
  response_types:
  - token
  - code id_token
  scopes:
  - accounts
  - payments
  - introspect_tokens
  - offline_access
  - openid
  - revoke_tokens
  grant_types:
  - client_credentials
  - authorization_code
  - refresh_token
  jwks:
{{ readFile .financroo_pem_file | pemToPublicJwks | indent 4 }}
