servers:
- tenant_id: {{ .tenant_id }}
  id: {{ .server_id }}
  name: {{ .server_id|upper }}
  profile: openbanking_br
  color: "#85d948"
  subject_format: legacy
  issuer_id: 1234-1234-1234-1234
  consent_id_namespace: xxxxx
  access_token_strategy: "jwt"
  enforce_pkce: false
  enable_trust_anchor: true
  grant_types:
    - authorization_code
    - implicit
    - refresh_token
    - client_credentials
  trust_anchor_configuration:
    jwks_uri: "https://authorization.cloudentity.com:8443/{{ .tenant_id }}/{{ .server_id }}/open-banking-brasil/directory/jwks_uri"
  dynamic_client_registration:
    enabled: true
    initial_access_token:
      required: false
    payload:
      format: "json"
      jws_payload:
        jwks:
          keys: null
        jwks_uri: ""
  initialize: true
  {{ if .read_client_certificate_from_header }}
  read_client_certificate_from_header: {{ .read_client_certificate_from_header }}
  client_certificate_header: {{ .client_certificate_header }}
  {{ end }}
  root_cas: |
{{ readFile .ca_pem_file | indent 4 }}
{{ readFile .conf_ca_pem_file | indent 4 }}

idps:
- tenant_id: {{ .tenant_id }}
  authorization_server_id: {{ .server_id }}
  id: bugkgai3g9kregtu04u0
  name: Sandbox IDP
  method: static
  attributes:
  - name: name
    description: Name
    type: string
    labels:
  - name: given_name
    description: Given name
    type: string
    labels:
  - name: family_name
    description: Family name
    type: string
    labels:
  - name: email
    description: Email
    type: string
    labels:
  - name: email_verified
    description: Email verified
    type: bool
    labels:
  - name: phone_number
    description: Phone number
    type: string
    labels:
  - name: phone_number_verified
    description: Phone number verified
    type: bool
    labels:
  - name: cpf
    description: cpf
    type: string
    labels:
  - name: cnpj
    description: cnpj
    type: string_array
    labels:
  mappings:
  - source: name
    target: name
    type: string
    allow_weak_decoding: false
  - source: given_name
    target: given_name
    type: string
    allow_weak_decoding: false
  - source: family_name
    target: family_name
    type: string
    allow_weak_decoding: false
  - source: email
    target: email
    type: string
    allow_weak_decoding: false
  - source: email_verified
    target: email_verified
    type: bool
    allow_weak_decoding: false
  - source: phone_number
    target: phone_number
    type: string
    allow_weak_decoding: false
  - source: phone_number_verified
    target: phone_number_verified
    type: bool
    allow_weak_decoding: false
  - source: cpf
    target: cpf
    type: string
    allow_weak_decoding: false
  - source: cnpj
    target: cnpj
    type: string_array
    allow_weak_decoding: false
  settings: 
    static: 
      hint: true
  credentials:
    static:
      users:
      - username: user
        password: p@ssw0rd!
        authentication_context:
          name: user
          mobile_verified: "+48123456789"
        additional_attributes:
          cpf: "11111111111"
          cnpj: ["11111111111111"]
      - username: user2
        password: p@ssw0rd!
        authentication_context:
          name: user2
          cpf: "11111111222"
      - username: user3
        password: p@ssw0rd!
        authentication_context:
          name: user3
          cnpj: "22233344455566"
server_consents:
- tenant_id: {{ .tenant_id }}
  client_id: {{ .consent_page_client_id }}
  custom:
    server_consent_url: {{ .consent_page_url }}
  server_id: {{ .server_id }}
  type: custom
clients:
# consent page
- tenant_id: {{ .tenant_id }}
  authorization_server_id: system
  client_id: {{ .consent_page_client_id }}
  client_secret: {{ .consent_page_client_secret }}
  client_name: custom server consent
  grant_types:
  - client_credentials
  scopes:
  - manage_openbanking_consents
  token_endpoint_auth_method: client_secret_basic
- tenant_id:  {{ .tenant_id }}
  authorization_server_id: {{ .server_id }}
  client_id: {{ .bank_client_id }}
  client_name: bank
  description: bank resource server app used to introspect tokens
  client_secret: {{ .bank_client_secret }}
  grant_types:
  - client_credentials
  scopes:
  - introspect_openbanking_tokens
  - introspect_tokens
  - revoke_tokens
  subject_type: pairwise
  system: true
  tls_client_auth_subject_dn: {{ .bank_tls_client_auth_subject_dn }}
  tls_client_certificate_bound_access_tokens: true
  token_endpoint_auth_method: tls_client_auth

# financroo
- tenant_id: {{ .tenant_id }}
  authorization_server_id: {{ .server_id }}
  client_id: {{ .financroo_tpp_client_id }}
  organisation_id: 3333-3333-3333-3333 
  client_name: Financroo
  client_uri: https://localhost:8090
  client_secret: {{ .financroo_tpp_client_secret }}
  tls_client_auth_subject_dn: {{ .financroo_tls_client_auth_subject_dn }}
  tls_client_certificate_bound_access_tokens: true
  token_endpoint_auth_method: tls_client_auth
  redirect_uris:
  - {{ .financroo_tpp_url }}/api/callback
  - {{ .financroo_tpp_url }}/api/domestic/callback
  subject_type: pairwise
  request_object_signing_alg: RS256
  response_types:
  - token
  - code
  scopes:
  - consents
  - consent:*
  - introspect_tokens
  - offline_access
  - openid
  - revoke_tokens
  - accounts
  - payments
  grant_types:
  - client_credentials
  - authorization_code
  - refresh_token
  jwks:
{{ readFile .financroo_pem_file | pemToPublicJwks | indent 4 }}

#  developer tpp
- tenant_id: {{ .tenant_id }}
  authorization_server_id: {{ .server_id }}
  client_id: {{ .developer_tpp_client_id }}
  client_name: Developer TPP
  client_uri: https://localhost:8090
  client_secret: {{ .developer_tpp_client_secret }}
  tls_client_auth_subject_dn: {{ .financroo_tls_client_auth_subject_dn }}
  tls_client_certificate_bound_access_tokens: true
  token_endpoint_auth_method: tls_client_auth
  redirect_uris:
  - {{ .developer_tpp_url }}/callback
  subject_type: pairwise
  response_types:
  - token
  - code
  scopes:
  - consents
  - consent:*
  - introspect_tokens
  - offline_access
  - openid
  - revoke_tokens
  - accounts
  - payments
  grant_types:
  - client_credentials
  - authorization_code
  - refresh_token
  jwks:
{{ readFile .financroo_pem_file | pemToPublicJwks | indent 4 }}

- tenant_id: default
  authorization_server_id: {{ .server_id }}
  organisation_id: 74e929d9-33b6-4d85-8ba7-c146c867a817
  client_id: cid-1
  client_name: client-with-jwks
  client_uri: {{ .conf_tpp_1_url }}
  tls_client_auth_subject_dn: {{ .conf_tpp_1_sub_dn }}
  tls_client_certificate_bound_access_tokens: true
  token_endpoint_auth_method: tls_client_auth
  redirect_uris:
    - {{ .conf_tpp_1_url }}/test/a/OBBConfTests/callback
    - https://fapi-test:8444/test/a/OBBConfTests/callback
    - https://fapi-test:8444/test/a/MtlsDcrFapiTests/callback
    - https://fapi-test:8444/test/a/PrivateKeyJwtDcrFapiTests/callback
  subject_type: pairwise
  request_object_signing_alg: PS256
  response_types:
    - token
    - code id_token
  scopes:
    - consent:*
    - consents
    - accounts
    - payments
    - customers
    - introspect_tokens
    - offline_access
    - openid
    - revoke_tokens
    - directory:software
  grant_types:
    - client_credentials
    - authorization_code
    - refresh_token
  jwks:
        {{ readFile .conf_tpp_1_public_jwks | indent 4 }}
- tenant_id: default
  authorization_server_id: {{ .server_id }}
  organisation_id: 74e929d9-33b6-4d85-8ba7-c146c867a817
  client_id: {{ .conf_tpp_1_id }}
  client_name: Conformance-tpp-1
  client_uri: {{ .conf_tpp_1_url }}
  tls_client_auth_subject_dn: {{ .conf_tpp_1_sub_dn }}
  tls_client_certificate_bound_access_tokens: true
  token_endpoint_auth_method: tls_client_auth
  redirect_uris:
    - {{ .conf_tpp_1_url }}/test/a/OBBConfTests/callback
    - https://fapi-test:8444/test/a/OBBConfTests/callback
    - https://fapi-test:8444/test/a/MtlsDcrFapiTests/callback
    - https://fapi-test:8444/test/a/PrivateKeyJwtDcrFapiTests/callback
  subject_type: pairwise
  request_object_signing_alg: PS256
  response_types:
    - token
    - code id_token
  scopes:
    - consent:*
    - consents
    - accounts
    - payments
    - customers
    - introspect_tokens
    - offline_access
    - openid
    - revoke_tokens
    - directory:software
  grant_types:
    - client_credentials
    - authorization_code
    - refresh_token
  jwks:
    {{ readFile .conf_tpp_1_public_jwks | indent 4 }}
- tenant_id: default
  authorization_server_id: {{ .server_id }}
  organisation_id: 74e929d9-33b6-4d85-8ba7-c146c867a817
  client_id: {{ .conf_tpp_2_id }}
  client_name: Conformance-tpp-2
  client_uri: {{ .conf_tpp_2_url }}
  tls_client_auth_subject_dn: {{ .conf_tpp_2_sub_dn }}
  tls_client_certificate_bound_access_tokens: true
  token_endpoint_auth_method: tls_client_auth
  redirect_uris:
    - {{ .conf_tpp_2_url }}/test/a/OBBConfTests/callback
    - https://fapi-test:8444/test/a/OBBConfTests/callback
    - https://fapi-test:8444/test/a/OBBConfTests/callback?dummy1=lorem&dummy2=ipsum
    - https://fapi-test:8444/test/a/MtlsDcrFapiTests/callback
    - https://fapi-test:8444/test/a/MtlsDcrFapiTests/callback?dummy1=lorem&dummy2=ipsum
    - https://fapi-test:8444/test/a/PrivateKeyJwtDcrFapiTests/callback
    - https://fapi-test:8444/test/a/PrivateKeyJwtDcrFapiTests/callback?dummy1=lorem&dummy2=ipsum
  subject_type: pairwise
  request_object_signing_alg: PS256
  response_types:
    - token
    - code
    - code id_token
  scopes:
    - consent:*
    - consents
    - accounts
    - payments
    - customers
    - introspect_tokens
    - offline_access
    - openid
    - revoke_tokens
    - directory:software
  grant_types:
    - client_credentials
    - authorization_code
    - refresh_token
  jwks:
    {{ readFile .conf_tpp_2_public_jwks | indent 4 }}
policies:
- id: block_openbanking_brasil_dcr
  language: cloudentity
  policy_name: Unlock DCR
  server_id: {{ .server_id }}
  tenant_id: {{ .tenant_id }}
  type: dcr
  validators:
    - name: "true"
services:
- id: directory
  tenant_id: default
  name: directory
  authorization_server_id: {{ .server_id }}
  scopes:
  - tenant_id: default
    authorization_server_id: {{ .server_id }}
    name: directory:software
    id: directory-software
