clients:
- tenant_id: default
  authorization_server_id: openbanking
  client_id: buc3b1hhuc714r78env0
  client_name: bank
  client_secret: PBV7q0akoP603rZbU0EFdxbhZ-djxF7FIVwyKaLnBYU
  grant_types:
  - client_credentials
  scopes:
  - introspect_tokens
  token_endpoint_auth_method: client_secret_post
