idps:
- tenant_id: default
  authorization_server_id: openbanking
  id: bugkgai3g9kregtu04u0
  name: Sandbox IDP
  method: static
  credentials:
    static:
      users:
      - username: user
        password: p@ssw0rd!
        authentication_context:
          name: user
      - username: user2
        password: p@ssw0rd!
        authentication_context:
          name: user2
      - username: user3
        password: p@ssw0rd!
        authentication_context:
          name: user3
