clients:
- tenant_id: default
  authorization_server_id: openbanking
  client_id: bukj5p6k7qdmm5ppbi4g
  client_name: bank
  description: bank resource server app used to introspect tokens
  client_secret: 8DPOMd3ZOvsjuUnU9goRMHTIUUXtSkgwQeo8v_S74aE
  grant_types:
  - client_credentials
  scopes:
  - introspect_openbanking_tokens
  - introspect_tokens
  - revoke_tokens
  subject_type: pairwise
  system: true
  tls_client_auth_subject_dn: CN=cid2.authorization.cloudentity.com,OU=Authorization,O=Cloudentity,L=Seattle,ST=Washinghton,C=US
  tls_client_certificate_bound_access_tokens: true
  token_endpoint_auth_method: tls_client_auth
