clients:
- tenant_id: default
  authorization_server_id: system
  client_id: buc3b1hhuc714r78env0
  client_name: bank
  client_secret: PBV7q0akoP603rZbU0EFdxbhZ-djxF7FIVwyKaLnBYU
  grant_types:
  - client_credentials
  scopes:
  - introspect_tokens
  - manage_openbanking_consents
  - manage_scope_grants
  - revoke_tokens
  tls_client_auth_subject_dn: CN=cid2.authorization.cloudentity.com,OU=Authorization,O=Cloudentity,L=Seattle,ST=Washinghton,C=US
  tls_client_certificate_bound_access_tokens: true
  token_endpoint_auth_method: client_secret_post
