swagger: '2.0'
info:
  version: 5.1.0
  title: FDX V5.1.0
  description: Financial Data Exchange V5.1.0 Core API
  contact:
    email: fdxsupport@financialdataexchange.org
    name: Financial Data Exchange
    url: 'https://financialdataexchange.org/'
host: api.fi.com
basePath: /fdx/v5
securityDefinitions: {}
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  '/accounts/{accountId}/contact':
    get:
      description: Get contact information on the account
      summary: getAccountContact
      tags:
        - Personal Information
      operationId: getAccountContact
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: accountId
          in: path
          required: true
          type: string
          description: Account Identifier
      responses:
        '200':
          description: Details used to verify an account
          schema:
            $ref: '#/definitions/AccountContactentity'
          headers: {}
        '404':
          description: Account with id not found
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
  /accounts:
    get:
      description: Query all information for a set of accounts provided in the payload
      summary: searchForAccounts
      tags:
        - Account Information
      operationId: searchForAccounts
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: accountIds
          in: query
          required: false
          type: array
          items:
            type: string
          description: Comma separated list of account ids
        - name: startTime
          in: query
          required: false
          type: array
          items:
            type: string
            format: date
          description: Start time for use in retrieval of transactions
        - name: endTime
          in: query
          required: false
          type: array
          items:
            type: string
            format: date
          description: End time for use in retrieval of transactions
        - name: resultType
          in: query
          required: false
          enum:
            - lightweight
            - details
          default: lightweight
          type: string
          description: >-
            Flag to indicate if you want a lightweight array of metadata
            (AccountDescriptor or Tax or Operations) or full item details
            (Account or a Tax subclass or Availability details). If set to
            'lightweight', should only return the fields associated with the
            metadata entity. This field is not required, defaults to lightweight
        - name: offset
          in: query
          required: false
          type: string
          description: Opaque cursor used by the provider to send the next set of records
        - name: limit
          in: query
          required: false
          type: integer
          format: int32
          description: >-
            Number of elements that the consumer wishes to receive. Providers
            should implement reasonable default and maximum values
      responses:
        '200':
          description: >-
            Array of accounts (DepositAccount, LoanAccount, LocAccount,
            InvestmentAccount, InsuranceAccount or AnnuityAccount)
          schema:
            $ref: '#/definitions/Accountsentity'
          headers: {}
        '400':
          description: Start or end date value is not in the ISO 8601 format
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '404':
          description: Data not found for request parameters
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
      security:
            - defaultcc:
              - fdx:accountdetailed:read
  '/accounts/{accountId}':
    get:
      description: Get a specific account
      summary: getAccount
      tags:
        - Account Information
      operationId: getAccount
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: accountId
          in: path
          required: true
          type: string
          description: Account Identifier
      responses:
        '200':
          description: >-
            This can be one of LoanAccount, DepositAccount, LocAccount,
            InvestmentAccount, InsuranceAccount or AnnuityAccount
          schema:
            type: object
          headers: {}
        '404':
          description: Account with id not found
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
      security:
            - defaultcc:
              - fdx:accountdetailed:read
  '/accounts/{accountId}/statements':
    get:
      description: >-
        Get account statements. Example: GET
        /accounts/{accountId}/statements?startTime=value1&endTime=value2
      summary: searchForAccountStatements
      tags:
        - Account Statements
      operationId: searchForAccountStatements
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: accountId
          in: path
          required: true
          type: string
          description: Account Identifier
        - name: startTime
          in: query
          required: false
          type: string
          format: date
          description: Start time for use in retrieval of elements (ISO 8601)
        - name: endTime
          in: query
          required: false
          type: string
          format: date
          description: End time for use in retrieval of elements (ISO 8601)
        - name: offset
          in: query
          required: false
          type: string
          description: Opaque cursor used by the provider to send the next set of records
        - name: limit
          in: query
          required: false
          type: integer
          format: int32
          description: >-
            Number of elements that the consumer wishes to receive. Providers
            should implement reasonable default and maximum values
      responses:
        '200':
          description: Paginated list of available statements
          schema:
            $ref: '#/definitions/Anarrayofstatements'
          examples:
            application/json:
              page:
                nextOffset: '2'
                total: 3
              links:
                next:
                  href: /accounts/1111/statements?offSet=2&limit=10
              statements:
                - accountId: '10001'
                  statementId: '20001'
          headers: {}
        '400':
          description: Start or end date value is not in the ISO 8601 format
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '404':
          description: Account with id not found
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
  '/accounts/{accountId}/statements/{statementId}':
    get:
      description: >-
        Gets an account statement image file. Use [HTTP Accept
        request-header](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html)
        to specify desired content types. See ContentTypes definition for
        typical values
      summary: getAccountStatement
      tags:
        - Account Statements
      operationId: getAccountStatement
      deprecated: false
      produces:
        - application/pdf
        - image/gif
        - image/jpeg
        - image/tiff
        - image/png
        - application/json
      parameters:
        - name: accountId
          in: path
          required: true
          type: string
          description: Account Identifier
        - name: statementId
          in: path
          required: true
          type: string
          description: Statement Identifier
      responses:
        '200':
          description: An image of an account statement
          schema:
            default: ''
          headers: {}
        '302':
          description: >-
            Statement is available at specified location. URL is returned via
            the `Location` HTTP header
          headers: {}
        '400':
          description: Statement is processing and is not yet available
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '404':
          description: When account is present with no statements in it
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '406':
          description: Content Type not Supported
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
  '/accounts/{accountId}/transaction-images/{imageId}':
    get:
      description: Get account transaction image
      summary: getAccountTransactionImages
      tags:
        - Account Transactions
      operationId: getAccountTransactionImages
      deprecated: false
      produces:
        - application/pdf
        - image/gif
        - image/jpeg
        - image/tiff
        - image/png
        - application/json
      parameters:
        - name: accountId
          in: path
          required: true
          type: string
          description: Account Identifier
        - name: imageId
          in: path
          required: true
          type: string
          description: Image Identifier
      responses:
        '200':
          description: An image of transaction (such as a scanned check)
          schema:
            default: ''
          headers: {}
        '404':
          description: Account with id not found
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '406':
          description: Image Id not found for Transaction
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
  '/accounts/{accountId}/transactions':
    get:
      description: >-
        Search for account transactions. Example:
        /accounts/{accountId}/transactions?startTime=value1&endTime=value2
      summary: searchForAccountTransactions
      tags:
        - Account Transactions
      operationId: searchForAccountTransactions
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: accountId
          in: path
          required: true
          type: string
          description: Account Identifier
        - name: startTime
          in: query
          required: false
          type: string
          format: date
          description: Start time for use in retrieval of elements (ISO 8601)
        - name: endTime
          in: query
          required: false
          type: string
          format: date
          description: End time for use in retrieval of elements (ISO 8601)
        - name: offset
          in: query
          required: false
          type: string
          description: Opaque cursor used by the provider to send the next set of records
        - name: limit
          in: query
          required: false
          type: integer
          format: int32
          description: >-
            Number of elements that the consumer wishes to receive. Providers
            should implement reasonable default and maximum values
      responses:
        '200':
          description: >-
            Paginated collection of transactions, which can be one of
            DepositTransaction, LoanTransaction, LocTransaction,
            InvestmentTransaction or InsuranceTransaction
          schema:
            $ref: '#/definitions/Transactionsentity'
          headers: {}
        '400':
          description: Start or end date value is not in the ISO 8601 format
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '404':
          description: Account with id not found
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
      security:
            - defaultcc:
              - TRANSACTIONS
  '/accounts/{accountId}/payment-networks':
    get:
      description: Get payment networks supported by the account
      summary: getAccountPaymentNetworks
      tags:
        - Money Movement
      operationId: getAccountPaymentNetworks
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: accountId
          in: path
          required: true
          type: string
          description: Account Identifier
        - name: offset
          in: query
          required: false
          type: string
          description: Opaque cursor used by the provider to send the next set of records
        - name: limit
          in: query
          required: false
          type: integer
          format: int32
          description: >-
            Number of elements that the consumer wishes to receive. Providers
            should implement reasonable default and maximum values
      responses:
        '200':
          description: >-
            Information required to execute a payment transaction against this
            account
          schema:
            $ref: '#/definitions/Arrayofaccountpaymentnetworks'
          examples:
            application/json:
              page:
                totalElements: 1
              paymentNetworks:
                - bankId: '121000358'
                  identifier: '1234567890'
                  identifierType: ACCOUNT_NUMBER
                  type: US_ACH
                  transferIn: true
                  transferOut: true
          headers: {}
        '404':
          description: Account with id not found
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
  '/reward-programs/{rewardProgramId}/categories':
    get:
      description: Get reward categories
      summary: getRewardProgramCategories
      tags:
        - Reward Program Categories
      operationId: getRewardProgramCategories
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: rewardProgramId
          in: path
          required: true
          type: string
          description: Reward Program Identifier
        - name: offset
          in: query
          required: false
          type: string
          description: Opaque cursor used by the provider to send the next set of records
        - name: limit
          in: query
          required: false
          type: integer
          format: int32
          description: >-
            Number of elements that the consumer wishes to receive. Providers
            should implement reasonable default and maximum values
      responses:
        '200':
          description: Data describing a reward program's categories
          schema:
            $ref: '#/definitions/RewardCategoriesentity'
          examples:
            application/json:
              categories:
                - categoryName: Amusement Park
                  categoryId: 100
                  multiplier: 1
                  description: >-
                    The Amusement Park category, including zoos, circuses and
                    aquariums, covers establishments that operate parks or
                    carnivals and offer mechanical rides and games and/or live
                    animal shows.
                - categoryName: Dining/Restaurant
                  categoryId: 101
                  multiplier: 2
                  description: >-
                    Merchants in the Dining/Restaurant category range from fast
                    food restaurants to fine dining establishments. They fall
                    into the Dining category if they primarily prepare food and
                    drinks for immediate consumption on the premises or for
                    take-out. Dining merchants include bars, cocktail lounges,
                    nightclubs, taverns and fast-food restaurants. Some
                    merchants that sell food and drinks are located within
                    larger establishments that sell other goods and services and
                    may not be not included in this category. For example a
                    department store or hotel restaurant, theme park cafes or
                    discount store food counter would not be categorized under
                    Dining.
                - categoryName: Entertainment
                  categoryId: 102
                  multiplier: 2
                  description: >-
                    Entertainment includes purchases made at sports promoters,
                    movie theaters, theatrical promoters, amusement parks,
                    tourist attractions, record stores and video rentals.
                - categoryName: Hotels
                  categoryId: 103
                  multiplier: 5
                  description: >-
                    Hotels include businesses that provide sleeping or meeting
                    room accommodations. Some goods and services that appear on
                    a hotel bill are included. Often restaurants in hotels are
                    categorized as a hotel purchase.
          headers: {}
        '404':
          description: Request is invalid
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
  /reward-programs:
    get:
      description: Query all reward programs
      summary: searchRewardPrograms
      tags:
        - Reward Program Information
      operationId: searchRewardPrograms
      deprecated: false
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Data describing reward programs associated with accounts
          schema:
            $ref: '#/definitions/RewardProgramsentity'
          examples:
            application/json:
              rewardPrograms:
                - programName: Marriott Bonvoy
                  programId: 4FRCCQvGW0GZEMtsOQWlkQ
                  programUrl: 'https://www.marriott.com/loyalty.mi'
                  memberships:
                    - accountIds:
                        - af0f8e58-9649-4c29-bab2-0295d522cd6f
                        - e75e31eb-bf04-4d87-9f20-4554f63a639e
                      businessOrConsumer: CONSUMER
                      customerId: >-
                        kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne
                      memberId: 5ee28848b4f242a6b7a41e0daa03a824
                      memberNumber: '1783949940'
                      memberTier: Gold
                      balances:
                        - name: Points
                          type: POINTS
                          balance: 900
                          accruedYtd: 1000
                          redeemedYtd: 200
                          qualifying: false
                        - name: Promotional
                          type: POINTS
                          balance: 900
                          accrued: 1000
                          redeemed: 200
                          qualifying: false
                - programName: United MileagePlus®
                  programId: GY4cHWCPxkqgkY61h4BKdQ
                  programUrl: 'https://www.united.com/en/us/fly/mileageplus.html'
                  memberships:
                    - accountIds:
                        - b4ef4572-452d-41bd-9d2d-1b29dafe63f0
                      businessOrConsumer: BUSINESS
                      customerId: >-
                        kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne
                      memberId: b6b319dd3e2c4592847ad6ee32d518bc
                      memberNumber: '9394970669'
                      balances:
                        - name: Miles
                          type: MILES
                          balance: 900
                          accrued: 1000
                          redeemed: 200
                          qualifying: false
                - programName: Starbucks Rewards
                  programId: iqOtPUEYb0Go6SCL8As4fQ
                  programUrl: 'https://www.starbucks.com/rewards'
                  memberships:
                    - accountIds:
                        - 89cf3262-ff38-4f6a-afbc-aafc50cac751
                      businessOrConsumer: CONSUMER
                      customerId: >-
                        kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne
                      memberId: 95c1aeacd85e4783950a9c2d6e76efa9
                      memberNumber: '7417973194'
                      balances:
                        - name: Stars
                          type: POINTS
                          balance: 900
                          accrued: 1000
                          redeemed: 200
                          qualifying: false
          headers: {}
  '/reward-programs/{rewardProgramId}':
    get:
      description: Get a specific reward program
      summary: getRewardProgram
      tags:
        - Reward Program Information
      operationId: getRewardProgram
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: rewardProgramId
          in: path
          required: true
          type: string
          description: Reward Program Identifier
      responses:
        '200':
          description: Data describing reward programs associated with accounts
          schema:
            $ref: '#/definitions/RewardProgramentity'
          examples:
            application/json:
              programName: Discover Cashback Bonus
              programId: ywX9ME0FXUa6Mtj0xkOgtA
              programUrl: 'https://www.discover.com/credit-cards/cashback-bonus/'
              memberships:
                - accountIds:
                    - af0f8e58-9649-4c29-bab2-0295d522cd6f
                    - e75e31eb-bf04-4d87-9f20-4554f63a639e
                  businessOrConsumer: CONSUMER
                  customerId: kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne
                  memberId: b0a853a278804e1694d3104709cbfb58
                  memberNumber: '6137299224'
                  memberTier: Gold
                  balances:
                    - name: Cashback
                      type: CASHBACK
                      balance: 101.95
                      accruedYtd: 4500.1
                      redeemedYtd: 234.45
                      qualifying: false
                    - name: Cashback Match
                      type: CASHBACK
                      balance: 401.95
                      accruedYtd: 500.1
                      redeemedYtd: 134.45
                      qualifying: false
          headers: {}
        '404':
          description: Reward program Id not found
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
  /payees:
    get:
      description: Search for payees
      summary: searchForPayees
      tags:
        - Payee Management
      operationId: searchForPayees
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: updatedSince
          in: query
          required: false
          type: string
          description: Return items that have been created or updated since the update id
        - name: offset
          in: query
          required: false
          type: string
          description: Opaque cursor used by the provider to send the next set of records
        - name: limit
          in: query
          required: false
          type: integer
          format: int32
          description: >-
            Number of elements that the consumer wishes to receive. Providers
            should implement reasonable default and maximum values
      responses:
        '200':
          description: Ok
          schema:
            $ref: '#/definitions/Payeesentity'
          examples:
            application/json:
              page:
                nextOffset: next-offset-123-xyz
                prevOffset: prev-offset-456-abc
                totalElements: 100
              updates:
                nextUpdateId: next-update-id-456-krl
              links:
                next:
                  href: /payees?offset=next-offset-123-xyz
                prev:
                  href: /payees?offset=prev-offset-456-abc
                updates:
                  href: /payees?updatedSince=next-update-id-456-krl
              payees:
                - merchant:
                    displayName: My Cell Phone Biller
                    name:
                      company: US Cellular
                    address:
                      line1: 10 Cellular way
                      city: New York
                      state: NY
                      postalCode: '10001'
                    phone:
                      type: CELL
                      country: US
                      number: '2013329944'
                    payeeId: payee-1001
                    merchantAccountIds:
                      - '999900008888'
                    status: ACTIVE
                    expiresTimestamp: '2025-03-15T13:29:19+0000'
          headers: {}
        '404':
          description: Data not found for request parameters
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
    post:
      description: Create a payee
      summary: createPayee
      tags:
        - Payee Management
      operationId: createPayee
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: idempotency-key
          in: header
          required: true
          type: string
          maxLength: 256
          description: Used to de-duplicate requests
        - name: Content-Type
          in: header
          required: false
          enum:
            - application/json
          type: string
          description: ''
        - name: body
          in: body
          required: false
          description: ''
          schema:
            $ref: '#/definitions/PayeeForUpdateentity1'
      responses:
        '200':
          description: Payee Exists
          schema:
            $ref: '#/definitions/Payeeentity'
          examples:
            application/json:
              merchant:
                displayName: My Cell Phone Biller
                name:
                  company: US Cellular
                address:
                  line1: 10 Cellular way
                  city: New York
                  state: NY
                  postalCode: '10001'
                phone:
                  type: CELL
                  country: US
                  number: '2013329944'
                payeeId: payee-1001
                merchantAccountIds:
                  - '999900008888'
                status: ACTIVE
                expiresTimestamp: '2025-03-15T13:29:19+0000'
          headers: {}
        '201':
          description: Created
          schema:
            $ref: '#/definitions/Payeeentity'
          examples:
            application/json:
              merchant:
                displayName: My Cell Phone Biller
                name:
                  company: US Cellular
                address:
                  line1: 10 Cellular way
                  city: New York
                  state: NY
                  postalCode: '10001'
                phone:
                  type: CELL
                  country: US
                  number: '2013329944'
                payeeId: payee-1001
                merchantAccountIds:
                  - '999900008888'
                status: ACTIVE
                expiresTimestamp: '2025-03-15T13:29:19+0000'
          headers: {}
        '409':
          description: Duplicate Request
          schema:
            $ref: '#/definitions/Payeeentity'
          examples:
            application/json:
              merchant:
                displayName: My Cell Phone Biller
                name:
                  company: US Cellular
                address:
                  line1: 10 Cellular way
                  city: New York
                  state: NY
                  postalCode: '10001'
                phone:
                  type: CELL
                  country: US
                  number: '2013329944'
                payeeId: payee-1001
                merchantAccountIds:
                  - '999900008888'
                status: ACTIVE
                expiresTimestamp: '2025-03-15T13:29:19+0000'
          headers: {}
  '/payees/{payeeId}':
    get:
      description: Get a payee
      summary: getPayee
      tags:
        - Payee Management
      operationId: getPayee
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: payeeId
          in: path
          required: true
          type: string
          maxLength: 256
          description: Payee Identifier. Uniquely identifies a payee
      responses:
        '200':
          description: Ok
          schema:
            $ref: '#/definitions/Payeeentity'
          examples:
            application/json:
              merchant:
                displayName: My Cell Phone Biller
                name:
                  company: US Cellular
                address:
                  line1: 10 Cellular way
                  city: New York
                  state: NY
                  postalCode: '10001'
                phone:
                  type: CELL
                  country: US
                  number: '2013329944'
                payeeId: payee-1001
                merchantAccountIds:
                  - '999900008888'
                status: ACTIVE
                expiresTimestamp: '2025-03-15T13:29:19+0000'
          headers: {}
        '404':
          description: Payee with provided ID was not found
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
    patch:
      description: >-
        Used to update an existing payee. The payee type must match the existing
        payee. This call updates the payee's fields to the values provided. If a
        field is not provided, the payee's field is not updated
      summary: updatePayee
      tags:
        - Payee Management
      operationId: updatePayee
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: payeeId
          in: path
          required: true
          type: string
          maxLength: 256
          description: Payee Identifier. Uniquely identifies a payee
        - name: idempotency-key
          in: header
          required: true
          type: string
          maxLength: 256
          description: Used to de-duplicate requests
        - name: Content-Type
          in: header
          required: false
          enum:
            - application/json
          type: string
          description: ''
        - name: body
          in: body
          required: false
          description: ''
          schema:
            $ref: '#/definitions/PayeeForUpdateentity'
      responses:
        '200':
          description: Ok
          schema:
            $ref: '#/definitions/Payeeentity'
          examples:
            application/json:
              merchant:
                displayName: My Cell Phone Biller
                name:
                  company: US Cellular
                address:
                  line1: 10 Cellular way
                  city: New York
                  state: NY
                  postalCode: '10001'
                phone:
                  type: CELL
                  country: US
                  number: '2013329944'
                payeeId: payee-1001
                merchantAccountIds:
                  - '999900008888'
                status: ACTIVE
                expiresTimestamp: '2025-03-15T13:29:19+0000'
          headers: {}
        '400':
          description: Input sent by client does not satisfy API specification
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '404':
          description: Payee with provided ID was not found
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '409':
          description: Duplicate Request
          schema:
            $ref: '#/definitions/Payeeentity'
          examples:
            application/json:
              merchant:
                displayName: My Cell Phone Biller
                name:
                  company: US Cellular
                address:
                  line1: 10 Cellular way
                  city: New York
                  state: NY
                  postalCode: '10001'
                phone:
                  type: CELL
                  country: US
                  number: '2013329944'
                payeeId: payee-1001
                merchantAccountIds:
                  - '999900008888'
                status: ACTIVE
                expiresTimestamp: '2025-03-15T13:29:19+0000'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
    delete:
      description: Delete a payee
      summary: deletePayee
      tags:
        - Payee Management
      operationId: deletePayee
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: payeeId
          in: path
          required: true
          type: string
          maxLength: 256
          description: Payee Identifier. Uniquely identifies a payee
      responses:
        '200':
          description: Ok
          schema:
            $ref: '#/definitions/Payeeentity'
          examples:
            application/json:
              merchant:
                status: DELETED
          headers: {}
        '400':
          description: Payee cannot be modified or deleted
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '404':
          description: Payee with provided ID was not found
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
  /payments:
    get:
      description: Search for payments
      summary: searchForPayments
      tags:
        - Payments
      operationId: searchForPayments
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: updatedSince
          in: query
          required: false
          type: string
          description: Return items that have been created or updated since the update id
        - name: offset
          in: query
          required: false
          type: string
          description: Opaque cursor used by the provider to send the next set of records
        - name: limit
          in: query
          required: false
          type: integer
          format: int32
          description: >-
            Number of elements that the consumer wishes to receive. Providers
            should implement reasonable default and maximum values
      responses:
        '200':
          description: Ok
          schema:
            $ref: '#/definitions/Paymentsentity'
          examples:
            application/json:
              page:
                nextOffset: next-offset-123-xyz
                prevOffset: prev-offset-456-abc
                totalElements: 100
              updates:
                nextUpdateId: next-update-id-456-krl
              links:
                next:
                  href: /payments?offset=next-offset-123-xyz
                prev:
                  href: /payments?offset=prev-offset-456-abc
                updates:
                  href: /payments?updatedSince=next-update-id-456-krl
              payments:
                - fromAccountId: ACCOUNT-123
                  toPayeeId: PAYEE-ABC
                  amount: 10.99
                  merchantAccountId: MERCHANT-ACCOUNT-ID-0001
                  dueDate: 2021-08-17T00:00:00.000Z
                  paymentId: PAYMENT-213
                  recurringPaymentId: RECURRING-PAYMENT-485
                  processedTimestamp: '2021-03-15T13:29:19+0000'
                  startedProcessingTimestamp: '2021-03-14T13:29:19+0000'
                  status: PROCESSED
                  links:
                    - href: /recurring-payment/RECURRING-PAYMENT-485
                      rel: recurringPayment
          headers: {}
        '404':
          description: Data not found for request parameters
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
      security:
            - defaultcc:
              - ACCOUNT_PAYMENTS
    post:
      description: Schedule a payment
      summary: schedulePayment
      tags:
        - Payments
      operationId: schedulePayment
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: idempotency-key
          in: header
          required: true
          type: string
          maxLength: 256
          description: Used to de-duplicate requests
        - name: Content-Type
          in: header
          required: false
          enum:
            - application/json
          type: string
          description: ''
        - name: body
          in: body
          required: false
          description: ''
          schema:
            $ref: '#/definitions/PaymentForUpdateentity1'
      responses:
        '200':
          description: Duplicate Payment
          schema:
            $ref: '#/definitions/Paymententity'
          examples:
            application/json:
              fromAccountId: ACCOUNT-123
              toPayeeId: PAYEE-ABC
              amount: 10.99
              merchantAccountId: MERCHANT-ACCOUNT-ID-0001
              dueDate: 2021-08-17T00:00:00.000Z
              paymentId: PAYMENT-213
              status: SCHEDULED
          headers: {}
        '201':
          description: Created
          schema:
            $ref: '#/definitions/Paymententity'
          examples:
            application/json:
              fromAccountId: ACCOUNT-123
              toPayeeId: PAYEE-ABC
              amount: 10.99
              merchantAccountId: MERCHANT-ACCOUNT-ID-0001
              dueDate: 2021-08-17T00:00:00.000Z
              paymentId: PAYMENT-213
              status: SCHEDULED
          headers: {}
        '400':
          description: Request is invalid
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '404':
          description: Requested payment is invalid
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '409':
          description: Duplicate Request
          schema:
            $ref: '#/definitions/Paymententity'
          examples:
            application/json:
              fromAccountId: ACCOUNT-123
              toPayeeId: PAYEE-ABC
              amount: 10.99
              merchantAccountId: MERCHANT-ACCOUNT-ID-0001
              dueDate: 2021-08-17T00:00:00.000Z
              paymentId: PAYMENT-213
              status: SCHEDULED
          headers: {}
        '422':
          description: Account type not supported
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
      security:
            - defaultcc:
              - ACCOUNT_PAYMENTS
  '/payments/{paymentId}':
    get:
      description: Get a payment
      summary: getPayment
      tags:
        - Payments
      operationId: getPayment
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: paymentId
          in: path
          required: true
          type: string
          maxLength: 256
          description: Payment Identifier. Uniquely identifies a payment
      responses:
        '200':
          description: Ok
          schema:
            $ref: '#/definitions/Paymententity'
          examples:
            application/json:
              fromAccountId: ACCOUNT-123
              toPayeeId: PAYEE-ABC
              amount: 10.99
              merchantAccountId: MERCHANT-ACCOUNT-ID-0001
              dueDate: 2021-08-17T00:00:00.000Z
              paymentId: PAYMENT-213
              recurringPaymentId: RECURRING-PAYMENT-485
              processedTimestamp: '2021-03-15T13:29:19+0000'
              startedProcessingTimestamp: '2021-03-14T13:29:19+0000'
              status: PROCESSED
              links:
                - href: /recurring-payment/RECURRING-PAYMENT-854
                  rel: recurringPayment
          headers: {}
        '404':
          description: A payment with provided ID was not found
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
      security:
            - defaultcc:
              - ACCOUNT_PAYMENTS
    patch:
      description: Update a payment
      summary: updatePayment
      tags:
        - Payments
      operationId: updatePayment
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: paymentId
          in: path
          required: true
          type: string
          maxLength: 256
          description: Payment Identifier. Uniquely identifies a payment
        - name: idempotency-key
          in: header
          required: true
          type: string
          maxLength: 256
          description: Used to de-duplicate requests
        - name: Content-Type
          in: header
          required: false
          enum:
            - application/json
          type: string
          description: ''
        - name: body
          in: body
          required: false
          description: ''
          schema:
            $ref: '#/definitions/PaymentForUpdateentity2'
      responses:
        '200':
          description: Ok
          schema:
            $ref: '#/definitions/Paymententity'
          examples:
            application/json:
              fromAccountId: ACCOUNT-123
              toPayeeId: PAYEE-ABC
              amount: 10.99
              merchantAccountId: MERCHANT-ACCOUNT-ID-0001
              dueDate: 2021-08-17T00:00:00.000Z
              paymentId: PAYMENT-213
              recurringPaymentId: RECURRING-PAYMENT-485
              processedTimestamp: '2021-03-15T13:29:19+0000'
              startedProcessingTimestamp: '2021-03-14T13:29:19+0000'
              status: PROCESSED
              links:
                - href: /recurring-payment/RECURRING-PAYMENT-548
                  rel: recurringPayment
          headers: {}
        '400':
          description: Request is invalid
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '404':
          description: Requested payment change is invalid
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '409':
          description: Duplicate Request
          schema:
            $ref: '#/definitions/Paymententity'
          examples:
            application/json:
              fromAccountId: ACCOUNT-123
              toPayeeId: PAYEE-ABC
              amount: 10.99
              merchantAccountId: MERCHANT-ACCOUNT-ID-0001
              dueDate: 2021-08-17T00:00:00.000Z
              paymentId: PAYMENT-213
              recurringPaymentId: RECURRING-PAYMENT-485
              processedTimestamp: '2021-03-15T13:29:19+0000'
              startedProcessingTimestamp: '2021-03-14T13:29:19+0000'
              status: PROCESSED
              links:
                - href: /recurring-payment/RECURRING-PAYMENT-584
                  rel: recurringPayment
          headers: {}
        '422':
          description: Account type not supported
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
    delete:
      description: Cancel a payment
      summary: cancelPayment
      tags:
        - Payments
      operationId: cancelPayment
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: paymentId
          in: path
          required: true
          type: string
          maxLength: 256
          description: Payment Identifier. Uniquely identifies a payment
      responses:
        '200':
          description: Ok
          schema:
            $ref: '#/definitions/Paymententity'
          examples:
            application/json:
              fromAccountId: ACCOUNT-123
              toPayeeId: PAYEE-ABC
              amount: 10.99
              merchantAccountId: MERCHANT-ACCOUNT-ID-0001
              dueDate: 2021-08-17T00:00:00.000Z
              paymentId: PAYMENT-213
              recurringPaymentId: RECURRING-PAYMENT-485
              cancelledTimestamp: '2021-03-14T13:29:19+0000'
              status: CANCELLED
              links:
                - href: /recurring-payment/RECURRING-PAYMENT-845
                  rel: recurringPayment
          headers: {}
        '400':
          description: >-
            Payment cannot be modified or cancelled at this time. Likely due to
            the state that it is in
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '404':
          description: A payment with provided ID was not found
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
  /recurring-payments:
    get:
      description: Search for recurring payments
      summary: searchForRecurringPayments
      tags:
        - Recurring Payments
      operationId: searchForRecurringPayments
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: updatedSince
          in: query
          required: false
          type: string
          description: Return items that have been created or updated since the update id
        - name: offset
          in: query
          required: false
          type: string
          description: Opaque cursor used by the provider to send the next set of records
        - name: limit
          in: query
          required: false
          type: integer
          format: int32
          description: >-
            Number of elements that the consumer wishes to receive. Providers
            should implement reasonable default and maximum values
      responses:
        '200':
          description: Ok
          schema:
            $ref: '#/definitions/RecurringPaymentsentity'
          examples:
            application/json:
              page:
                nextOffset: next-offset-123-xyz
                prevOffset: prev-offset-456-abc
                totalElements: 100
              updates:
                nextUpdateId: next-update-id-456-krl
              links:
                next:
                  href: /recurring-payments?offset=next-offset-123-xyz
                prev:
                  href: /recurring-payments?offset=prev-offset-456-abc
                updates:
                  href: /recurring-payments?updatedSince=next-update-id-456-krl
              recurringPayments:
                - frequency: MONTHLY
                  duration:
                    type: NUMBEROFTIMES
                    numberOfTimes: 12
                  fromAccountId: ACCOUNT-123
                  toPayeeId: PAYEE-ABC
                  amount: 10.99
                  merchantAccountId: MERCHANT-ACCOUNT-ID-0001
                  dueDate: 2021-08-17T00:00:00.000Z
                  recurringPaymentId: RECURRING-PAYMENT-485
                  cancelledTimestamp: '2021-03-14T13:29:19+0000'
                  status: CANCELLED
          headers: {}
        '404':
          description: Data not found for request parameters
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
    post:
      description: Schedule a recurring payment
      summary: scheduleRecurringPayment
      tags:
        - Recurring Payments
      operationId: scheduleRecurringPayment
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: idempotency-key
          in: header
          required: true
          type: string
          maxLength: 256
          description: Used to de-duplicate requests
        - name: Content-Type
          in: header
          required: false
          enum:
            - application/json
          type: string
          description: ''
        - name: body
          in: body
          required: false
          description: ''
          schema:
            $ref: '#/definitions/RecurringPaymentforUpdateentity1'
      responses:
        '200':
          description: Duplicate Recurring Payment
          schema:
            $ref: '#/definitions/RecurringPaymententity'
          examples:
            application/json:
              frequency: MONTHLY
              duration:
                type: NUMBEROFTIMES
                numberOfTimes: 12
              fromAccountId: ACCOUNT-123
              toPayeeId: PAYEE-ABC
              amount: 10.99
              merchantAccountId: MERCHANT-ACCOUNT-ID-0001
              dueDate: 2021-08-17T00:00:00.000Z
              recurringPaymentId: RECURRING-PAYMENT-485
              status: SCHEDULED
          headers: {}
        '201':
          description: Created
          schema:
            $ref: '#/definitions/RecurringPaymententity'
          examples:
            application/json:
              frequency: MONTHLY
              duration:
                type: NUMBEROFTIMES
                numberOfTimes: 12
              fromAccountId: ACCOUNT-123
              toPayeeId: PAYEE-ABC
              amount: 10.99
              merchantAccountId: MERCHANT-ACCOUNT-ID-0001
              dueDate: 2021-08-17T00:00:00.000Z
              recurringPaymentId: RECURRING-PAYMENT-485
              status: SCHEDULED
          headers: {}
        '400':
          description: Request is invalid
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '404':
          description: Requested payment is invalid
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '409':
          description: Duplicate Request
          schema:
            $ref: '#/definitions/RecurringPaymententity'
          examples:
            application/json:
              frequency: MONTHLY
              duration:
                type: NUMBEROFTIMES
                numberOfTimes: 12
              fromAccountId: ACCOUNT-123
              toPayeeId: PAYEE-ABC
              amount: 10.99
              merchantAccountId: MERCHANT-ACCOUNT-ID-0001
              dueDate: 2021-08-17T00:00:00.000Z
              recurringPaymentId: RECURRING-PAYMENT-485
              status: SCHEDULED
          headers: {}
        '422':
          description: Account type not supported
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
  '/recurring-payments/{recurringPaymentId}':
    get:
      description: Get a recurring payment
      summary: getRecurringPayment
      tags:
        - Recurring Payments
      operationId: getRecurringPayment
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: recurringPaymentId
          in: path
          required: true
          type: string
          maxLength: 256
          description: >-
            Recurring Payment Identifier. Uniquely identifies a recurring
            payment
      responses:
        '200':
          description: Ok
          schema:
            $ref: '#/definitions/RecurringPaymententity'
          examples:
            application/json:
              frequency: MONTHLY
              duration:
                type: NUMBEROFTIMES
                numberOfTimes: 12
              fromAccountId: ACCOUNT-123
              toPayeeId: PAYEE-ABC
              amount: 10.99
              merchantAccountId: MERCHANT-ACCOUNT-ID-0001
              dueDate: 2021-08-17T00:00:00.000Z
              recurringPaymentId: RECURRING-PAYMENT-485
              status: SCHEDULED
          headers: {}
        '404':
          description: A recurring payment with provided ID was not found
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
    patch:
      description: Update a recurring payment
      summary: updateRecurringPayment
      tags:
        - Recurring Payments
      operationId: updateRecurringPayment
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: recurringPaymentId
          in: path
          required: true
          type: string
          maxLength: 256
          description: >-
            Recurring Payment Identifier. Uniquely identifies a recurring
            payment
        - name: idempotency-key
          in: header
          required: true
          type: string
          maxLength: 256
          description: Used to de-duplicate requests
        - name: Content-Type
          in: header
          required: false
          enum:
            - application/json
          type: string
          description: ''
        - name: body
          in: body
          required: false
          description: ''
          schema:
            $ref: '#/definitions/RecurringPaymentforUpdateentity2'
      responses:
        '200':
          description: Ok
          schema:
            $ref: '#/definitions/RecurringPaymententity'
          examples:
            application/json:
              frequency: MONTHLY
              duration:
                type: NUMBEROFTIMES
                numberOfTimes: 12
              fromAccountId: ACCOUNT-123
              toPayeeId: PAYEE-ABC
              amount: 10.99
              merchantAccountId: MERCHANT-ACCOUNT-ID-0001
              dueDate: 2021-08-17T00:00:00.000Z
              recurringPaymentId: RECURRING-PAYMENT-485
              status: SCHEDULED
          headers: {}
        '400':
          description: Request is invalid
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '404':
          description: Requested recurring payment change is invalid
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '409':
          description: Duplicate Request
          schema:
            $ref: '#/definitions/RecurringPaymententity'
          examples:
            application/json:
              frequency: MONTHLY
              duration:
                type: NUMBEROFTIMES
                numberOfTimes: 12
              fromAccountId: ACCOUNT-123
              toPayeeId: PAYEE-ABC
              amount: 10.99
              merchantAccountId: MERCHANT-ACCOUNT-ID-0001
              dueDate: 2021-08-17T00:00:00.000Z
              recurringPaymentId: RECURRING-PAYMENT-485
              status: SCHEDULED
          headers: {}
        '422':
          description: Account type not supported
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
    delete:
      description: Cancel a recurring payment
      summary: cancelRecurringPayment
      tags:
        - Recurring Payments
      operationId: cancelRecurringPayment
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: recurringPaymentId
          in: path
          required: true
          type: string
          maxLength: 256
          description: >-
            Recurring Payment Identifier. Uniquely identifies a recurring
            payment
      responses:
        '200':
          description: Ok
          schema:
            $ref: '#/definitions/RecurringPaymententity'
          examples:
            application/json:
              frequency: MONTHLY
              duration:
                type: NUMBEROFTIMES
                numberOfTimes: 12
              fromAccountId: ACCOUNT-123
              toPayeeId: PAYEE-ABC
              amount: 10.99
              merchantAccountId: MERCHANT-ACCOUNT-ID-0001
              dueDate: 2021-08-17T00:00:00.000Z
              recurringPaymentId: RECURRING-PAYMENT-485
              cancelledTimestamp: '2021-03-14T13:29:19+0000'
              status: CANCELLED
          headers: {}
        '400':
          description: >-
            Recurring payment cannot be modified or cancelled at this time.
            Likely due to the state that it is in
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '404':
          description: A recurring payment with provided ID was not found
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
  '/recurring-payments/{recurringPaymentId}/payments':
    get:
      description: Search for payments associated with the recurring payment
      summary: paymentsForRecurringPayment
      tags:
        - Recurring Payments
      operationId: paymentsForRecurringPayment
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: recurringPaymentId
          in: path
          required: true
          type: string
          maxLength: 256
          description: >-
            Recurring Payment Identifier. Uniquely identifies a recurring
            payment
        - name: updatedSince
          in: query
          required: false
          type: string
          description: Return items that have been created or updated since the update id
        - name: offset
          in: query
          required: false
          type: string
          description: Opaque cursor used by the provider to send the next set of records
        - name: limit
          in: query
          required: false
          type: integer
          format: int32
          description: >-
            Number of elements that the consumer wishes to receive. Providers
            should implement reasonable default and maximum values
      responses:
        '200':
          description: Ok
          schema:
            $ref: '#/definitions/Paymentsentity'
          examples:
            application/json:
              page:
                nextOffset: next-offset-123-xyz
                prevOffset: prev-offset-456-abc
                totalElements: 100
              updates:
                nextUpdateId: next-update-id-456-krl
              links:
                next:
                  href: >-
                    /recurring-payment/RECURRING-PAYMENT-485/payments?offset=next-offset-123-xyz
                prev:
                  href: >-
                    /recurring-payment/RECURRING-PAYMENT-485/payments?offset=prev-offset-456-abc
                updates:
                  href: >-
                    /recurring-payment/RECURRING-PAYMENT-485/payments?updatedSince=next-update-id-456-krl
              payments:
                - fromAccountId: ACCOUNT-123
                  toPayeeId: PAYEE-ABC
                  amount: 10.99
                  merchantAccountId: MERCHANT-ACCOUNT-ID-0001
                  dueDate: 2021-08-17T00:00:00.000Z
                  paymentId: PAYMENT-213
                  recurringPaymentId: RECURRING-PAYMENT-485
                  processedTimestamp: '2021-03-15T13:29:19+0000'
                  startedProcessingTimestamp: '2021-03-14T13:29:19+0000'
                  status: PROCESSED
                  links:
                    - href: /recurring-payment/RECURRING-PAYMENT-458
                      rel: recurringPayment
          headers: {}
        '404':
          description: A recurring payment with provided ID was not found
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
  /transfers:
    get:
      description: Search for transfers
      summary: searchForTransfers
      tags:
        - Internal Transfers
      operationId: searchForTransfers
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: updatedSince
          in: query
          required: false
          type: string
          description: Return items that have been created or updated since the update id
        - name: searchStartTransferDate
          in: query
          required: false
          type: string
          format: date
          description: Start time for use in retrieval of transfers by transfer date
        - name: searchEndTransferDate
          in: query
          required: false
          type: string
          format: date
          description: End time for use in retrieval of transfers by transfer date
        - name: searchFromAccountIds
          in: query
          required: false
          type: array
          items:
            type: string
          description: Search for transfers by source account
        - name: searchToAccountIds
          in: query
          required: false
          type: array
          items:
            type: string
          description: Search for transfers by source account
        - name: searchStatuses
          in: query
          required: false
          type: array
          items:
            type: string
            enum:
              - CANCELLED
              - FAILED
              - NOFUNDS
              - PROCESSED
              - PROCESSING
              - SCHEDULED
          description: Search for transfers by source account
        - name: searchTransferIds
          in: query
          required: false
          type: array
          items:
            type: string
          description: Search for transfers by id
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Transfersentity'
          headers: {}
        '400':
          description: Start or end date value is not in the ISO 8601 format
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '404':
          description: Data not found for request parameters
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
    post:
      description: Create a transfer between accounts
      summary: requestAccountTransfer
      tags:
        - Internal Transfers
      operationId: requestAccountTransfer
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: idempotency-key
          in: header
          required: true
          type: string
          maxLength: 256
          description: Used to de-duplicate requests
        - name: Content-Type
          in: header
          required: false
          enum:
            - application/json
          type: string
          description: ''
        - name: body
          in: body
          required: false
          description: Data of the transfer request
          schema:
            $ref: '#/definitions/TransferforCreateentity1'
      responses:
        '200':
          description: Initial status of the requested transfer
          schema:
            $ref: '#/definitions/Transferentity'
          headers: {}
        '400':
          description: Source account does not have sufficient funds
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '401':
          description: Account not authorized for transfer
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '404':
          description: Requested transfer is invalid
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '409':
          description: Duplicate transfer request
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
  '/transfers/{transferId}':
    get:
      description: Get a transfer been accounts
      summary: getTransfer
      tags:
        - Internal Transfers
      operationId: getTransfer
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: transferId
          in: path
          required: true
          type: string
          description: Transfer identifier
      responses:
        '200':
          description: Ok
          schema:
            $ref: '#/definitions/Transferentity'
          examples:
            application/json:
              transferId: MY-TRANSFER-ID
              fromAccountId: ACCOUNT-123
              toAccountId: ACCOUNT-456
              amount: 100
              memo: FDX Transfer Example
              paymentDetails:
                principalAmount: 75
                interestAmount: 10
                insuranceAmount: 5
                escrowAmount: 5
                pmiAmount: 5
                feesAmount: 0
              referenceId: FI-TRANSFER-ID
              status: SCHEDULED
              transferDate: 2021-03-14T00:00:00.000Z
          headers: {}
    delete:
      description: Cancel a transfer between accounts
      summary: cancelTransfer
      tags:
        - Internal Transfers
      operationId: cancelTransfer
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: transferId
          in: path
          required: true
          type: string
          description: Transfer identifier
      responses:
        '200':
          description: Ok
          schema:
            $ref: '#/definitions/Transferentity'
          examples:
            application/json:
              transferId: MY-TRANSFER-ID
              fromAccountId: ACCOUNT-123
              toAccountId: ACCOUNT-456
              amount: 100
              memo: FDX Transfer Example
              paymentDetails:
                principalAmount: 75
                interestAmount: 10
                insuranceAmount: 5
                escrowAmount: 5
                pmiAmount: 5
                feesAmount: 0
              referenceId: FI-TRANSFER-ID
              status: SCHEDULED
              transferDate: 2021-03-14T00:00:00.000Z
          headers: {}
  '/transfers/{transferId}/status':
    get:
      description: >-
        This endpoint has been deprecated in favor of the `getTransfer` (`GET
        /transfers/{transferId}`) operation. Get status of transfer between
        accounts
      summary: getTransferStatus
      tags:
        - Internal Transfers
      operationId: getTransferStatus
      deprecated: true
      produces:
        - application/json
      parameters:
        - name: transferId
          in: path
          required: true
          type: string
          description: Transfer identifier
      responses:
        '200':
          description: Current status of the requested transfer
          schema:
            $ref: '#/definitions/TransferStatusentity'
          examples:
            application/json:
              transferId: MY-TRANSFER-ID
              referenceId: FI-TRANSFER-ID
              status: SCHEDULED
              transferDate: 2021-03-14T00:00:00.000Z
          headers: {}
        '404':
          description: Transfer with id was not found
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
definitions:
  Merchantentity:
    title: Merchantentity
    description: >-
      Business or person to whom bill payments can be sent for products or
      services
    type: object
    properties:
      displayName:
        description: >-
          User defined name for the payee. Used by the customer to identify the
          payee. Not used by the system to process payments
        type: string
      name:
        type: object
        allOf:
          - $ref: '#/definitions/CustomerNameentity3'
          - description: Name of the payee used to execute the payment
      address:
        type: object
        allOf:
          - $ref: '#/definitions/DeliveryAddress2'
          - description: Address of the payee used to execute the payment
      phone:
        type: object
        allOf:
          - $ref: '#/definitions/TelephoneNumber2'
          - description: Phone number of the payee used to execute the payment
      merchantAccountIds:
        description: Account identifier(s) the customer has with the payee
        type: array
        items:
          type: string
      payeeId:
        description: Uniquely identifies a payee. Used within the API to reference a payee
        type: string
        maxLength: 256
      status:
        type: object
        allOf:
          - $ref: '#/definitions/PayeeStatus2'
          - description: Defines the Payee’s lifecycle
      expiresTimestamp:
        description: >-
          Describes when the entity will be automatically deleted. The entity
          will not go into the "DELETED" state. If this value is null or not
          provided, the entity will not expire automatically
        example: 2021-07-15T14:46:41.375Z
        type: string
        format: date-time
    required:
      - status
  MerchantForUpdateentity:
    title: MerchantForUpdateentity
    description: >-
      Merchant's fields to be updated. Describes the fields that can be updated
      by the client. Supported fields could be server dependent
    type: object
    properties:
      displayName:
        description: >-
          User defined name for the payee. Used by the customer to identify the
          payee. Not used by the system to process payments
        type: string
      name:
        type: object
        allOf:
          - $ref: '#/definitions/CustomerNameentity3'
          - description: Name of the payee used to execute the payment
      address:
        type: object
        allOf:
          - $ref: '#/definitions/DeliveryAddress2'
          - description: Address of the payee used to execute the payment
      phone:
        type: object
        allOf:
          - $ref: '#/definitions/TelephoneNumber2'
          - description: Phone number of the payee used to execute the payment
      merchantAccountIds:
        description: Account identifier(s) the customer has with the payee
        type: array
        items:
          type: string
  Paymententity:
    title: Paymententity
    description: Represents a payment
    type: object
    properties:
      fromAccountId:
        description: ID of the account used to source funds for payment
        type: string
        maxLength: 256
      toPayeeId:
        description: ID of the payee to receive funds for the payment
        type: string
        maxLength: 256
      amount:
        description: Amount for the payment. Must be positive
        type: number
        minimum: 0
        format: double
      merchantAccountId:
        description: User's account identifier with the payee
        type: string
      dueDate:
        description: Date that the funds are scheduled to be delivered
        example: 2021-07-15T00:00:00.000Z
        type: string
        format: date
      paymentId:
        description: >-
          Uniquely identifies a payment. Used within the API to reference a
          payment
        type: string
        maxLength: 256
      recurringPaymentId:
        description: >-
          The recurring payment that spawned this payment. Null if payment is
          not associated with a recurring payment
        type: string
        maxLength: 256
      scheduledTimestamp:
        description: When the payment was scheduled
        example: 2021-07-15T14:46:41.375Z
        type: string
        format: date-time
      processedTimestamp:
        description: When the payment was processed
        example: 2021-07-15T14:46:41.375Z
        type: string
        format: date-time
      failedTimestamp:
        description: >-
          When the payment failed. Includes when the payment was determined to
          lack sufficient funds
        example: 2021-07-15T14:46:41.375Z
        type: string
        format: date-time
      cancelledTimestamp:
        description: When the payment was cancelled
        example: 2021-07-15T14:46:41.375Z
        type: string
        format: date-time
      startedProcessingTimestamp:
        description: When the payment execution started
        example: 2021-07-15T14:46:41.375Z
        type: string
        format: date-time
      status:
        type: object
        allOf:
          - $ref: '#/definitions/PaymentStatus4'
          - description: Defines the status of the payment
      links:
        description: Links to related payment entities
        type: array
        items:
          $ref: '#/definitions/HATEOASLink'
    required:
      - fromAccountId
      - toPayeeId
      - amount
      - dueDate
      - paymentId
      - status
  Paymentsentity:
    title: Paymentsentity
    description: A list of payments
    type: object
    properties:
      page:
        type: object
        allOf:
          - $ref: '#/definitions/PageMetadata2'
          - description: Offset IDs for navigating result sets
      updates:
        type: object
        allOf:
          - $ref: '#/definitions/UpdatesMetadataentity2'
          - description: Update IDs for retrieving updates since query
      links:
        type: object
        allOf:
          - $ref: '#/definitions/SynchronizableArrayLinksentity2'
          - description: Resource URLs for navigating result sets
      payments:
        description: Payments retrieved by the operation
        type: array
        items:
          $ref: '#/definitions/Paymententity'
    required:
      - payments
  PaymentForUpdateentity:
    title: PaymentForUpdateentity
    description: Payment entity used for creation and update of a payment
    type: object
    properties:
      fromAccountId:
        description: ID of the account used to source funds for payment
        type: string
        maxLength: 256
      toPayeeId:
        description: ID of the payee to receive funds for the payment
        type: string
        maxLength: 256
      amount:
        description: Amount for the payment. Must be positive
        type: number
        minimum: 0
        format: double
      merchantAccountId:
        description: User's account identifier with the payee
        type: string
      dueDate:
        description: Date that the funds are scheduled to be delivered
        example: 2021-07-15T00:00:00.000Z
        type: string
        format: date
    required:
      - fromAccountId
      - toPayeeId
      - amount
      - dueDate
  Payeeentity:
    title: Payeeentity
    description: >-
      Payee to whom funds can be transferred. Can be extended to support
      additional types of payees
    type: object
    properties:
      merchant:
        type: object
        allOf:
          - $ref: '#/definitions/Merchantentity1'
          - description: >-
              When payee is a merchant, typically a business from which goods or
              services are rendered, this field will be populated
    required:
      - merchant
  Payeesentity:
    title: Payeesentity
    description: A list of payees
    type: object
    properties:
      page:
        type: object
        allOf:
          - $ref: '#/definitions/PageMetadata2'
          - description: Offset IDs for navigating result sets
      updates:
        type: object
        allOf:
          - $ref: '#/definitions/UpdatesMetadataentity2'
          - description: Update IDs for retrieving updates since query
      links:
        type: object
        allOf:
          - $ref: '#/definitions/SynchronizableArrayLinksentity2'
          - description: Resource URLs for navigating result sets
      payees:
        description: Payees retrieved by the operation
        type: array
        items:
          $ref: '#/definitions/Payeeentity'
    required:
      - payees
  PayeeForUpdateentity:
    title: PayeeForUpdateentity
    description: Payee's fields to be updated
    type: object
    properties:
      merchant:
        type: object
        allOf:
          - $ref: '#/definitions/MerchantForUpdateentity1'
          - description: >-
              When payee is a merchant, typically a business from which goods or
              services are rendered, this field will be populated
    required:
      - merchant
  RecurringPaymententity:
    title: RecurringPaymententity
    description: >-
      A recurring payment. Financial institution is free to adjust the payment
      date to accommodate weekends and holidays
    type: object
    properties:
      frequency:
        type: object
        allOf:
          - $ref: '#/definitions/RecurringPaymentFrequencyenum2'
          - description: Defines how often the payment repeats
      duration:
        type: object
        allOf:
          - $ref: '#/definitions/RecurringPaymentDurationentity2'
          - description: Defines how long the payment repeats for
      fromAccountId:
        description: ID of the account used to source funds for payment
        type: string
        maxLength: 256
      toPayeeId:
        description: ID of the payee to receive funds for the payment
        type: string
        maxLength: 256
      amount:
        description: Amount for the payment. Must be positive
        type: number
        minimum: 0
        format: double
      merchantAccountId:
        description: User's account identifier with the payee
        type: string
      dueDate:
        description: Date that the funds are scheduled to be delivered
        example: 2021-07-15T00:00:00.000Z
        type: string
        format: date
      recurringPaymentId:
        description: >-
          Uniquely identifies a recurring payment. Used within the API to
          reference a recurring payment
        type: string
        maxLength: 256
      scheduledTimestamp:
        description: When the recurring payment was scheduled
        example: 2021-07-15T14:46:41.375Z
        type: string
        format: date-time
      cancelledTimestamp:
        description: When the recurring payment was cancelled
        example: 2021-07-15T14:46:41.375Z
        type: string
        format: date-time
      processedTimestamp:
        description: When the last payment executed
        example: 2021-07-15T14:46:41.375Z
        type: string
        format: date-time
      failedTimestamp:
        description: When the recurring payment failed
        example: 2021-07-15T14:46:41.375Z
        type: string
        format: date-time
      status:
        type: object
        allOf:
          - $ref: '#/definitions/RecurringPaymentStatus2'
          - description: Defines the status of the recurring payment
    required:
      - frequency
      - fromAccountId
      - toPayeeId
      - amount
      - dueDate
      - status
  RecurringPaymentsentity:
    title: RecurringPaymentsentity
    description: A list of recurring payments
    type: object
    properties:
      page:
        type: object
        allOf:
          - $ref: '#/definitions/PageMetadata2'
          - description: Offset IDs for navigating result sets
      updates:
        type: object
        allOf:
          - $ref: '#/definitions/UpdatesMetadataentity2'
          - description: Update IDs for retrieving updates since query
      links:
        type: object
        allOf:
          - $ref: '#/definitions/SynchronizableArrayLinksentity2'
          - description: Resource URLs for navigating result sets
      recurringPayments:
        description: Recurring payments retrieved by the operation
        type: array
        items:
          $ref: '#/definitions/RecurringPaymententity'
    required:
      - recurringPayments
  RecurringPaymentDurationentity:
    title: RecurringPaymentDurationentity
    description: Describes a payment's duration
    type: object
    properties:
      type:
        type: object
        allOf:
          - $ref: '#/definitions/Recurringpaymentdurationtypeenum2'
          - description: Type of duration
      numberOfTimes:
        description: >-
          Maximum number of times a payment is to be sent. Required if type is
          set to NUMBEROFTIMES
        type: number
        format: double
    required:
      - type
  RecurringPaymentforUpdateentity:
    title: RecurringPaymentforUpdateentity
    description: >-
      Used to create or update a recurring payment. Financial institution is
      free to adjust the payment date to accommodate weekends and holidays
    type: object
    properties:
      frequency:
        type: object
        allOf:
          - $ref: '#/definitions/RecurringPaymentFrequencyenum2'
          - description: Defines how often the payment repeats
      duration:
        type: object
        allOf:
          - $ref: '#/definitions/RecurringPaymentDurationentity2'
          - description: Defines how long the payment repeats for
      fromAccountId:
        description: ID of the account used to source funds for payment
        type: string
        maxLength: 256
      toPayeeId:
        description: ID of the payee to receive funds for the payment
        type: string
        maxLength: 256
      amount:
        description: Amount for the payment. Must be positive
        type: number
        minimum: 0
        format: double
      merchantAccountId:
        description: User's account identifier with the payee
        type: string
      dueDate:
        description: Date that the funds are scheduled to be delivered
        example: 2021-07-15T00:00:00.000Z
        type: string
        format: date
    required:
[...]
