swagger: '2.0'
info:
  version: 5.1.0
  title: FDX V5.1.0
  description: Financial Data Exchange V5.1.0 Core API
  contact:
    email: fdxsupport@financialdataexchange.org
    name: Financial Data Exchange
    url: 'https://financialdataexchange.org/'
  x-codegen-settings:
    Nullify404: false
    GenerateAsyncCode: true
    UseMethodPrefix: false
    UseModelPostfix: false
    UseControllerPrefix: true
    UseEnumPostfix: true
    CollectParameters: false
    UseConstructorsForConfig: false
    UseCommonSDKLibrary: false
    iOSUseAppInfoPlist: false
    AndroidUseAppManifest: false
    BodySerialization: 0
    EnableAdditionalModelProperties: false
    PreserveParameterOrder: true
    AppendContentHeaders: true
    iOSGenerateCoreData: false
    GenerateInterfaces: false
    NodeHttpClient: NODE_REQUEST
    ValidateRequiredParameters: false
    JavaUsePropertiesConfig: false
    Timeout: 0
    StoreTimezoneInformation: false
    EnablePHPComposerVersionString: false
    EnableLogging: false
    ArraySerialization: Indexed
    ModelSerializationScheme: Json
    UseExceptionPrefix: true
    RunscopeEnabled: false
    AndroidHttpClient: ANDROID_OK
    ObjCHttpClient: UNIREST
    CSharpHttpClient: UNIREST
    PHPHttpClient: UNIREST
    JavaHttpClient: JAVA_OK
    ParameterArrayFormat: ParamArrayWithIndex
    SecurityProtocols:
      - Ssl3
      - Tls
    GenerateTravisConfig: false
    GenerateCircleConfig: false
    GenerateAppveyorConfig: false
    GenerateJenkinsConfig: false
    EnableHttpCache: false
    Retries: 0
    RetryInterval: 1
    GenerateAdvancedDocs: true
    UnderscoreNumbers: true
    UseSingletonPattern: true
    DisableLinting: false
    ApplyCustomizations: []
    SortResources: false
    AllowSkippingSSLCertVerification: false
    DoNotSplitWords: []
    EnableGlobalUserAgent: true
    ReturnCompleteHttpResponse: false
    GenerateModels: true
    GenerateExceptions: true
    IgnoreIfNullJson: false
    DisableDocs: false
    LiftParameterDescriptionFromCustomType: false
    ThrowForHttpErrorStatusCodes: true
    ResponseMapping:
      Type: Simple
    ForceKeywordArgsInRuby: false
    SymbolizeHashKeysInRuby: false
    UsageExampleEndpoint:
      Description: ''
      EndpointGroupName: ''
      EndpointName: ''
    IsLatestVersion: false
    EnableImmutableModels: false
    GenerateEnums: true
    BackoffFactor: 2
    StatusCodesToRetry:
      - 408
      - 413
      - 429
      - 500
      - 502
      - 503
      - 504
      - 521
      - 522
      - 524
    RequestMethodsToRetry:
      - GET
      - PUT
    UserConfigurableRetries: true
    UseEndpointMethodName: false
    EncodeTemplateParameters: true
    GenerateExamplesForOptionalFields: false
    MultitargetDotnetVersions: false
    BackoffMax: 0
    RetryOnTimeout: true
    EnableCookies: false
    EnableJsonPassThroughForAny: false
    PascalCaseEnumForCSharp: false
    PascalCaseEnumForTypeScript: false
  x-server-configuration:
    default-environment: production
    default-server: default
    environments:
      - name: production
        description: Financial Data Exchange V5.1 Core API
        servers:
          - name: default
            url: 'https://api.fi.com/fdx/v5'
    parameters: []
  x-image-uri: ''
host: api.fi.com
basePath: /fdx/v5
securityDefinitions: {}
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  '/accounts/{accountId}/contact':
    get:
      description: Get contact information on the account
      summary: getAccountContact
      tags:
        - Personal Information
      operationId: getAccountContact
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: accountId
          in: path
          required: true
          type: string
          description: Account Identifier
      responses:
        '200':
          description: Details used to verify an account
          schema:
            $ref: '#/definitions/AccountContactentity'
          headers: {}
        '404':
          description: Account with id not found
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /accounts:
    get:
      description: Query all information for a set of accounts provided in the payload
      summary: searchForAccounts
      tags:
        - Account Information
      operationId: searchForAccounts
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: accountIds
          in: query
          required: false
          type: array
          items:
            type: string
          description: Comma separated list of account ids
        - name: startTime
          in: query
          required: false
          type: array
          items:
            type: string
            format: date
          description: Start time for use in retrieval of transactions
        - name: endTime
          in: query
          required: false
          type: array
          items:
            type: string
            format: date
          description: End time for use in retrieval of transactions
        - name: resultType
          in: query
          required: false
          enum:
            - lightweight
            - details
          x-enum-elements:
            - name: lightweight
              description: ''
            - name: details
              description: ''
          default: lightweight
          type: string
          description: >-
            Flag to indicate if you want a lightweight array of metadata
            (AccountDescriptor or Tax or Operations) or full item details
            (Account or a Tax subclass or Availability details). If set to
            'lightweight', should only return the fields associated with the
            metadata entity. This field is not required, defaults to lightweight
        - name: offset
          in: query
          required: false
          type: string
          description: Opaque cursor used by the provider to send the next set of records
        - name: limit
          in: query
          required: false
          type: integer
          format: int32
          description: >-
            Number of elements that the consumer wishes to receive. Providers
            should implement reasonable default and maximum values
      responses:
        '200':
          description: >-
            Array of accounts (DepositAccount, LoanAccount, LocAccount,
            InvestmentAccount, InsuranceAccount or AnnuityAccount)
          schema:
            $ref: '#/definitions/Accountsentity'
          headers: {}
        '400':
          description: Start or end date value is not in the ISO 8601 format
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '404':
          description: Data not found for request parameters
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{accountId}':
    get:
      description: Get a specific account
      summary: getAccount
      tags:
        - Account Information
      operationId: getAccount
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: accountId
          in: path
          required: true
          type: string
          description: Account Identifier
      responses:
        '200':
          description: >-
            This can be one of LoanAccount, DepositAccount, LocAccount,
            InvestmentAccount, InsuranceAccount or AnnuityAccount
          schema:
            x-is-dynamic: true
            type: object
          headers: {}
        '404':
          description: Account with id not found
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{accountId}/statements':
    get:
      description: >-
        Get account statements. Example: GET
        /accounts/{accountId}/statements?startTime=value1&endTime=value2
      summary: searchForAccountStatements
      tags:
        - Account Statements
      operationId: searchForAccountStatements
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: accountId
          in: path
          required: true
          type: string
          description: Account Identifier
        - name: startTime
          in: query
          required: false
          type: string
          format: date
          x-example: 2021-07-15T00:00:00.000Z
          description: Start time for use in retrieval of elements (ISO 8601)
        - name: endTime
          in: query
          required: false
          type: string
          format: date
          x-example: 2021-07-15T00:00:00.000Z
          description: End time for use in retrieval of elements (ISO 8601)
        - name: offset
          in: query
          required: false
          type: string
          description: Opaque cursor used by the provider to send the next set of records
        - name: limit
          in: query
          required: false
          type: integer
          format: int32
          description: >-
            Number of elements that the consumer wishes to receive. Providers
            should implement reasonable default and maximum values
      responses:
        '200':
          description: Paginated list of available statements
          schema:
            $ref: '#/definitions/Anarrayofstatements'
          examples:
            application/json:
              page:
                nextOffset: '2'
                total: 3
              links:
                next:
                  href: /accounts/1111/statements?offSet=2&limit=10
              statements:
                - accountId: '10001'
                  statementId: '20001'
          headers: {}
        '400':
          description: Start or end date value is not in the ISO 8601 format
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '404':
          description: Account with id not found
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{accountId}/statements/{statementId}':
    get:
      description: >-
        Gets an account statement image file. Use [HTTP Accept
        request-header](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html)
        to specify desired content types. See ContentTypes definition for
        typical values
      summary: getAccountStatement
      tags:
        - Account Statements
      operationId: getAccountStatement
      deprecated: false
      produces:
        - application/pdf
        - image/gif
        - image/jpeg
        - image/tiff
        - image/png
        - application/json
      parameters:
        - name: accountId
          in: path
          required: true
          type: string
          description: Account Identifier
        - name: statementId
          in: path
          required: true
          type: string
          description: Statement Identifier
      responses:
        '200':
          description: An image of an account statement
          schema:
            x-is-dynamic: true
            default: ''
          headers: {}
        '302':
          description: >-
            Statement is available at specified location. URL is returned via
            the `Location` HTTP header
          headers: {}
        '400':
          description: Statement is processing and is not yet available
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '404':
          description: When account is present with no statements in it
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '406':
          description: Content Type not Supported
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{accountId}/transaction-images/{imageId}':
    get:
      description: Get account transaction image
      summary: getAccountTransactionImages
      tags:
        - Account Transactions
      operationId: getAccountTransactionImages
      deprecated: false
      produces:
        - application/pdf
        - image/gif
        - image/jpeg
        - image/tiff
        - image/png
        - application/json
      parameters:
        - name: accountId
          in: path
          required: true
          type: string
          description: Account Identifier
        - name: imageId
          in: path
          required: true
          type: string
          description: Image Identifier
      responses:
        '200':
          description: An image of transaction (such as a scanned check)
          schema:
            x-is-dynamic: true
            default: ''
          headers: {}
        '404':
          description: Account with id not found
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '406':
          description: Image Id not found for Transaction
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{accountId}/transactions':
    get:
      description: >-
        Search for account transactions. Example:
        /accounts/{accountId}/transactions?startTime=value1&endTime=value2
      summary: searchForAccountTransactions
      tags:
        - Account Transactions
      operationId: searchForAccountTransactions
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: accountId
          in: path
          required: true
          type: string
          description: Account Identifier
        - name: startTime
          in: query
          required: false
          type: string
          format: date
          x-example: 2021-07-15T00:00:00.000Z
          description: Start time for use in retrieval of elements (ISO 8601)
        - name: endTime
          in: query
          required: false
          type: string
          format: date
          x-example: 2021-07-15T00:00:00.000Z
          description: End time for use in retrieval of elements (ISO 8601)
        - name: offset
          in: query
          required: false
          type: string
          description: Opaque cursor used by the provider to send the next set of records
        - name: limit
          in: query
          required: false
          type: integer
          format: int32
          description: >-
            Number of elements that the consumer wishes to receive. Providers
            should implement reasonable default and maximum values
      responses:
        '200':
          description: >-
            Paginated collection of transactions, which can be one of
            DepositTransaction, LoanTransaction, LocTransaction,
            InvestmentTransaction or InsuranceTransaction
          schema:
            $ref: '#/definitions/Transactionsentity'
          headers: {}
        '400':
          description: Start or end date value is not in the ISO 8601 format
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '404':
          description: Account with id not found
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{accountId}/payment-networks':
    get:
      description: Get payment networks supported by the account
      summary: getAccountPaymentNetworks
      tags:
        - Money Movement
      operationId: getAccountPaymentNetworks
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: accountId
          in: path
          required: true
          type: string
          description: Account Identifier
        - name: offset
          in: query
          required: false
          type: string
          description: Opaque cursor used by the provider to send the next set of records
        - name: limit
          in: query
          required: false
          type: integer
          format: int32
          description: >-
            Number of elements that the consumer wishes to receive. Providers
            should implement reasonable default and maximum values
      responses:
        '200':
          description: >-
            Information required to execute a payment transaction against this
            account
          schema:
            $ref: '#/definitions/Arrayofaccountpaymentnetworks'
          examples:
            application/json:
              page:
                totalElements: 1
              paymentNetworks:
                - bankId: '121000358'
                  identifier: '1234567890'
                  identifierType: ACCOUNT_NUMBER
                  type: US_ACH
                  transferIn: true
                  transferOut: true
          headers: {}
        '404':
          description: Account with id not found
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/reward-programs/{rewardProgramId}/categories':
    get:
      description: Get reward categories
      summary: getRewardProgramCategories
      tags:
        - Reward Program Categories
      operationId: getRewardProgramCategories
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: rewardProgramId
          in: path
          required: true
          type: string
          description: Reward Program Identifier
        - name: offset
          in: query
          required: false
          type: string
          description: Opaque cursor used by the provider to send the next set of records
        - name: limit
          in: query
          required: false
          type: integer
          format: int32
          description: >-
            Number of elements that the consumer wishes to receive. Providers
            should implement reasonable default and maximum values
      responses:
        '200':
          description: Data describing a reward program's categories
          schema:
            $ref: '#/definitions/RewardCategoriesentity'
          examples:
            application/json:
              categories:
                - categoryName: Amusement Park
                  categoryId: 100
                  multiplier: 1
                  description: >-
                    The Amusement Park category, including zoos, circuses and
                    aquariums, covers establishments that operate parks or
                    carnivals and offer mechanical rides and games and/or live
                    animal shows.
                - categoryName: Dining/Restaurant
                  categoryId: 101
                  multiplier: 2
                  description: >-
                    Merchants in the Dining/Restaurant category range from fast
                    food restaurants to fine dining establishments. They fall
                    into the Dining category if they primarily prepare food and
                    drinks for immediate consumption on the premises or for
                    take-out. Dining merchants include bars, cocktail lounges,
                    nightclubs, taverns and fast-food restaurants. Some
                    merchants that sell food and drinks are located within
                    larger establishments that sell other goods and services and
                    may not be not included in this category. For example a
                    department store or hotel restaurant, theme park cafes or
                    discount store food counter would not be categorized under
                    Dining.
                - categoryName: Entertainment
                  categoryId: 102
                  multiplier: 2
                  description: >-
                    Entertainment includes purchases made at sports promoters,
                    movie theaters, theatrical promoters, amusement parks,
                    tourist attractions, record stores and video rentals.
                - categoryName: Hotels
                  categoryId: 103
                  multiplier: 5
                  description: >-
                    Hotels include businesses that provide sleeping or meeting
                    room accommodations. Some goods and services that appear on
                    a hotel bill are included. Often restaurants in hotels are
                    categorized as a hotel purchase.
          headers: {}
        '404':
          description: Request is invalid
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /reward-programs:
    get:
      description: Query all reward programs
      summary: searchRewardPrograms
      tags:
        - Reward Program Information
      operationId: searchRewardPrograms
      deprecated: false
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Data describing reward programs associated with accounts
          schema:
            $ref: '#/definitions/RewardProgramsentity'
          examples:
            application/json:
              rewardPrograms:
                - programName: Marriott Bonvoy
                  programId: 4FRCCQvGW0GZEMtsOQWlkQ
                  programUrl: 'https://www.marriott.com/loyalty.mi'
                  memberships:
                    - accountIds:
                        - af0f8e58-9649-4c29-bab2-0295d522cd6f
                        - e75e31eb-bf04-4d87-9f20-4554f63a639e
                      businessOrConsumer: CONSUMER
                      customerId: >-
                        kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne
                      memberId: 5ee28848b4f242a6b7a41e0daa03a824
                      memberNumber: '1783949940'
                      memberTier: Gold
                      balances:
                        - name: Points
                          type: POINTS
                          balance: 900
                          accruedYtd: 1000
                          redeemedYtd: 200
                          qualifying: false
                        - name: Promotional
                          type: POINTS
                          balance: 900
                          accrued: 1000
                          redeemed: 200
                          qualifying: false
                - programName: United MileagePlus®
                  programId: GY4cHWCPxkqgkY61h4BKdQ
                  programUrl: 'https://www.united.com/en/us/fly/mileageplus.html'
                  memberships:
                    - accountIds:
                        - b4ef4572-452d-41bd-9d2d-1b29dafe63f0
                      businessOrConsumer: BUSINESS
                      customerId: >-
                        kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne
                      memberId: b6b319dd3e2c4592847ad6ee32d518bc
                      memberNumber: '9394970669'
                      balances:
                        - name: Miles
                          type: MILES
                          balance: 900
                          accrued: 1000
                          redeemed: 200
                          qualifying: false
                - programName: Starbucks Rewards
                  programId: iqOtPUEYb0Go6SCL8As4fQ
                  programUrl: 'https://www.starbucks.com/rewards'
                  memberships:
                    - accountIds:
                        - 89cf3262-ff38-4f6a-afbc-aafc50cac751
                      businessOrConsumer: CONSUMER
                      customerId: >-
                        kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne
                      memberId: 95c1aeacd85e4783950a9c2d6e76efa9
                      memberNumber: '7417973194'
                      balances:
                        - name: Stars
                          type: POINTS
                          balance: 900
                          accrued: 1000
                          redeemed: 200
                          qualifying: false
          headers: {}
      x-unitTests:
        - request:
            method: GET
            uri: /reward-programs
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: KEYS
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            statusCode: '200'
            headers:
              Content-Type: application/json
            body: >-
              {"rewardPrograms":[{"programName":"Marriott
              Bonvoy","programId":"4FRCCQvGW0GZEMtsOQWlkQ","programUrl":"https://www.marriott.com/loyalty.mi","memberships":[{"accountIds":["af0f8e58-9649-4c29-bab2-0295d522cd6f","e75e31eb-bf04-4d87-9f20-4554f63a639e"],"businessOrConsumer":"CONSUMER","customerId":"kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne","memberId":"5ee28848b4f242a6b7a41e0daa03a824","memberNumber":"1783949940","memberTier":"Gold","balances":[{"name":"Points","type":"POINTS","balance":900,"accruedYtd":1000,"redeemedYtd":200,"qualifying":false},{"name":"Promotional","type":"POINTS","balance":900,"accrued":1000,"redeemed":200,"qualifying":false}]}]},{"programName":"United
              MileagePlus®","programId":"GY4cHWCPxkqgkY61h4BKdQ","programUrl":"https://www.united.com/en/us/fly/mileageplus.html","memberships":[{"accountIds":["b4ef4572-452d-41bd-9d2d-1b29dafe63f0"],"businessOrConsumer":"BUSINESS","customerId":"kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne","memberId":"b6b319dd3e2c4592847ad6ee32d518bc","memberNumber":"9394970669","balances":[{"name":"Miles","type":"MILES","balance":900,"accrued":1000,"redeemed":200,"qualifying":false}]}]},{"programName":"Starbucks
              Rewards","programId":"iqOtPUEYb0Go6SCL8As4fQ","programUrl":"https://www.starbucks.com/rewards","memberships":[{"accountIds":["89cf3262-ff38-4f6a-afbc-aafc50cac751"],"businessOrConsumer":"CONSUMER","customerId":"kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne","memberId":"95c1aeacd85e4783950a9c2d6e76efa9","memberNumber":"7417973194","balances":[{"name":"Stars","type":"POINTS","balance":900,"accrued":1000,"redeemed":200,"qualifying":false}]}]}]}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Test searchRewardPrograms
          x-testDescription: Query all reward programs
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/reward-programs/{rewardProgramId}':
    get:
      description: Get a specific reward program
      summary: getRewardProgram
      tags:
        - Reward Program Information
      operationId: getRewardProgram
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: rewardProgramId
          in: path
          required: true
          type: string
          description: Reward Program Identifier
      responses:
        '200':
          description: Data describing reward programs associated with accounts
          schema:
            $ref: '#/definitions/RewardProgramentity'
          examples:
            application/json:
              programName: Discover Cashback Bonus
              programId: ywX9ME0FXUa6Mtj0xkOgtA
              programUrl: 'https://www.discover.com/credit-cards/cashback-bonus/'
              memberships:
                - accountIds:
                    - af0f8e58-9649-4c29-bab2-0295d522cd6f
                    - e75e31eb-bf04-4d87-9f20-4554f63a639e
                  businessOrConsumer: CONSUMER
                  customerId: kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne
                  memberId: b0a853a278804e1694d3104709cbfb58
                  memberNumber: '6137299224'
                  memberTier: Gold
                  balances:
                    - name: Cashback
                      type: CASHBACK
                      balance: 101.95
                      accruedYtd: 4500.1
                      redeemedYtd: 234.45
                      qualifying: false
                    - name: Cashback Match
                      type: CASHBACK
                      balance: 401.95
                      accruedYtd: 500.1
                      redeemedYtd: 134.45
                      qualifying: false
          headers: {}
        '404':
          description: Reward program Id not found
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '500':
          description: >-
            Catch all exception where request was not processed due to an
            internal outage/issue. Consider other more specific errors before
            using this error
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '501':
          description: >-
            Error when FdxVersion in Header is not one of those implemented at
            backend
          schema:
            $ref: '#/definitions/Error'
          headers: {}
        '503':
          description: System is down for maintenance
          schema:
            $ref: '#/definitions/Error'
          headers: {}
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
definitions:
  Address:
    title: Address
    description: Postal address
    type: object
    properties:
      line1:
        description: Address line 1
        type: string
        maxLength: 64
      line2:
        description: Address line 2
        type: string
        maxLength: 64
      line3:
        description: Address line 3
        type: string
        maxLength: 64
      city:
        description: City
        type: string
        maxLength: 64
      state:
        description: 'State or province. Deprecated, will remove in FDX V6.0'
        type: string
        maxLength: 64
      region:
        description: State or province or territory. Replaces "state" property
        type: string
        maxLength: 64
      postalCode:
        description: Postal code
        type: string
        maxLength: 16
      country:
        $ref: '#/definitions/ISO3166CountryCode3'
  Customerentity:
    title: Customerentity
    description: Represents a customer
    type: object
    properties:
      customerId:
        description: >-
          Long-term persistent identity of the customer. This identity must be
          unique to the owning institution
        type: string
        maxLength: 256
      name:
        $ref: '#/definitions/CustomerNameentity2'
      dateOfBirth:
        description: The customer's date of birth
        example: 2021-07-15T00:00:00.000Z
        type: string
        format: date
      taxId:
        description: >-
          Country specific Tax Id associated with this customer (SIN or NAS in
          Canada, SSN or TIN in US, etc.)
        type: string
      taxIdCountry:
        $ref: '#/definitions/ISO3166CountryCode1'
      governmentId:
        description: >-
          A federal (such as passport) or state (such as driver's license)
          issued identifier
        type: string
      email:
        description: An array of the customer's electronic mail addresses
        type: array
        items:
          type: string
      addresses:
        description: An array of the customer's physical mail addresses
        type: array
        items:
          $ref: '#/definitions/DeliveryAddress'
      telephones:
        description: An array of the customer's telephone numbers
        type: array
        items:
          $ref: '#/definitions/TelephoneNumber'
      accounts:
        description: List of accounts related to this customer
        type: array
        items:
          $ref: '#/definitions/CustomertoAccountRelationshipentity'
  CustomerNameentity:
    title: CustomerNameentity
    description: The name of an individual in their role as a customer
    type: object
    properties:
      first:
        description: First name
        type: string
      middle:
        description: Middle initial
        type: string
      last:
        description: Last name
        type: string
      suffix:
        description: Generational or academic suffix
        type: string
      prefix:
        description: 'Name prefix, e.g. Mr.'
        type: string
      company:
        description: Company name
        type: string
  CustomertoAccountRelationshipentity:
    title: CustomertoAccountRelationshipentity
    description: Describes an account related to a customer
    type: object
    properties:
      accountId:
        description: Account ID of the related account
        type: string
        maxLength: 256
      links:
        description: 'Links to the account, or to invoke other APIs'
        type: array
        items:
          $ref: '#/definitions/HATEOASLink'
      relationship:
        $ref: '#/definitions/AccountHolderRelationship3'
  DeliveryAddress:
    title: DeliveryAddress
    description: A delivery address and its location type
    type: object
    properties:
      line1:
        description: Address line 1
        type: string
        maxLength: 64
      line2:
        description: Address line 2
        type: string
        maxLength: 64
      line3:
        description: Address line 3
        type: string
        maxLength: 64
      city:
        description: City
        type: string
        maxLength: 64
      state:
        description: 'State or province. Deprecated, will remove in FDX V6.0'
        type: string
        maxLength: 64
      region:
        description: State or province or territory. Replaces "state" property
        type: string
        maxLength: 64
      postalCode:
        description: Postal code
        type: string
        maxLength: 16
      country:
        $ref: '#/definitions/ISO3166CountryCode3'
      type:
        $ref: '#/definitions/DeliveryAddressType2'
  Error:
    title: Error
    description: >-
      An error entity which can be used at the API level for error responses or
      at the account level to indicate a problem specific to a particular
      account
    type: object
    properties:
      code:
        description: >-
          Long term persistent identifier which can be used to trace error
          condition back to log information
        type: string
      message:
        description: >-
          End user displayable information which might help the customer
          diagnose an error
        type: string
      debugMessage:
        description: >-
          Message used to debug the root cause of the error. Contents should not
          be used in consumer's business logic. Can change at any time and
          should only be used for consumer to communicate with the data provider
          about an issue. Provider can include an error GUID in message for
          their use.
        type: string
  FIAttributeentity:
    title: FIAttributeentity
    description: Financial Institution provider-specific attribute
    type: object
    properties:
      name:
        description: Name of attribute
        type: string
      value:
        description: Value of attribute
        type: string
  HATEOASLink:
    title: HATEOASLink
    description: >-
      REST application constraint (Hypermedia As The Engine Of Application
      State)
    type: object
    properties:
      href:
        description: URL to invoke the action on the resource
        example: 'https://api.fi.com/fdx/v4/accounts/12345'
        type: string
      action:
        $ref: '#/definitions/Action'
      rel:
        description: >-
          Relation of this link to its containing entity, as defined by and with
          many example relation values at [IETF
          RFC5988](https://datatracker.ietf.org/doc/html/rfc5988)
        type: string
      types:
        description: Content-types that can be used in the Accept header
        type: array
        items:
          $ref: '#/definitions/ContentTypes'
    required:
      - href
  Individualname:
    title: Individualname
    description: 'First name, middle initial, last name, suffix fields'
    type: object
    properties:
      first:
        description: First name
        type: string
      middle:
        description: Middle initial
        type: string
      last:
        description: Last name
        type: string
      suffix:
        description: Generational or academic suffix
        type: string
  Intermediary:
    title: Intermediary
    description: >-
      Data Access Platform, Service Provider, or any other entity in the data
      sharing chain between a Data Provider to a Data Recipient. In snake case
      to match IETF RFC 7591 naming formats
    type: object
    properties:
      name:
        description: Name of intermediary party
        type: string
      description:
        description: A short description of the intermediary
        type: string
      uri:
        description: >-
          A URL string of a web page providing information about the
          intermediary
        type: string
      logo_uri:
        description: A URL string that references a logo for this intermediary
        type: string
      contacts:
        description: >-
          Array of strings representing ways to contact people responsible for
          this intermediary
        type: array
        items:
          type: string
      registry_references:
        description: Registry references for this intermediary
        type: array
        items:
          $ref: '#/definitions/RegistryReference'
  NameandAddress:
    title: NameandAddress
    description: Individual or business name with address
    type: object
    properties:
      line1:
        description: Address line 1
        type: string
        maxLength: 64
      line2:
        description: Address line 2
        type: string
        maxLength: 64
      line3:
        description: Address line 3
        type: string
        maxLength: 64
      city:
        description: City
        type: string
        maxLength: 64
      state:
        description: 'State or province. Deprecated, will remove in FDX V6.0'
        type: string
        maxLength: 64
      region:
        description: State or province or territory. Replaces "state" property
        type: string
        maxLength: 64
      postalCode:
        description: Postal code
        type: string
        maxLength: 16
      country:
        $ref: '#/definitions/ISO3166CountryCode3'
      name1:
        description: Name line 1
        type: string
        maxLength: 64
      name2:
        description: Name line 2
        type: string
        maxLength: 64
  'Name,AddressandPhone':
    title: 'Name,AddressandPhone'
    description: Contact phone number with name and address
    type: object
    properties:
      line1:
        description: Address line 1
        type: string
        maxLength: 64
      line2:
        description: Address line 2
        type: string
        maxLength: 64
      line3:
        description: Address line 3
        type: string
        maxLength: 64
      city:
        description: City
        type: string
        maxLength: 64
      state:
        description: 'State or province. Deprecated, will remove in FDX V6.0'
        type: string
        maxLength: 64
      region:
        description: State or province or territory. Replaces "state" property
        type: string
        maxLength: 64
      postalCode:
        description: Postal code
        type: string
        maxLength: 16
      country:
        $ref: '#/definitions/ISO3166CountryCode3'
      name1:
        description: Name line 1
        type: string
        maxLength: 64
      name2:
        description: Name line 2
        type: string
        maxLength: 64
      phone:
        $ref: '#/definitions/TelephoneNumberPlusExtension2'
  PageMetadata:
    title: PageMetadata
    description: Offset IDs for paginated result sets
    type: object
    properties:
      nextOffset:
        description: >-
          Opaque identifier. Does not need to be numeric or have any specific
          pattern. Implementation specific
        example: '2'
        type: string
      prevOffset:
        description: >-
          Opaque identifier. Does not need to be numeric or have any specific
          pattern. Implementation specific
        example: '1'
        type: string
      totalElements:
        description: Total number of elements
        example: 3
        type: integer
        format: int32
  PageMetadataLinks:
    title: PageMetadataLinks
    description: Resource URLs for retrieving next or previous datasets
    type: object
    properties:
      next:
        $ref: '#/definitions/HATEOASLink1'
      prev:
        $ref: '#/definitions/HATEOASLink2'
  PaginatedArray:
    title: PaginatedArray
    description: Base class for results that may be paginated
    type: object
    properties:
      page:
        $ref: '#/definitions/PageMetadata1'
      links:
        $ref: '#/definitions/PageMetadataLinks1'
  Partyentity:
    title: Partyentity
    description: >-
      FDX Participant - an entity or person that is a part of a FDX API
      transaction
    type: object
    properties:
      name:
        description: Human recognizable common name
        type: string
      type:
        $ref: '#/definitions/PartyType2'
      homeUri:
        description: >-
          URI for party, where an end user could learn more about the company or
          application involved in the data sharing chain
        type: string
      logoUri:
        description: URI for a logo asset to be displayed to the end user
        type: string
      registry:
        $ref: '#/definitions/PartyRegistry2'
      registeredEntityName:
        description: Registered name of party
        type: string
      registeredEntityId:
        description: Registered id of party
        type: string
    required:
      - name
      - type
  PaymentDetailsentity:
    title: PaymentDetailsentity
    description: Details of this payment
    type: object
    properties:
      principalAmount:
        description: The amount of payment applied to principal
        type: number
        format: double
      interestAmount:
        description: The amount of payment applied to interest
        type: number
        format: double
      insuranceAmount:
        description: >-
          The amount of payment applied to life/health/accident insurance on the
          loan
        type: number
        format: double
      escrowAmount:
        description: The amount of payment applied to escrow
        type: number
        format: double
      pmiAmount:
        description: The amount of payment applied to PMI
        type: number
        format: double
      feesAmount:
        description: The amount of payment applied to fees
        type: number
        format: double
  RecipientRequest:
    title: RecipientRequest
    description: >-
      Used to request a recipient registration. In snake case to match IETF RFC
      7591 naming formats
    type: object
    properties:
      client_name:
        description: >-
          The Data Recipient or Data Recipient Application name displayed by
          Data Provider during the consent Flow as well as in the Consent
          Dashboard
        type: string
        maxLength: 256
      description:
        description: A short description of the Data Recipient application
        type: string
      redirect_uris:
        description: An array of eligible Redirect URI targets
        type: array
        items:
          type: string
      logo_uri:
        description: Data Recipient Logo URL location
        type: string
      client_uri:
        description: The URI which provides additional information about the Data Recipient
        type: string
      contacts:
        description: >-
          Array of strings representing ways to contact individuals responsible
          for the Data Recipient application
        type: array
        items:
          type: string
      scope:
        description: String form field with a list of data clusters
        type: string
      duration_type:
        description: The duration of consent for the Data Recipient consumers
        type: array
        items:
          $ref: '#/definitions/ConsentDurationType'
      duration_period:
        description: >-
          The duration period is the maximum consent duration that would be
          requested for a Recipient consumer
        type: number
        format: double
      lookback_period:
        description: >-
          The maximum number of days allowed for Data Recipient consumers to
          obtain in transaction history, effective from the current date
        type: number
        format: double
      registry_references:
        description: >-
          An array of external registries containing registered entity name,
          registered entity id and registry fields for the registries where the
          data recipient is registered
        type: array
        items:
          $ref: '#/definitions/RegistryReference'
      intermediaries:
        description: An array of the intermediaries for this data recipient
        type: array
        items:
          $ref: '#/definitions/Intermediary'
    required:
      - client_name
      - redirect_uris
  RegistryReference:
    title: RegistryReference
    description: >-
      Used for registry references. In snake case to match IETF RFC 7591 naming
      formats
    type: object
    properties:
      registered_entity_name:
        description: The legal company name for the intermediary
        type: string
      registered_entity_id:
        description: >-
          An ID representing the intermediary that can be looked up from a legal
          identity registry source
        type: string
      registry:
        $ref: '#/definitions/Registry2'
  TelephoneNumber:
    title: TelephoneNumber
    description: Standard for international phone numbers
    type: object
    properties:
      type:
        $ref: '#/definitions/TelephoneNumberType2'
      country:
        description: Country calling codes defined by ITU-T recommendations E.123 and E.164
        type: string
        maxLength: 3
      number:
        description: Telephone subscriber number defined by ITU-T recommendation E.164
        type: string
        maxLength: 15
        pattern: \d+
  TelephoneNumberPlusExtension:
    title: TelephoneNumberPlusExtension
    description: >-
      A telephone number that can contain optional text for an arbitrary length
      telephone extension number
    type: object
    properties:
      type:
        $ref: '#/definitions/TelephoneNumberType2'
      country:
        description: Country calling codes defined by ITU-T recommendations E.123 and E.164
        type: string
        maxLength: 3
      number:
        description: Telephone subscriber number defined by ITU-T recommendation E.164
        type: string
        maxLength: 15
        pattern: \d+
      extension:
        description: An arbitrary length telephone number extension
        type: string
  AccountHolderRelationship:
    title: AccountHolderRelationship
    description: Types of relationships between accounts and holders. Suggested values
    x-enum-elements:
      - name: AUTHORIZED_USER
        description: ''
      - name: BUSINESS
        description: ''
      - name: FOR_BENEFIT_OF
        description: ''
      - name: FOR_BENEFIT_OF_PRIMARY
        description: ''
      - name: FOR_BENEFIT_OF_PRIMARY_JOINT_RESTRICTED
        description: ''
      - name: FOR_BENEFIT_OF_SECONDARY
        description: ''
      - name: FOR_BENEFIT_OF_SECONDARY_JOINT_RESTRICTED
        description: ''
      - name: FOR_BENEFIT_OF_SOLE_OWNER_RESTRICTED
        description: ''
      - name: POWER_OF_ATTORNEY
        description: ''
      - name: PRIMARY_JOINT_TENANTS
        description: ''
      - name: PRIMARY
        description: ''
      - name: PRIMARY_BORROWER
        description: ''
      - name: PRIMARY_JOINT
        description: ''
      - name: SECONDARY
        description: ''
      - name: SECONDARY_JOINT_TENANTS
        description: ''
      - name: SECONDARY_BORROWER
        description: ''
      - name: SECONDARY_JOINT
        description: ''
      - name: SOLE_OWNER
        description: ''
      - name: TRUSTEE
        description: ''
      - name: UNIFORM_TRANSFER_TO_MINOR
        description: ''
    type: string
    enum:
      - AUTHORIZED_USER
      - BUSINESS
      - FOR_BENEFIT_OF
      - FOR_BENEFIT_OF_PRIMARY
      - FOR_BENEFIT_OF_PRIMARY_JOINT_RESTRICTED
      - FOR_BENEFIT_OF_SECONDARY
      - FOR_BENEFIT_OF_SECONDARY_JOINT_RESTRICTED
      - FOR_BENEFIT_OF_SOLE_OWNER_RESTRICTED
      - POWER_OF_ATTORNEY
      - PRIMARY_JOINT_TENANTS
      - PRIMARY
      - PRIMARY_BORROWER
      - PRIMARY_JOINT
      - SECONDARY
      - SECONDARY_JOINT_TENANTS
      - SECONDARY_BORROWER
      - SECONDARY_JOINT
      - SOLE_OWNER
      - TRUSTEE
      - UNIFORM_TRANSFER_TO_MINOR
  ConsentDurationType:
    title: ConsentDurationType
    description: 'Duration of the Consent Grant, per FDX UX Guidelines v1.0 (pp 18 - 20)'
    x-enum-elements:
      - name: ONE_TIME
        description: ''
      - name: PERSISTENT
        description: ''
      - name: TIME_BOUND
        description: ''
    type: string
    enum:
      - ONE_TIME
      - PERSISTENT
      - TIME_BOUND
  ContentTypes:
    title: ContentTypes
    description: Types of document formats. (Suggested values)
    x-enum-elements:
      - name: Enum_applicationpdf
        description: ''
      - name: Enum_imagegif
        description: ''
      - name: Enum_imagejpeg
        description: ''
      - name: Enum_imagetiff
        description: ''
      - name: Enum_imagepng
        description: ''
      - name: Enum_applicationjson
        description: ''
    type: string
    enum:
      - application/pdf
      - image/gif
      - image/jpeg
      - image/tiff
      - image/png
      - application/json
  DeliveryAddressType:
    title: DeliveryAddressType
    description: The location type of an address
    x-enum-elements:
      - name: BUSINESS
        description: ''
      - name: HOME
        description: ''
      - name: MAILING
        description: ''
    type: string
    enum:
      - BUSINESS
      - HOME
      - MAILING
  FDXVersion:
    title: FDXVersion
    description: The list of prior and current FDX major and minor versions.
    x-enum-elements:
      - name: Enum_V10
        description: ''
      - name: Enum_V20
        description: ''
      - name: Enum_V21
        description: ''
      - name: Enum_V30
        description: ''
      - name: Enum_V40
        description: ''
      - name: Enum_V41
        description: ''
      - name: Enum_V42
        description: ''
      - name: Enum_V45
        description: ''
      - name: Enum_V46
        description: ''
      - name: Enum_V50
        description: ''
      - name: Enum_V501
        description: ''
      - name: Enum_V51
        description: ''
    type: string
    enum:
      - V1.0
      - V2.0
      - V2.1
      - V3.0
      - V4.0
      - V4.1
      - V4.2
      - V4.5
      - V4.6
      - V5.0
      - V5.0.1
      - V5.1
  ISO3166CountryCode:
    title: ISO3166CountryCode
    description: >-
      ISO 3166 Codes for the representation of names of countries and their
      subdivisions
    x-enum-elements:
      - name: AD
        description: ''
      - name: AE
        description: ''
      - name: AF
        description: ''
      - name: AG
        description: ''
      - name: AI
        description: ''
      - name: AL
        description: ''
      - name: AM
        description: ''
      - name: AN
        description: ''
      - name: AO
        description: ''
      - name: AQ
        description: ''
      - name: AR
        description: ''
      - name: AS
        description: ''
      - name: AT
        description: ''
      - name: AU
        description: ''
      - name: AW
        description: ''
      - name: AX
        description: ''
      - name: AZ
        description: ''
      - name: BA
        description: ''
      - name: BB
        description: ''
      - name: BD
        description: ''
      - name: BE
        description: ''
      - name: BF
        description: ''
      - name: BG
        description: ''
      - name: BH
        description: ''
      - name: BI
        description: ''
      - name: BJ
        description: ''
      - name: BM
        description: ''
      - name: BN
        description: ''
      - name: BO
        description: ''
      - name: BR
        description: ''
      - name: BS
        description: ''
      - name: BT
        description: ''
      - name: BV
        description: ''
      - name: BW
        description: ''
      - name: BY
        description: ''
      - name: BZ
        description: ''
      - name: CA
        description: ''
      - name: CC
        description: ''
      - name: CD
        description: ''
      - name: CF
        description: ''
      - name: CG
        description: ''
      - name: CH
        description: ''
      - name: CI
        description: ''
      - name: CK
        description: ''
      - name: CL
        description: ''
      - name: CM
        description: ''
      - name: CN
        description: ''
      - name: CO
        description: ''
      - name: CR
        description: ''
      - name: CS
        description: ''
      - name: CU
        description: ''
      - name: CV
        description: ''
      - name: CX
        description: ''
      - name: CY
        description: ''
      - name: CZ
        description: ''
      - name: DE
        description: ''
      - name: DJ
        description: ''
      - name: DK
        description: ''
      - name: DM
        description: ''
      - name: DO
        description: ''
      - name: DZ
        description: ''
      - name: EC
        description: ''
      - name: EE
        description: ''
      - name: EG
        description: ''
      - name: EH
        description: ''
      - name: ER
        description: ''
      - name: ES
        description: ''
      - name: ET
        description: ''
      - name: FI
        description: ''
      - name: FJ
        description: ''
      - name: FK
        description: ''
      - name: FM
        description: ''
      - name: FO
        description: ''
      - name: FR
        description: ''
      - name: GA
        description: ''
      - name: GB
        description: ''
      - name: GD
        description: ''
      - name: GE
        description: ''
      - name: GF
        description: ''
      - name: GG
        description: ''
      - name: GH
        description: ''
      - name: GI
        description: ''
      - name: GL
        description: ''
      - name: GM
        description: ''
      - name: GN
        description: ''
      - name: GP
        description: ''
      - name: GQ
        description: ''
      - name: GR
        description: ''
      - name: GS
        description: ''
      - name: GT
        description: ''
      - name: GU
        description: ''
      - name: GW
        description: ''
      - name: GY
        description: ''
      - name: HK
        description: ''
      - name: HM
        description: ''
      - name: HN
        description: ''
      - name: HR
        description: ''
      - name: HT
        description: ''
      - name: HU
        description: ''
      - name: ID
        description: ''
      - name: IE
        description: ''
      - name: IL
        description: ''
      - name: IM
        description: ''
      - name: IN
        description: ''
      - name: IO
        description: ''
      - name: IQ
        description: ''
      - name: IR
        description: ''
      - name: IS
        description: ''
      - name: IT
        description: ''
      - name: JE
        description: ''
      - name: JM
        description: ''
      - name: JO
        description: ''
      - name: JP
        description: ''
      - name: KE
        description: ''
      - name: KG
        description: ''
      - name: KH
        description: ''
      - name: KI
        description: ''
      - name: KM
        description: ''
      - name: KN
        description: ''
      - name: KP
        description: ''
      - name: KR
        description: ''
      - name: KW
        description: ''
      - name: KY
        description: ''
      - name: KZ
        description: ''
      - name: LA
        description: ''
      - name: LB
        description: ''
      - name: LC
        description: ''
      - name: LI
        description: ''
      - name: LK
        description: ''
      - name: LR
        description: ''
      - name: LS
        description: ''
      - name: LT
        description: ''
      - name: LU
        description: ''
      - name: LV
        description: ''
      - name: LY
        description: ''
      - name: MA
        description: ''
      - name: MC
        description: ''
      - name: MD
        description: ''
      - name: MG
        description: ''
      - name: MH
        description: ''
      - name: MK
        description: ''
      - name: ML
        description: ''
      - name: MM
        description: ''
      - name: MN
        description: ''
      - name: MO
        description: ''
      - name: MP
        description: ''
      - name: MQ
        description: ''
      - name: MR
        description: ''
      - name: MS
        description: ''
      - name: MT
        description: ''
      - name: MU
        description: ''
      - name: MV
        description: ''
      - name: MW
        description: ''
      - name: MX
        description: ''
      - name: MY
        description: ''
      - name: MZ
        description: ''
      - name: NA
        description: ''
      - name: NC
        description: ''
      - name: NE
        description: ''
      - name: NF
        description: ''
      - name: NG
        description: ''
      - name: NI
        description: ''
      - name: NL
        description: ''
      - name: 'NO'
        description: ''
      - name: NP
        description: ''
      - name: NR
        description: ''
      - name: NU
        description: ''
      - name: NZ
        description: ''
      - name: OM
        description: ''
      - name: PA
        description: ''
      - name: PE
        description: ''
      - name: PF
        description: ''
      - name: PG
        description: ''
      - name: PH
        description: ''
      - name: PK
        description: ''
      - name: PL
        description: ''
      - name: PM
        description: ''
      - name: PN
        description: ''
      - name: PR
        description: ''
      - name: PS
        description: ''
      - name: PT
        description: ''
      - name: PW
        description: ''
      - name: PY
        description: ''
      - name: QA
        description: ''
      - name: RE
        description: ''
      - name: RO
        description: ''
      - name: RU
        description: ''
      - name: RW
        description: ''
      - name: SA
        description: ''
      - name: SB
        description: ''
      - name: SC
        description: ''
      - name: SD
        description: ''
      - name: SE
        description: ''
      - name: SG
        description: ''
      - name: SH
        description: ''
      - name: SI
        description: ''
      - name: SJ
        description: ''
      - name: SK
        description: ''
      - name: SL
        description: ''
      - name: SM
        description: ''
      - name: SN
        description: ''
      - name: SO
        description: ''
      - name: SR
        description: ''
      - name: ST
        description: ''
      - name: SV
        description: ''
      - name: SY
        description: ''
      - name: SZ
        description: ''
      - name: TC
        description: ''
      - name: TD
        description: ''
      - name: TF
        description: ''
      - name: TG
        description: ''
      - name: TH
        description: ''
      - name: TJ
        description: ''
      - name: TK
        description: ''
      - name: TL
        description: ''
      - name: TM
        description: ''
      - name: TN
        description: ''
      - name: TO
        description: ''
      - name: TR
        description: ''
      - name: TT
        description: ''
      - name: TV
        description: ''
      - name: TW
        description: ''
      - name: TZ
        description: ''
      - name: UA
        description: ''
      - name: UG
        description: ''
      - name: UM
        description: ''
      - name: US
        description: ''
      - name: UY
        description: ''
      - name: UZ
        description: ''
      - name: VA
        description: ''
      - name: VC
        description: ''
      - name: VE
        description: ''
      - name: VG
        description: ''
      - name: VI
        description: ''
      - name: VN
        description: ''
      - name: VU
        description: ''
      - name: WF
        description: ''
      - name: WS
        description: ''
      - name: YE
        description: ''
      - name: YT
        description: ''
      - name: ZA
        description: ''
      - name: ZM
        description: ''
      - name: ZW
        description: ''
    type: string
    enum:
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AN
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BM
      - BN
      - BO
      - BR
      - BS
      - BT
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CS
      - CU
      - CV
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - EH
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GF
      - GG
      - GH
      - GI
      - GL
      - GM
      - GN
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GW
      - GY
      - HK
      - HM
      - HN
      - HR
      - HT
      - HU
      - ID
      - IE
      - IL
      - IM
      - IN
      - IO
      - IQ
      - IR
      - IS
      - IT
      - JE
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KP
      - KR
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MQ
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NF
      - NG
      - NI
      - NL
      - 'NO'
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PS
      - PT
      - PW
      - PY
      - QA
      - RE
      - RO
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SJ
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - ST
      - SV
      - SY
      - SZ
      - TC
      - TD
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - UM
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - YE
      - YT
      - ZA
      - ZM
      - ZW
  ISO4217Code:
    title: ISO4217Code
    description: ISO 4217 Currency codes
    x-enum-elements:
      - name: AED
        description: ''
      - name: AFN
        description: ''
      - name: ALL
        description: ''
      - name: AMD
        description: ''
      - name: ANG
        description: ''
      - name: AOA
        description: ''
      - name: ARS
        description: ''
      - name: AUD
        description: ''
      - name: AWG
        description: ''
      - name: AZN
        description: ''
      - name: BAM
        description: ''
      - name: BBD
        description: ''
      - name: BDT
        description: ''
      - name: BGN
        description: ''
      - name: BHD
        description: ''
      - name: BIF
        description: ''
      - name: BMD
        description: ''
      - name: BND
        description: ''
      - name: BOB
        description: ''
      - name: BOV
        description: ''
      - name: BRL
        description: ''
      - name: BSD
        description: ''
      - name: BTN
        description: ''
      - name: BWP
        description: ''
      - name: BYR
        description: ''
      - name: BZD
        description: ''
      - name: CAD
        description: ''
      - name: CDF
        description: ''
      - name: CHE
        description: ''
      - name: CHF
        description: ''
      - name: CHW
        description: ''
      - name: CLF
        description: ''
      - name: CLP
        description: ''
      - name: CNY
        description: ''
      - name: COP
        description: ''
      - name: COU
        description: ''
      - name: CRC
        description: ''
      - name: CUC
        description: ''
      - name: CUP
        description: ''
      - name: CVE
        description: ''
      - name: CZK
        description: ''
      - name: DJF
        description: ''
      - name: DKK
        description: ''
      - name: DOP
        description: ''
      - name: DZD
        description: ''
      - name: EGP
        description: ''
      - name: ERN
        description: ''
      - name: ETB
        description: ''
      - name: EUR
        description: ''
      - name: FJD
        description: ''
      - name: FKP
        description: ''
      - name: GBP
        description: ''
      - name: GEL
        description: ''
      - name: GHS
        description: ''
      - name: GIP
        description: ''
      - name: GMD
        description: ''
      - name: GNF
        description: ''
      - name: GTQ
        description: ''
      - name: GYD
        description: ''
      - name: HKD
        description: ''
      - name: HNL
        description: ''
      - name: HRK
        description: ''
      - name: HTG
        description: ''
      - name: HUF
        description: ''
      - name: IDR
        description: ''
      - name: ILS
        description: ''
      - name: INR
        description: ''
      - name: IQD
        description: ''
      - name: IRR
        description: ''
      - name: ISK
        description: ''
      - name: JMD
        description: ''
      - name: JOD
        description: ''
      - name: JPY
        description: ''
      - name: KES
        description: ''
      - name: KGS
        description: ''
      - name: KHR
        description: ''
      - name: KMF
        description: ''
      - name: KPW
        description: ''
      - name: KRW
        description: ''
      - name: KWD
        description: ''
      - name: KYD
        description: ''
      - name: KZT
        description: ''
      - name: LAK
        description: ''
      - name: LBP
        description: ''
      - name: LKR
        description: ''
      - name: LRD
        description: ''
      - name: LSL
        description: ''
      - name: LYD
        description: ''
      - name: MAD
        description: ''
      - name: MDL
        description: ''
      - name: MGA
        description: ''
      - name: MKD
        description: ''
      - name: MMK
        description: ''
      - name: MNT
        description: ''
      - name: MOP
        description: ''
      - name: MRO
        description: ''
      - name: MUR
        description: ''
      - name: MVR
        description: ''
      - name: MWK
        description: ''
      - name: MXN
        description: ''
      - name: MXV
        description: ''
      - name: MYR
        description: ''
      - name: MZN
        description: ''
      - name: NAD
        description: ''
      - name: NGN
        description: ''
      - name: NIO
        description: ''
      - name: NOK
        description: ''
      - name: NPR
        description: ''
      - name: NZD
        description: ''
      - name: OMR
        description: ''
      - name: PAB
        description: ''
      - name: PEN
        description: ''
      - name: PGK
        description: ''
      - name: PHP
        description: ''
      - name: PKR
        description: ''
      - name: PLN
        description: ''
      - name: PYG
        description: ''
      - name: QAR
        description: ''
      - name: RON
        description: ''
      - name: RSD
        description: ''
      - name: RUB
        description: ''
      - name: RWF
        description: ''
      - name: SAR
        description: ''
      - name: SBD
        description: ''
      - name: SCR
        description: ''
      - name: SDG
        description: ''
      - name: SEK
        description: ''
      - name: SGD
        description: ''
      - name: SHP
        description: ''
      - name: SLL
        description: ''
      - name: SOS
        description: ''
      - name: SRD
        description: ''
      - name: SSP
        description: ''
      - name: STD
        description: ''
      - name: SVC
        description: ''
      - name: SYP
        description: ''
      - name: SZL
        description: ''
      - name: THB
        description: ''
      - name: TJS
        description: ''
      - name: TMT
        description: ''
      - name: TND
        description: ''
      - name: TOP
        description: ''
      - name: TRY
        description: ''
      - name: TTD
        description: ''
      - name: TWD
        description: ''
      - name: TZS
        description: ''
      - name: UAH
        description: ''
      - name: UGX
        description: ''
      - name: USD
        description: ''
      - name: USN
        description: ''
      - name: UYI
        description: ''
      - name: UYU
        description: ''
      - name: UZS
        description: ''
      - name: VEF
        description: ''
      - name: VND
        description: ''
      - name: VUV
        description: ''
      - name: WST
        description: ''
      - name: XAF
        description: ''
      - name: XAG
        description: ''
      - name: XAU
        description: ''
      - name: XBA
        description: ''
      - name: XBB
        description: ''
      - name: XBC
        description: ''
      - name: XBD
        description: ''
      - name: XCD
        description: ''
      - name: XDR
        description: ''
      - name: XOF
        description: ''
      - name: XPD
        description: ''
      - name: XPF
        description: ''
      - name: XPT
        description: ''
      - name: XSU
        description: ''
      - name: XTS
        description: ''
      - name: XUA
        description: ''
      - name: XXX
        description: ''
      - name: YER
        description: ''
      - name: ZAR
        description: ''
      - name: ZMW
        description: ''
      - name: ZWL
        description: ''
    type: string
    enum:
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYR
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SOS
      - SRD
      - SSP
      - STD
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - UYI
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XSU
      - XTS
      - XUA
      - XXX
      - YER
      - ZAR
      - ZMW
      - ZWL
  PartyRegistry:
    title: PartyRegistry
    description: The registry containing the party’s registration with name and id
    x-enum-elements:
      - name: FDX
        description: ''
      - name: GLEIF
        description: ''
      - name: ICANN
        description: ''
      - name: PRIVATE
        description: ''
    type: string
    enum:
      - FDX
      - GLEIF
      - ICANN
      - PRIVATE
  PartyType:
    title: PartyType
    description: Identifies the type of a party
    x-enum-elements:
      - name: DATA_ACCESS_PLATFORM
        description: ''
      - name: DATA_PROVIDER
        description: ''
      - name: DATA_RECIPIENT
        description: ''
      - name: INDIVIDUAL
        description: ''
      - name: MERCHANT
        description: ''
      - name: VENDOR
        description: ''
    type: string
    enum:
      - DATA_ACCESS_PLATFORM
      - DATA_PROVIDER
      - DATA_RECIPIENT
      - INDIVIDUAL
      - MERCHANT
      - VENDOR
  Registry:
    title: Registry
    description: Identifies the type of a Registry
    x-enum-elements:
      - name: PRIVATE
        description: ''
      - name: FDX
        description: ''
      - name: GLEIF
        description: ''
      - name: ICANN
        description: ''
    type: string
    enum:
      - PRIVATE
      - FDX
      - GLEIF
      - ICANN
  ResultType:
    title: ResultType
    description: >-
      Flag to indicate if you want a lightweight array of metadata
      (AccountDescriptor or Tax or Operations) or full item details (Account or
      a Tax subclass or Availability details). If set to 'lightweight', should
      only return the fields associated with the metadata entity.
    x-enum-elements:
      - name: lightweight
        description: ''
      - name: details
        description: ''
    type: string
    enum:
      - lightweight
      - details
  TelephoneNumberType:
    title: TelephoneNumberType
    description: Purpose or type of telephone number
    x-enum-elements:
      - name: HOME
        description: ''
      - name: BUSINESS
        description: ''
      - name: CELL
        description: ''
      - name: FAX
        description: ''
    type: string
    enum:
      - HOME
      - BUSINESS
      - CELL
      - FAX
  Accountentity:
    title: Accountentity
    description: An abstract account entity that concrete account entities extend
    type: object
    properties:
      accountId:
        description: >-
          Long-term persistent identity of the account, though not an account
          number. This identity must be unique to the owning institution
        type: string
        maxLength: 256
      error:
        $ref: '#/definitions/Error1'
      accountCategory:
        $ref: '#/definitions/AccountCategorytype'
      accountType:
        $ref: '#/definitions/AccountType2'
      accountNumber:
        description: >-
          Full account number for the end user's handle for the account at the
          owning institution
        type: string
      accountNumberDisplay:
        description: >-
          Account display number for the end user's handle at the owning
          institution. This is to be displayed by the Interface Provider
        type: string
      productName:
        description: >-
          Marketed product name for this account. Used in UIs to assist in
          account selection
        type: string
      nickname:
        description: Name given by the user. Used in UIs to assist in account selection
        type: string
      status:
        $ref: '#/definitions/AccountStatus2'
      description:
        description: Description of account
        type: string
      currency:
        $ref: '#/definitions/Currencyentity4'
      fiAttributes:
        description: Array of Financial institution-specific attributes
        type: array
        items:
          $ref: '#/definitions/FIAttributeentity'
      parentAccountId:
        description: >-
          Long-term persistent identity of the parent account. This is used to
          group accounts
        type: string
        maxLength: 256
      lineOfBusiness:
        description: >-
          The line of business, such as consumer, consumer joint, small
          business, corporate, etc.
        type: string
      routingTransitNumber:
        description: >-
          Routing transit number (RTN) associated with account number at owning
          institution
        type: string
      balanceType:
        $ref: '#/definitions/BalanceType2'
      contact:
        $ref: '#/definitions/AccountContactentity2'
      interestRate:
        description: Interest Rate of Account
        type: number
        format: double
      interestRateType:
        $ref: '#/definitions/InterestRateType2'
      interestRateAsOf:
        description: Date of account's interest rate
        example: 2021-07-15T14:46:41.375Z
        type: string
        format: date-time
      priorInterestRate:
        description: Previous Interest Rate of Account
        type: number
        format: double
      transferIn:
        description: Account is eligible for incoming transfers
        type: boolean
      transferOut:
        description: Account is eligible for outgoing transfers
        type: boolean
      billPayStatus:
        $ref: '#/definitions/AccountBillPayStatus2'
      micrNumber:
        description: MICR Number
        type: string
        maxLength: 64
      lastActivityDate:
        description: Date that last transaction occurred on account
        example: 2021-07-15T00:00:00.000Z
        type: string
        format: date
      rewardProgramId:
        description: >-
          Long-term persistent identity of rewards program associated with this
          account
        type: string
        maxLength: 256
      transactionsIncluded:
        description: >-
          Default is false. If present and true, a call to retrieve transactions
          will not return any further details about this account. This is an
          optimization that allows an FDX API server to return transactions and
          account details in a single call
        type: boolean
  AccountContactentity:
    title: AccountContactentity
    description: Contact information for the account
    type: object
    properties:
      holders:
        description: Owners of the account
        type: array
        items:
          $ref: '#/definitions/AccountHolderentity'
      emails:
        description: Email addresses associated with the account
        type: array
        items:
          type: string
      addresses:
        description: Physical mail addresses associated with the account
        type: array
        items:
          $ref: '#/definitions/DeliveryAddress'
      telephones:
        description: Telephone numbers associated with the account
        type: array
        items:
          $ref: '#/definitions/TelephoneNumber'
  AccountDescriptorentity:
    title: AccountDescriptorentity
    description: >-
      This descriptor provides minimal information about the account for use in
      lightweight arrays
    type: object
    properties:
      accountId:
        description: >-
          Long-term persistent identity of the account, though not an account
          number. This identity must be unique to the owning institution
        type: string
        maxLength: 256
      error:
        $ref: '#/definitions/Error1'
      accountCategory:
        $ref: '#/definitions/AccountCategorytype'
      accountType:
        $ref: '#/definitions/AccountType2'
      accountNumber:
        description: >-
          Full account number for the end user's handle for the account at the
          owning institution
        type: string
      accountNumberDisplay:
        description: >-
          Account display number for the end user's handle at the owning
          institution. This is to be displayed by the Interface Provider
        type: string
      productName:
        description: >-
          Marketed product name for this account. Used in UIs to assist in
          account selection
        type: string
      nickname:
        description: Name given by the user. Used in UIs to assist in account selection
        type: string
      status:
        $ref: '#/definitions/AccountStatus2'
      description:
        description: Description of account
        type: string
      currency:
        $ref: '#/definitions/Currencyentity4'
      fiAttributes:
        description: Array of Financial institution-specific attributes
        type: array
        items:
          $ref: '#/definitions/FIAttributeentity'
  AccountHolderentity:
    title: AccountHolderentity
    description: >-
      Extends `Customer` and adds a `relationship` field to define the
      customer's relationship with an account
    type: object
    properties:
      customerId:
        description: >-
          Long-term persistent identity of the customer. This identity must be
          unique to the owning institution
        type: string
        maxLength: 256
      name:
        $ref: '#/definitions/CustomerNameentity2'
      dateOfBirth:
        description: The customer's date of birth
        example: 2021-07-15T00:00:00.000Z
        type: string
        format: date
      taxId:
        description: >-
          Country specific Tax Id associated with this customer (SIN or NAS in
          Canada, SSN or TIN in US, etc.)
        type: string
      taxIdCountry:
        $ref: '#/definitions/ISO3166CountryCode1'
      governmentId:
        description: >-
          A federal (such as passport) or state (such as driver's license)
          issued identifier
        type: string
      email:
        description: An array of the customer's electronic mail addresses
        type: array
        items:
          type: string
      addresses:
        description: An array of the customer's physical mail addresses
        type: array
        items:
          $ref: '#/definitions/DeliveryAddress'
      telephones:
        description: An array of the customer's telephone numbers
        type: array
        items:
          $ref: '#/definitions/TelephoneNumber'
      accounts:
        description: List of accounts related to this customer
        type: array
        items:
          $ref: '#/definitions/CustomertoAccountRelationshipentity'
      relationship:
        $ref: '#/definitions/AccountHolderRelationship2'
  PaymentNetworkSupportedbyAccount:
    title: PaymentNetworkSupportedbyAccount
    description: >-
      This provides details required to execute a transaction against the
      account within the payment network
    type: object
    properties:
      bankId:
        description: Bank identifier used by the payment network ie. Routing Number
        type: string
      identifier:
        description: >-
          The number used to identify the account within the payment network. If
          identifierType is ACCOUNT_NUMBER, this is the account number; if
          identifierType is TOKENIZED_ACCOUNT_NUMBER, this is a tokenized
          account number
        type: string
      identifierType:
        $ref: '#/definitions/PaymentNetworkIdentifierType2'
      type:
        $ref: '#/definitions/PaymentNetworkType2'
      transferIn:
        description: Can transfer funds to the account using this information
        type: boolean
      transferOut:
        description: Can transfer funds from the account using this information
        type: boolean
  Arrayofaccountpaymentnetworks:
    title: Arrayofaccountpaymentnetworks
    description: An optionally paginated array of payment networks supported by the account
    type: object
    properties:
      page:
        $ref: '#/definitions/PageMetadata1'
      links:
        $ref: '#/definitions/PageMetadataLinks1'
      paymentNetworks:
        description: Array of payment networks
        type: array
        items:
          $ref: '#/definitions/PaymentNetworkSupportedbyAccount'
  Accountsentity:
    title: Accountsentity
    description: An optionally paginated array of accounts
    type: object
    properties:
      page:
        $ref: '#/definitions/PageMetadata1'
      links:
        $ref: '#/definitions/PageMetadataLinks1'
      accounts:
        description: >-
          An array of accounts with entity types dependent on the account type
          (deposit, investment, loan, line of credit, annuity or insurance)
        type: array
        items:
          type: object
  AnnuityAccountentity:
    title: AnnuityAccountentity
    description: An annuity account type
    type: object
    properties:
      accountId:
        description: >-
          Long-term persistent identity of the account, though not an account
          number. This identity must be unique to the owning institution
        type: string
        maxLength: 256
      error:
        $ref: '#/definitions/Error1'
      accountCategory:
        $ref: '#/definitions/AccountCategorytype'
      accountType:
        $ref: '#/definitions/AccountType2'
      accountNumber:
        description: >-
          Full account number for the end user's handle for the account at the
          owning institution
        type: string
      accountNumberDisplay:
        description: >-
          Account display number for the end user's handle at the owning
          institution. This is to be displayed by the Interface Provider
        type: string
      productName:
        description: >-
          Marketed product name for this account. Used in UIs to assist in
          account selection
        type: string
      nickname:
        description: Name given by the user. Used in UIs to assist in account selection
        type: string
      status:
        $ref: '#/definitions/AccountStatus2'
      description:
        description: Description of account
        type: string
      currency:
        $ref: '#/definitions/Currencyentity4'
      fiAttributes:
        description: Array of Financial institution-specific attributes
        type: array
        items:
          $ref: '#/definitions/FIAttributeentity'
      parentAccountId:
        description: >-
          Long-term persistent identity of the parent account. This is used to
          group accounts
        type: string
        maxLength: 256
      lineOfBusiness:
        description: >-
          The line of business, such as consumer, consumer joint, small
          business, corporate, etc.
        type: string
      routingTransitNumber:
        description: >-
          Routing transit number (RTN) associated with account number at owning
          institution
        type: string
      balanceType:
        $ref: '#/definitions/BalanceType2'
      contact:
        $ref: '#/definitions/AccountContactentity2'
      interestRate:
        description: Interest Rate of Account
        type: number
        format: double
      interestRateType:
        $ref: '#/definitions/InterestRateType2'
      interestRateAsOf:
        description: Date of account's interest rate
        example: 2021-07-15T14:46:41.375Z
        type: string
        format: date-time
      priorInterestRate:
        description: Previous Interest Rate of Account
        type: number
        format: double
      transferIn:
        description: Account is eligible for incoming transfers
        type: boolean
      transferOut:
        description: Account is eligible for outgoing transfers
        type: boolean
      billPayStatus:
        $ref: '#/definitions/AccountBillPayStatus2'
      micrNumber:
        description: MICR Number
        type: string
        maxLength: 64
      lastActivityDate:
        description: Date that last transaction occurred on account
        example: 2021-07-15T00:00:00.000Z
        type: string
        format: date
      rewardProgramId:
        description: >-
          Long-term persistent identity of rewards program associated with this
          account
        type: string
        maxLength: 256
      transactionsIncluded:
        description: >-
          Default is false. If present and true, a call to retrieve transactions
          will not return any further details about this account. This is an
          optimization that allows an FDX API server to return transactions and
          account details in a single call
        type: boolean
      annuityProductType:
        $ref: '#/definitions/AnnuityProductType'
      annuityValueBasis:
        $ref: '#/definitions/AnnuityValueBasis'
      paymentAmount:
        description: 'Amount of the recurring payment. Deprecated, will be removed in v6.0'
        type: number
        format: double
      paymentFrequency:
        $ref: '#/definitions/PaymentFrequency'
      paymentStartDate:
        description: >-
          Date of first payment; could be a future date. Deprecated, will be
          removed in v6.0
        type: string
        format: date-time
      paymentEndDate:
        description: 'Date last payment will be made. Deprecated, will be removed in v6.0'
        type: string
        format: date-time
      totalPaymentCount:
        description: >-
          Total number of payments that will be produced by the annuity.
          Deprecated, will be removed in v6.0
        type: number
        format: double
      netPresentValue:
        description: 'Surrender or cash balance value. Deprecated, will be removed in v6.0'
        type: number
        format: double
      annualIncrease:
        description: >-
          Percent or dollar amount of annual payment increase. Deprecated, will
          be removed in v6.0
        type: number
        format: double
      annualIncreaseType:
        $ref: '#/definitions/AnnualIncreaseType'
      periodCertainGuarantee:
        $ref: '#/definitions/PeriodCertainGuarantee'
      payoutType:
        $ref: '#/definitions/PayoutType2'
      policyProductType:
        $ref: '#/definitions/PolicyProductType2'
      payoutAmount:
        description: 'Amount paid out, based on mode frequency'
        type: number
        format: double
      payoutMode:
[...]
