servers:
- tenant_id: {{ .tenant_id }}
  id: fdx
  name: FDX
  profile: fdx
  access_token_strategy: "jwt"
  enforce_pkce: false
  grant_types:
    - authorization_code
    - implicit
    - refresh_token
    - client_credentials
  initialize: true
  {{ if .read_client_certificate_from_header }}
  read_client_certificate_from_header: {{ .read_client_certificate_from_header }}
  client_certificate_header: {{ .client_certificate_header }}
  {{ end }}
  root_cas: |
{{ readFile .ca_pem_file | indent 4 }}

idps:
- tenant_id: {{ .tenant_id }}
  authorization_server_id: fdx
  id: bugkgai3g9kregtu04u0
  name: Sandbox IDP
  method: static
  credentials:
    static:
      users:
      - username: user
        password: p@ssw0rd!
        authentication_context:
          name: user
          mobile_verified: "+48123456789"

server_consents:
- tenant_id: {{ .tenant_id }}
  client_id: {{ .consent_page_client_id }}
  custom:
    server_consent_url: {{ .fdx_consent_page_url }}
  server_id: fdx
  type: custom

clients:
# consent page
- tenant_id: {{ .tenant_id }}
  authorization_server_id: system
  client_id: {{ .consent_page_client_id }}
  client_secret: {{ .consent_page_client_secret }}
  client_name: custom server consent
  grant_types:
  - client_credentials
  scopes:
  - manage_openbanking_consents
  token_endpoint_auth_method: client_secret_basic
# developer tpp
- tenant_id: {{ .tenant_id }}
  authorization_server_id: fdx
  client_id: {{ .developer_tpp_client_id }}
  client_name: Developer TPP
  client_uri: https://localhost:8090
  client_secret: {{ .developer_tpp_client_secret }}
  token_endpoint_auth_method: client_secret_post
  redirect_uris:
  - {{ .developer_tpp_url }}/callback
  subject_type: pairwise
  response_types:
  - token
  - code
  scopes:
  - openid
  grant_types:
  - client_credentials
  - authorization_code
  - refresh_token
