
  <form action="mfa?login_id={{ .login_request.ID }}&login_state={{ .login_request.State }}&consent_type={{ .login_request.ConsentType }}" method="post" id="form">
    <input type="hidden" name="action" value="generate"/>
    <div class="mfa-container">
      <div class="mfa-container__item">
        <div class="mfa-container__item--left">
          <div class="heading-2">Additional verification required</div>
          <div class="heading-4" style="margin-top: 12px">To proceed, select where to send your security code</div>
          <div class="caption" style="margin-top: 12px">By choosing text message you authorize <strong>GoBank</strong>
            to
            text
            and call you.
          </div>
          <div class="caption">Message rates may apply</div>
        </div>
      </div>
      <div class="mfa-container__item">
        <div class="mfa-container__item--right">
          <div class="mfa-container__card hover" onclick="submit('form')">
            <div>
              <div style="font-size: 14px">Text message</div>
              <div class="caption" style="margin-top: 6px;">{{ .mobile }}</div>
            </div>
            <div>
              <i class="material-icons mdc-icon-button__icon"> keyboard_arrow_right</i>
            </div>
          </div>

          <div class="mfa-container__card" style="margin-top: 16px;">
            <div>
              <div style="font-size: 14px">Email</div>
              <div class="caption" style="margin-top: 6px;">k*****n@mymail.com</div>
            </div>
            <div>
              <i class="material-icons mdc-icon-button__icon"> keyboard_arrow_right</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

<script>
  function submit(id) {
    const form = document.getElementById(id);
    form.submit();
  }
</script>
