<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
<head>
  <link rel="stylesheet" href="/assets/material-components-web.min.css">
  <script src="/assets/material-components-web.min.js"></script>
  <link href="/assets/fonts.css" rel="stylesheet">
  <link href="/assets/material-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/style.css">
  <title>TPP sample app</title>
</head>

<body>
<div class="aut-banner">
  <div class="aut-banner-logo">
    <img src="/assets/images/cloudentity-logo-short.png" alt="Cloudentity ACP">
    <span>TPP sample app</span>
  </div>
  <div class="aut-banner-contact">
    <button class="mdc-button mdc-button--raised" onclick="onRetry()" id="fdx-auth-try-again-button">
      <div class="mdc-button__ripple"></div>
      <span class="mdc-button__label">Try again</span>
    </button>
  </div>
</div>

<div class="aut-container" style="padding: 5px; width: 1024px;">
  <div class="aut-demo-info">
    <div class="material-icons aut-demo-info-icon">error_outline</div>
    <div class="aut-demo-info-text" id="fdx-auth-info-text">
      <p style="color: rgba(0, 0, 0, 0.87); font-weight: 500">Authenticated</p>
      <p style="color: rgba(0, 0, 0, 0.6);">User has been authenticated. Authorization code has been exchanged. Implicit FDX consent has been created, see `grant_id` parameter</p>
    </div>
  </div>
</div>
<div class="aut-container" style="padding: 5px; width: 1024px;">
  <p>Token response:<p>
  <pre id="fdx-auth-token-response">{{ .token_response }}</pre>

  <p>Access token:</p>
  <pre id="fdx-auth-access-token">{{ .access_token_payload }}</pre>

  <p>Get consent response:<p>
  <pre id="fdx-auth-consent-response">{{ .consent_response }}</pre>

</div>

<script>
  function onRetry () {
    window.location.href = "/";
  }
</script>

</body>
</html>
