<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
<head>
  <link rel="stylesheet" href="/assets/material-components-web.min.css">
  <script src="/assets/material-components-web.min.js"></script>
  <link href="/assets/fonts.css" rel="stylesheet">
  <link href="/assets/material-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/style.css">
  <title>TPP sample app</title>
</head>

<body>

<div class="aut-banner">
  <div class="aut-banner-logo">
    <img src="/assets/images/cloudentity-logo-short.png" alt="Cloudentity ACP">
    <span>TPP sample app</span>
  </div>
  <div class="aut-banner-contact">
    <button class="mdc-button mdc-button--raised" onclick="onLogin()" id="fdx-int-reg-login-button">
      <div class="mdc-button__ripple"></div>
      <span class="mdc-button__label">Login</span>
    </button>
  </div>
</div>

<div class="aut-container" style="padding: 5px; width: 1024px;">
  <div class="aut-demo-info">
    <div class="material-icons aut-demo-info-icon">error_outline</div>
    <div class="aut-demo-info-text" id="fdx-int-reg-info-text">
      <p style="color: rgba(0, 0, 0, 0.87); font-weight: 500">PAR initialized</p>
      <p style="color: rgba(0, 0, 0, 0.6);">PAR request has been sent. Below you can find the response from POST /par endpoint.</p>
    </div>
  </div>
</div>

<div class="aut-container" style="width: 1024px;">
  <pre id="fdx-int-reg-request-uri">{{ .account_access_consent_raw }}</pre>

  <p style="margin-top:32px">TPP should now use authorization code grant flow with to authenticate user.</p>

  <p style="margin-top:32px">Here's the full authorize request:</p>
  <pre id="fdx-int-reg-full-authorize-request">{{ .login_url }}</pre>

  <p style="margin-top:32px">After clicking Login, TPP will redirect user to ACP to start authentication process.
  <p/>
  <p>After authentication, ACP redirects user to bank's consent page.</p>
  <p>The consent page uses ACP's internal APIs to accept or reject account access consent (<a
            href="https://localhost:8443/api/swagger/default/default/#/openbanking/todo" target="_blank">see swagger)</a>
  </p>

  <p style="margin-top:32px">Click <a href="{{ .login_url }}">Login</a> to proceed.</p>
</div>

<script>
  function onLogin () {
    window.location.href = {{ .login_url }};
  }
</script>

</body>
</html>
